{% extends "tinker-base.html" %}

{% block title  %} Whoops {% endblock %}


{% block main_content %}

   <div class="row">

    <section id="oops">
      <div class="row">
      <div class="large-9 medium-9 small-12 columns small-centered">
      <h1 class="oversized">Oh, fiddlesticks, what now?</h1>

      <h5>Looks like you don't have permission to view this page. Go <a href="/"> home </a> or try an item below</h5>
      <ul>
       <li><a href="/" class="">Home</a></li>
       <li><a href="/event" class="">Events</a></li>
      {% if 'FACULTY' in session['roles'] %}
           <li><a href="/faculty-bios" class="">Faculty Bios</a></li>
      {% endif %}
      {# <li><a href="/wufoo" class="">Wufoo</a></li> #}
       </ul>
      </div>
      </div>
     </section>

            <!-- Main Blog Content -->
            <div class="large-9 columns" role="content">


            </div>

   </div>
{% endblock %}

{% block head_add %}

  <style>

   .button-group>li>.button-nav {
     background-color: #0069AA;
   }
   .button-group>li>.button-nav:hover {
     background-color: #0F2C52;
   }

    .button.small, .button.small.success, .button.tiny, .button.postfix, .input.postfix{
      background-color: #0069AA;
    }

    .button.small:hover, .button.small.success:hover, .button.tiny:hover, .button.postfix:hover{
      background-color: #0F2C52;
    }

  </style>


{% endblock %}