{% extends "tinker-base.html" %}


{% block main_content %}

   <div class="row">

    <section id="oops">
      <div class="row">
      <div class="large-9 medium-9 small-12 columns small-centered">
      <h1 class="oversized"> It's probably not a problem, probably.</h1>
      <h5>Go <a href="/"> home </a> or try an item below</h5>
      <ul>
       <li><a href="/" class="">Home</a></li>
       <li><a href="/add-event" class="">New Event</a></li>
       <li><a href="/faculty_bios" class="">Faculty Bio</a></li>
       <li><a href="/wufoo" class="">Wufoo</a></li>
       </ul>
      </div>
      </div>
     </section>

            <!-- Main Blog Content -->
            <div class="large-9 columns" role="content">


            </div>

   </div>

    {{ session['roles'] }}
{% endblock %}

{% block head_add %}

  <style>

   .button-group>li>.button-nav {
     background-color: #0069AA;
   }
   .button-group>li>.button-nav:hover {
     background-color: #0F2C52;
   }

    .button.small, .button.small.success, .button.tiny, .button.postfix, .input.postfix{
      background-color: #0069AA;
    }

    .button.small:hover, .button.small.success:hover, .button.tiny:hover, .button.postfix:hover{
      background-color: #0F2C52;
    }

  </style>


{% endblock %}