{% extends "foundation_base.html" %}


{% block body_content %}


  <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
         <ul class="button-group">
           <li><a href="/" class="button">Home</a></li>
           <li><a href="/add-event" class="button">New Event</a></li>
           <li><a href="/facutly-bio" class="button">Edit Bio</a></li>
           <li><a href="/wufoo" class="button">Wufoo</a></li>

          </ul>
        </div>
        <h1>Not Found</h1>
        <hr />
      </div>
    </div>

   <div class="row">

    <section id="oops">
      <div class="row">
      <div class="large-9 medium-9 small-12 columns small-centered">
      <h1 class="oversized"> It's probably not a problem, probably.</h1>
      <h5>Go <a href="/"> home </a> or try an item below</h5>
      <ul>
       <li><a href="/" class="">Home</a></li>
       <li><a href="/add-event" class="">New Event</a></li>
       <li><a href="/facutly-bio" class="">Edit Bio</a></li>
       <li><a href="/wufoo" class="">Wufoo</a></li>
       </ul>
      </div>
      </div>
     </section>

            <!-- Main Blog Content -->
            <div class="large-9 columns" role="content">


            </div>

   </div>


{% endblock %}