{% if name %}
<h2>{{ name }}</h2>
{%  endif %}
    <table>
        <tr>
            <td>Title</td>
            <td>{{ title }}</td>
        </tr>
        <tr>
            <td>Path</td>
            <td>{{ path }}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{ type }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ descriptiom }}</td>
        </tr>
    </table>

<div class="row">

    <div class="large-6 columns">
        <h4>WWW last published</h4>
        <p><a href="https://www.bethel.edu/{{ path }}" target="_blank">{{ www_publish_date }}</a></p>
        <iframe src="https://www.bethel.edu/{{ path }}" height="400" width="400"></iframe>
    </div>

    <div class="large-6 columns">
        <h4>Staging last published</h4>
        <p><a href="https://staging.bethel.edu/{{ path }}" target="_blank">{{ staging_publish_date }}</a></p>
        <iframe src="https://staging.bethel.edu/{{ path }}" height="400" width="400"></iframe>
    </div>
</div>