config.py
*.pyc
migrations/
creds.json
workspace.xml
tasks.xml
error.log
redirects.txt
app.db
upgrade.txt
node_modules/
tinker/static/bower_components
tinker/static/scripts/js/
tinker/.DS_Store

.idea
.idea/tinker.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/misc.xml

db_repository/versions/002_migration.py
db_repository/versions/003_migration.py

redirects.txt.back

config.py.dist
config/*.py

tinker/.DS_Store

config/.DS_Store
flask_profiler.sql

*/placeholder.html

programs.csv
