config.py
*.pyc
migrations/
creds.json
workspace.xml
tasks.xml
error.log
redirects.txt
app.db
.idea
.idea/tinker.iml
upgrade.txt
.idea/inspectionProfiles/profiles_settings.xml

.idea/modules.xml

.idea/misc.xml

.idea/misc.xml

db_repository/

migrations/

db_repository/versions/002_migration.py

db_repository/versions/003_migration.py

redirects.txt.back

tinker/.DS_Store

tinker/admin/program_search/creds.json
node_modules/
bower_components/
tinker/static/scripts/js/

config/*.py
