import os
_basedir = os.path.abspath(os.path.dirname(__file__))

##Foundation configs
FOUNDATION_USE_MINIFIED = False
FOUNDATION_USE_CDN = True

##emails
ADMINS = ['']

SENTRY_URL = ''

#Cascade / Events
secret_key = ''
SECRET_KEY = ''

FACULTY_BIO_XML_ID = ''
EVENT_XML_ID = ''
E_ANNOUNCEMENTS_XML_ID = ''

ENVIRON = ''
TEST_USER = ''

SITE_ID = ''

CASCADE_LOGIN = {'username': 'username', 'password': 'password'}

API_USERNAME = ''
API_PASSWORD = ''

BASE_URL = ""
SOAP_URL = ""
WSDL_URL = ''
API_URL = ''

CACHE_DEFAULT_TIMEOUT = 300

INSTALL_LOCATION = ''

WSAPI_SECRET = ''

##Wufoo
API_KEYS = ['key1', 'key2']
WUFOO_BASE_URL = ''


#Redirect
REDIRECT_FILE_PATH = ""
REDIRECT_MAP_PATH = ""

UPLOAD_FOLDER = ""

PROGRAMS_XML = ''
GSPREAD_PATH = ''

THUMBOR_STORAGE_LOCATION = ''
THUMBOR_RESULT_STORAGE_LOCATION = ''
THUMBOR_CALL_CMD = []


METADATA_EVENT_ID = ''
METADATA_ROBUST_ID = ''
METADATA_JOB_POSTING_ID = ''
DATA_DEF_FACULTY_BIO_ID = ''

FACULTY_LISTING_CAPS_ID = ''
FACULTY_LISTING_GS_ID = ''
FACULTY_LISTING_SEM_ID = ''
FACULTY_LISTING_CAS_ID = ''
