import os
_basedir = os.path.abspath(os.path.dirname(__file__))

##Foundation configs
FOUNDATION_USE_MINIFIED = False
FOUNDATION_USE_CDN = True

BASE_URL = base_url

secret_key = "superdupersecret"
SECRET_KEY = "superdupersecret"

EVENT_XML_ID = "xmlid"


ENVIRON = "test"
TEST_USER = 'username'

SITE_ID = "site_id_hash"

CASCADE_LOGIN = {'username': 'username', 'password': 'password'}
