Flask
gunicorn
Flask-Cache
Flask-Foundation
Flask-Script
Flask-WTF
Flask-Fixtures
WTForms-Components
flask-hmacauth
suds
simplejson
--allow-external WTForms
requests
Flask-SQLAlchemy==2.3.2
sqlalchemy-migrate==0.11.0
BeautifulSoup
Flask-Cors
arrow
feedformatter
feedparser
createsend==4.2.1
raven
Flask-Classy
bu-cascade
blinker
discover
importlib
gspread
oauth2client
PyOpenSSL
flask-profiler
ordereddict
chromedriver
selenium==3.6.0
HTMLParser
unidecode==0.4.21
namedentities