{% extends "tinker-base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
  <style type="text/css">
      {# Override the default height for a select field #}
        select {
            height: auto !important;
        }
  </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}


{% block main_content %}
<div class="row">
  <div class="large-12 columns">
        <p>We are currently modifying the faculty bios template, please come back in a couple hours. Sorry for the inconvenience.</p>
  </div>
 </div>

{% endblock %}


