{% extends "tinker-base.html" %}

{% block title %}Sync{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
<a href="{{ url_for('sync.SyncView:all') }}" class="small button success">Sync</a>

<h3>Updated Values:</h3>
    {% for key in data %}
        {# only display the keys that were updated #}
        {% if key in returned_keys %}
            <h4>{{ key }}</h4>
            <ul>
            {% for response in data[key] %}
                <li>{{ response }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
