{% extends "tinker_base.html" %}

{% set title = 'User Roles' %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <p>You may choose to view Tinker by viewing as a single role or by viewing as a specific username.</p>
                <label>
                    Role
                    <br />
                    <select id="role">
                        {% for role in cascade_md_roles['portal-roles'] %}
                            <option value="{{ role['value'] }}">{{ role['value'] }}</option>
                        {% endfor %}
                    </select>
                </label>
                    <a id='view-by-role' class="btn btn-primary admin-viewer">View</a>
                <hr/>
                <label>
                    Username
                    <input type="text" id="username">
                    <a id='view-by-username' class="btn btn-primary admin-viewer">View</a>
                </label>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.admin-viewer').click(function(){
                var role = '';
                var username = '';
                if( $(this).attr('id') == 'view-by-role')
                    role = $('#role').val();
                if( $(this).attr('id') == 'view-by-username')
                    username = $('#username').val();
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for('user_roles.UserRolesView:test_roles_and_users_submit') }}',
                    data: {'role': role, 'username': username },
                        success: function(){
                            window.location.href = '/'
                        },
                        error: function(){
                            //TODO Write an error function
                        }
                });
            })
        });
    </script>
{% endblock %}
