{% extends "tinker_base.html" %}

{% set title = "Add Redirect Domain" %}

{% block page_title %}Add Redirect Domain{% endblock %}

{% block main_content %}
    <h1>Instructions:</h1>
        <ol>
            <li>Double check the list of domains:</li>
                <ul>
                    {% for domain in redirect_domain_list %}
                        <li>{{ domain }}</li>
                    {% endfor %}
                </ul>
            <li>If you don't see your desired domain above, click
                <a href="https://github.com/betheluniversity/tinker/blob/Redirect-Multiple-Domains/tinker/admin/redirects/redirect_domains.py">
                    here</a> to go to Github.</li>
            <li>Once you are on the page, hit the edit button to add your domain to the list separated by a comma.</li>
                <ul>
                    <li>There should not be a comma after the last domain in the list.</li>
                    <li>Follow the same format as the other domains.</li>
                </ul>
            <li>When your domain is added, come back to this page to click the button.
                This will update the list on the site.</li>
                <div id="update-domains" class="btn btn-primary">Update</div>
            <li>Click <a href='{{ url_for("RedirectsView:index") }}'>here</a> to return to the Redirects page.</li>
        </ol>

    <script type="text/javascript">

        $(document).ready( function (){

        });

    </script>

{% endblock %}
