{% for redirect in redirects %}

    <!-- Table of Redirects -->
    <tr class="redirect-row table-hover">

        <!-- Info and Delete column stuff -->
        <td>
            <span class="info-column" data-reveal-id="confirmModal" data-toggle="modal" data-target="#infoModal"
            data-id="{{ redirect.id }}" data-username="{{ redirect.username }}"
            data-timestamp="{{ redirect.timestamp }}">&#9432;<!-- Info symbol --></span>
            <span class="delete-column" data-reveal-id="confirmModal" data-toggle="modal" data-target="#deleteModal"
            data-from-path="{{ redirect.from_path }}">x</span>
        </td>

        <!-- From Path -->
        <td>
            <span class="from_path">{{ redirect.from_path }}</span>
            <!-- Short URL, if it has one -->
            {% if redirect.short_url %}
                <span class="short_url label round">Short URL</span>
            {% endif %}
        </td>

        <!-- To URL -->
        <td class="to_url">{{ redirect.to_url }}</td>

        <!-- Expiration Date, if it has one -->
        {% if redirect.expiration_date %}
            <td class="expiration_date">{{ redirect.expiration_date }}</td>
        {% else %}
            <td></td>
        {% endif %}

    </tr>

{% endfor %}