<table>
    <caption>{{ 'These are the redirects being changed' }}</caption>
    <thead>
        <tr>
            <th>{{ 'To Url' }}</th>
            <th>{{ 'Response' }}</th>
        </tr>
    </thead>
    {% for changed_dict in redirect_changes %}
        <tr>
            <td>{{ changed_dict['to_url'] }}</td>
            <td>{{ changed_dict['response'] }}</td>
        </tr>
    {% endfor %}
</table>

<table>
    <caption>{{ 'These are the redirects that can be deleted' }}</caption>
    <thead>
        <tr>
            <th>{{ 'From Path' }}</th>
            <th>{{ 'To Url' }}</th>
        </tr>
    </thead>
    {% for deleted_dict in redirect_changes %}
        <tr>
            <td>{{ deleted_dict['from_path'] }}</td>
            <td>{{ deleted_dict['to_url'] }}</td>
        </tr>
    {% endfor %}
</table>
