<div>
{% if changed|length == 0 and deleted|length == 0 %}
    There are no changes or deletions to worry about. Good work!<br>
{% else %}
    {% if changed|length > 0 %}
       These are the redirects being changed<br>
       To Url --> Response<br/>
        {% for changed_dict in changed %}
            {{ changed_dict['to_url'] }} --> {{ changed_dict['response'] }}<br>
        {% endfor %}
    {% endif %}

    {% if deleted|length > 0 %}
        These are the redirects that can be deleted<br>
        From Path --> To Url<br/>
        {% for deleted_dict in deleted %}
            {{ deleted_dict['from_path'] }} --> {{ deleted_dict['to_url'] }}<br>
        {% endfor %}
    {% endif %}
{% endif %}
</div>