<p>--- THIS IS A TEST (caleb) ---</p>

{% if changed|length == 0 and deleted|length == 0 %}
    <p>There are no changes or deletions to worry about. Good work!</p>
{% else %}
    {% if changed|length > 0 %}
       <p>These are the redirects being changed</p>
       <p>To Url | Response</p>
        {% for changed_dict in changed %}
            <p>{{ changed_dict['to_url'] }} => {{ changed_dict['response'] }}</p>
        {% endfor %}
    {% endif %}

    {% if deleted|length > 0 %}
        <p>These are the redirects that can be deleted</p>
        <p>From Path | To Url</p>
        {% for deleted_dict in deleted %}
            <p>{{ deleted_dict['from_path'] }} => {{ deleted_dict['to_url'] }}</p>
        {% endfor %}
    {% endif %}
{% endif %}