{% extends "tinker_base.html" %}

{% set title = 'Redirects' %}

{% block page_title %}Redirects{% endblock %}

{% block row_width %}12{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form action="" id="new-redirect-form">
                            <div class="row less-left-margin">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        From Path:
                                        <input type="text" id="new-redirect-from"
                                               class="form-control no-margin-bottom"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        To URL:
                                        <input type="text" id="new-redirect-to" class="form-control no-margin-bottom"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        Expiration Date:
                                        <input type="text" id="expiration-date" class="form-control no-margin-bottom"/>
                                    </div>
                                </div>
                            </div>
                            <label class="checkbox" for="new-redirect-short-url">
                                <span class="icons">
                                    <span class="first-icon fa fa-square-o"></span>
                                    <span class="second-icon fa fa-check-square-o"></span>
                                </span>
                                <input type="checkbox" name="new-redirect-short-url" id="new-redirect-short-url">
                                Short URL
                            </label>
                            <div id="redirects-save" class="btn btn-primary">
                                Save
                            </div>
                        </form>
                    </div>
                </div>
                <table class="redirect-table table">
                    <thead>
                    <tr>
                        <th>Info</th>
                        <th>From Path</th>
                        <th>To URL</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="redirects-search-output">
                    </tbody>
                </table>
                {# spinner placeholder #}
                <div id="spinner" class="spinner" style="display:none;">
                    <img id="img-spinner" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            function updateTable(data) {
                $("#redirects-search-output").html(data);
                $('#new-redirect-to').attr("disabled", false);

                //Listens for a click to delete a redirect
                $(".delete-column").on('click', function () {
                    $("#modal-confirm").attr("data-delete-id", $(this).data('id'));
                });

                // Listens for a click to get info on a redirect
                $(".info-column").on('click',function(){
                    // Displaying data
                    $("#modal-id-display").text($(this).data('id')).show();
                    $("#modal-username-display").text($(this).data("username")).show();
                    $("#modal-date-display").text($(this).data("timestamp")).show();
                    $("#modal-exp-date-display").text($(this).data("exp-date")).show();
                    $("#modal-from-path-display").text($(this).data("from-path")).show();
                    $("#modal-to-url-display").text($(this).data("to-url")).show();
                    $("#modal-last-edited-display").text($(this).data("last-edited")).show();
                    $("#modal-edit-redirect-btn").show();
                    // Checkbox for short url
                    $("#modal-short-url-info").show();
                    $("#modal-short-url-edit").hide();
                    if($(this).data("short-url") == "True"){
                        // Show the uneditable checkboxes
                        $("#modal-checked").show();
                        $("#modal-unchecked").hide();
                        // Set the values for when edit is clicked
                        $('#edit-redirect-short-url').attr('checked', true);
                        $('#edit-redirect-short-url').parent().addClass('checked');
                    }else{
                        $("#modal-checked").hide();
                        $("#modal-unchecked").show();
                        $('#edit-redirect-short-url').attr('checked', false);
                        $('#edit-redirect-short-url').parent().removeClass('checked');
                    }
                    // Hiding edit fields
                    $("#modal-id-edit").val($(this).data('id')).hide();
                    $("#modal-username-edit").val($(this).data('username')).hide();
                    $("#modal-date-edit").val($(this).data('timestamp')).hide();
                    $("#modal-exp-date-edit").val($(this).data('exp-date')).hide();
                    $("#modal-from-path-edit").val($(this).data('from-path')).hide();
                    $("#modal-to-url-edit").val($(this).data('to-url')).hide();
                    $("#modal-last-edited-edit").val($(this).data("last-edited")).hide();
                    $("#modal-submit-edits-btn").hide();
                    $("#modal-cancel-edits-btn").hide();
                });
            }

            var delay = (function () {
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            function showAdd() {
                $("#new-redirect-to").show();
                $("#redirect-add").show();
            }

            function loadTableForSearch(redirect_from_path, redirect_to_url) {
                // type needs to be either 'from_path' or 'to_url'
                var search = {'from_path': redirect_from_path, 'to_url': redirect_to_url};
                var url = "{{ url_for('RedirectsView:search') }}";
                $.post(url, search, function (data) {
                    updateTable(data);
                });
            }

            $('#new-redirect-to').keyup(function () {
                $('#spinner').show();
                var input = $(this);
                input.val(input.val().replace(/ /g, '')); // eliminates spaces
                delay(function () {
                    loadTableForSearch($('#new-redirect-from').val(), input.val());
                    $('#spinner').hide();
                }, 300);
            });

            $('#new-redirect-from').keyup(function () {
                $('#spinner').show();
                var input = $(this);
                input.val(input.val().replace(/ /g, '')); // eliminates spaces
                var value = input.val();
                // check if the from path starts with a /
                if (value[0] != '/' && value.length > 0) {
                    input.val("/" + value); // add in a slash
                    value = input.val();
                }
                delay(function () {
                    loadTableForSearch(value, $('#new-redirect-to').val());
                    $('#spinner').hide();
                }, 300);
            });

            $(document).ready(function () {

                $('#redirects-save').click(function () {
                    var data = {
                        'new-redirect-from': $('#new-redirect-from').val(),
                        'new-redirect-to': $('#new-redirect-to').val(),
                        'new-redirect-short-url': $('#new-redirect-short-url').parent().hasClass('checked'),
                        'expiration-date': $('#expiration-date').val()
                    };

                    var url = "{{ url_for('RedirectsView:new_redirect_submit') }}";
                    $.post(url, data, function (data) {
                        if(data){
                            data = JSON.parse(data);
                            $.notify({
                                message: data.message
                            }, {
                                type: data.type,
                                placement: {
                                    align: 'center'
                                },
                            });
                        }
                        loadTableForSearch($('#new-redirect-from').val(), $('#new-redirect-to').val());
                        clearFields();
                    });
                });

                $(".btn-alert").click(function () {
                    var redirect_data = {"redirect_id": $(this).attr('data-delete-id')};
                    var url = "{{ url_for('RedirectsView:delete_redirect') }}";
                    $.post(url, redirect_data, function (data) {
                        if (data) {
                            loadTableForSearch($("#new-redirect-from").val(), $('#new-redirect-to').val());
                        }
                    });
                });

                $(".edit-redirect-btn").click(function () {
                    // Hiding info fields
                    $("#modal-id-display").hide();
                    $("#modal-username-display").hide();
                    $("#modal-date-display").hide();
                    $("#modal-exp-date-display").hide();
                    $("#modal-from-path-display").hide();
                    $("#modal-to-url-display").hide();
                    $("#modal-edit-redirect-btn").hide();
                    $("#modal-last-edited-display").hide();
                    // Showing edit fields
                    $("#modal-id-edit").show();
                    $("#modal-username-edit").show();
                    $("#modal-date-edit").show();
                    $("#modal-exp-date-edit").show();
                    $("#modal-from-path-edit").show();
                    $("#modal-to-url-edit").show();
                    $("#modal-submit-edits-btn").show();
                    $("#modal-cancel-edits-btn").show();
                    $("#modal-last-edited-edit").show();
                    // Checkbox for short url
                    $("#modal-short-url-info").hide();
                    $("#modal-short-url-edit").show();
                });

                $(".submit-edits-btn").click(function(){
                    // Submit changes
                    var edits = {
                        'edit-id': $('#modal-id-edit').val(),
                        'edit-redirect-from': $('#modal-from-path-edit').val(),
                        'edit-redirect-to': $('#modal-to-url-edit').val(),
                        'edit-redirect-short-url': $('#edit-redirect-short-url').parent().hasClass('checked'),
                        'edit-expiration-date': $('#modal-exp-date-edit').val()
                    };
                    var url = "{{ url_for('RedirectsView:edit_redirect_submit') }}";
                    $.post(url, edits, function (edits) {
                        if(edits){
                            edits = JSON.parse(edits);
                            $.notify({
                                message: edits.message
                            }, {
                                type: edits.type,
                                placement: {
                                    align: 'center'
                                },
                            });
                        }
                    });
                    loadTableForSearch($('#new-redirect-from').val(), $('#new-redirect-to').val());
                });

            });

            // After buttons are pushed, clears the search/create fields
            function clearFields(){
                $('#new-redirect-to').val('');
                $('#new-redirect-from').val('');
                $('#expiration-date').val('');
                $('#new-redirect-short-url').attr('checked', false);
                $('#new-redirect-short-url').parent().removeClass('checked');
            }

        })
        ;
    </script>

{% endblock %}

{% block modalhtml %}
    <!-- delete modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete?</h4>
                </div>
                <div class="modal-body">
                    Your redirect will be gone forever and ever.
                </div>
                <div class="modal-footer">
                    <a id="modal-confirm" data-delete-id="ID" data-dismiss="modal"
                       class="btn btn-primary btn-alert modal-confirm">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Info modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Redirect Information</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <th>ID:</th>
                            <td>
                                <span id="modal-id-display">No id was loaded</span>
                                <input type="text" id="modal-id-edit" class="uneditable" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <th>Username:</th>
                            <td>
                                <span id="modal-username-display">No username was loaded</span>
                                <input type="text" id="modal-username-edit" class="uneditable" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <th>From Path:</th>
                            <td>
                                <span id="modal-from-path-display">No from path was loaded</span>
                                <input type="text" id="modal-from-path-edit"/>
                            </td>
                        </tr>
                        <tr>
                            <th>To URL:</th>
                            <td>
                                <span id="modal-to-url-display">No to URL was loaded</span>
                                <input type="text" id="modal-to-url-edit"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Short URL:</th>
                            <td>
                                <label id="modal-short-url-info" class="checkbox">
                                    <span class="icons">
                                        <span id="modal-unchecked" class="fa fa-square-o"></span>
                                        <span id="modal-checked" class="fa fa-check-square-o"></span>
                                    </span>
                                </label>
                                <label id="modal-short-url-edit" class="checkbox" for="edit-redirect-short-url">
                                    <span class="icons">
                                        <span class="first-icon fa fa-square-o"></span>
                                        <span class="second-icon fa fa-check-square-o"></span>
                                    </span>
                                    <input type="checkbox" name="edit-redirect-short-url" id="edit-redirect-short-url">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Date Created:</th>
                            <td>
                                <span id="modal-date-display">No timestamp was loaded</span>
                                <input type="text" id="modal-date-edit" class="uneditable" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <th>Expiration Date:</th>
                            <td>
                                <span id="modal-exp-date-display">No expiration date was loaded</span>
                                <input type="text" id="modal-exp-date-edit"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Date Last Edited:</th>
                            <td>
                                <span id="modal-last-edited-display">No timestamp was loaded</span>
                                <input type="text" id="modal-last-edited-edit" class="uneditable" readonly/>
                            </td>
                        </tr>
                    </table>
                    <div class="edit-btn-options">
                        <a id="modal-edit-redirect-btn" class="btn btn-primary edit-redirect-btn">Edit</a>
                        <a id="modal-submit-edits-btn" class="btn btn-primary submit-edits-btn" data-dismiss="modal">Submit</a>
                        <a id="modal-cancel-edits-btn" class="btn btn-primary cancel-edits-btn" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='pikaday.css') }}">
    <script src="{{ url_for('static', filename='pikaday.js') }}"></script>
    <script src="{{ url_for('static', filename='pikaday.jquery.js') }}"></script>
    <script>
        $(document).ready(function () {
            var picker = new Pikaday({
                field: document.getElementById('expiration-date')
            });
            var picker_edit = new Pikaday({
                field: document.getElementById('modal-exp-date-edit')
            });
        });
    </script>
{% endblock %}

