{% extends "tinker-base.html" %}

{% block title %}Clear Cache{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}

    <div class="large-6 columns">
            <label>Path
                <input type="text" id="cpath"/>
            </label>
            <a id="submit" class="button">Submit</a>
        <div id="output"></div>
    </div>

    <script>

{#        maybe remove javascript and instead use a form as in e_announcements/__init__.py in the post method#}
        function submitpath() {
            console.log("Submitpath is called.")
            var urlpath = $("#cpath").val();

            console.log("urlpath is " + urlpath);
            var input_data = {'url': urlpath};

            console.log("inputdata set");
            var cacheurl = "{{ url_for('CacheBlueprint.CacheClear:post') }}";

            console.log("cacheurl is " + cacheurl);
            {# http://api.jquery.com/jquery.getjson/ <--Here is some documentation on getJSON #}
            $.getJSON(cacheurl, {'url': urlpath}, function (data) {
                console.log("function is successful");
                $("#output").text(data.result);
                console.log("data is " + data);
                console.log("data.result is " + data.result);
            });
            console.log("submitpath is done");
            return false;
{#            $("#output").text(urlpath);#}
        }

        $("#submit").bind("click", submitpath)

    </script>
{% endblock %}