{% extends "tinker_base.html" %}

{% set title = 'Clear Cache' %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <label>Path
                            <input type="text" value="" id="cpath" class="form-control"/>
                        </label>
                        <a id="submit" class="btn btn-primary">Submit</a>
                        <div id="output"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='csrf-activator.js') }}"></script>
    <script>
        $(document).ready(function () {
            var csrftoken = "{{ csrf_token() }}";
            activateCSRF(csrftoken);


            function submitpath() {
                var urlpath = $("#cpath").val();
                var input_data = {'url': urlpath};
                var cacheurl = "{{ url_for('CacheBlueprint.CacheClear:submit') }}";
                $.post(cacheurl, input_data, function (data) {
                    $("#output").text(data);
                });
                $("#output").text(urlpath);
            }

            $("#submit").bind("click", submitpath);

            // Ensure the path contains a '/' in the front and no spaces
            $('#cpath').keyup(function () {
                var input = $(this);
                input.val(input.val().replace(/ /g, ''));
                var value = input.val();
                if (value[0] != '/' && value.length > 0) {
                    input.val("/" + value);
                    value = input.val();
                }
            });

        });

        function submitpath() {
            var urlpath = $("#cpath").val();
            var input_data = {'url': urlpath,
                              'csrf_token': document.getElementById("csrf_token").value};
            var cacheurl = "{{ url_for('CacheBlueprint.CacheClear:submit') }}";
            $.post(cacheurl, input_data, function (data) {
                $("#output").text(data);
            });
            $("#output").text(urlpath);
        }

        $("#submit").bind("click", submitpath);

        // Ensure the path contains a '/' in the front and no spaces
        $('#cpath').keyup(function() {
            var input = $(this);
            input.val(input.val().replace(/ /g,''));
            var value = input.val();
            if (value[0] != '/' && value.length > 0) {
              input.val("/" + value);
              value = input.val();
            }
        });
    </script>
{% endblock %}