{% extends "tinker-base.html" %}

{% block title %}Clear Cache{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}

    <div class="large-6 columns">
            <label>Path
                <input type="text" id="cpath"/>
            </label>
            <a id="submit" class="button">Submit</a>
        <div id="output"></div>
    </div>

    <script>
        function submitpath() {
            var urlpath = $("#cpath").val();
            var input_data = {'url': urlpath};
            var cacheurl = "{{ url_for('CacheBlueprint.CacheClear:post') }}";

            $.post(cacheurl, input_data, function (data) {
                $("#output").text(data);
            });

            $("#output").text(urlpath);
        }

        $("#submit").bind("click", submitpath)

    </script>
{% endblock %}