{% extends "tinker_base.html" %}

{% set title = 'Faculty Bios' %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}

    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">

                <p>
                    Your faculty bio has been deleted. It will be removed from your <a href="https://tinker.bethel.edu">Tinker
                    homepage</a> in a few minutes.
                </p>
            </div>
        </div>
    </div>

{% endblock %}