{% extends "tinker_base.html" %}

{% set title = 'Faculty Bios' %}

{% block styles %}
    <style type="text/css">
        input[type="radio"] {
            margin: 0 10px 10px 10px;
        }
    </style>

{% endblock %}

{% block page_title %}
    Edit your Bio
{% endblock %}

<!-- It would be nice to have each section that is separated by a </hr>
to be in it's own card div, something to think about in the future -->

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <h3 class="subtitle">Edit Your Bio</h3>
                <hr/>

                <form id="facultybioform" action="{{ url_for('FacultyBiosView:submit') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="faculty_bio_id" id="faculty_bio_id" value="{{ faculty_bio_id }}"/>

                    {% if form.errors %}
                        <div class="error-alert">
                            <div data-alert class="red-alert">
                                There were errors with your form.
                                <a href="#" class="close">&times;</a>
                            </div>
                        </div>
                    {% endif %}
                    {% for field in form %}
                        {% if field.widget.input_type != 'hidden' %}
                            {# Print any errors for this field#}
                            {% set outer_loop = loop %}
                            {% for error in form.errors[field.name] %}
                                <div class="error-alert">
                                    <div id="red-alert{{ outer_loop.index }}" data-alert class="red-alert">
                                        {{ error }}
                                        <a href="#" class="close">&times;</a>
                                    </div>
                                </div>
                            {% endfor %}

                            {# print the label #}
                            <label for="{{ field.name }}">
                                {{ field.label.text }}
                                {% if field.flags.required %}
                                    <small class="required">required</small>
                                {% endif %}
                            </label>

                            <small class="extra-required">{{ field.description }}</small>

                            {# Print the field #}
                            {% if field.name == "degree" %}
                                {{ degree_fieldset() }}

                            {% elif field.type == "SelectMultipleField" %}
                                {{ field(class="largeselect") }}

                            {% elif field.type == "HeadingField" %}
                                <h3 id="{{ field.id }}">{{ field.label }}</h3>

                            {% elif field.name == "new_job_titles" %}
                                {{ new_job_title_fieldset() }}

                            {% elif field.type == "SelectField" %}
                                {{ field }}

                            {% elif field.type == "CKEditorTextAreaField" %}
                                {{ field(class="ckeditor") }}

                            {% elif field.type == 'RadioField' %}
                                    {% for subfield in field %}
                                        <label style="width: 50px; float: left; margin: 0 20px 0 0;">
                                            {% if (subfield.label).text == field.data %}
                                                <div class="radio checked">{{ subfield() }}{{ subfield.label }}</div>
                                            {% else %}
                                                <div class="radio">{{ subfield() }}{{ subfield.label }}</div>
                                            {% endif %}
                                        </label>
                                    {% endfor %}
                            {% elif field.name == "image" %}
                                {# The image_url field is hidden. So get the image from this. #}
                                <p id="image-div">Is your image a perfect square? Don't forget to crop it at <a
                                        href="http://www.croppola.com">croppola.com</a>. Thanks!</p>
                                {{ form['image'] }}
                                {{ form['image_url'] }}
                                <img id="display_image" src="" style="height:300px; display: none;"/>
                                <script type="text/javascript">
                                    if ($("#image_url").val() == "")
                                        $("#display_image").hide();
                                    else {
                                        $("#display_image").attr("src", "http://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://www.bethel.edu/" + ($("#image_url").val()));
                                        $("#display_image").show();
                                    }

                                    if ("{{ edit_image }}" == "False") {
                                        $("#image").hide();
                                    }

                                </script>
                                <hr/>

                            {% else %}
                                {{ field(size=20) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <button type="submit" formmethod="post" id="faculty-bio-submit-btn" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script src="{{ url_for('static', filename='moment.js') }}"></script>
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#degree-delete1").hide();
            addHandlerDegree(1);

            $("#job-title-delete1").hide();
            addHandlerJobTitle(1);

            function checkNumDegrees() {
                var degrees = $(".degree-fieldset");
                if (degrees.length < 2)
                    $("#degree-delete1").hide();
                else {
                    $("#degree-delete1").show();
                }
            };

            function checkNumJobTitles() {
                var jobs = $(".new-job-fieldset");
                if (jobs.length < 2)
                    $("#job-title-delete1").hide();
                else {
                    $("#job-title-delete1").show();
                }
            };

            function newDegreeTitleFieldset(id) {
                var school = 'school' + id;
                var degree = 'degree-earned' + id;
                var year = 'year' + id;
                var fieldset_node = $('<fieldset>').addClass('degree-fieldset');
                var inner_node = $("<div>").addClass('content');
                inner_node.append($("<legend>")
                    .append($('<i>').addClass('fa fa-times fa-delete').attr('id', 'degree-delete' + id).attr('data-id', id)).append("Degree " + id + ' ')
                    .append($('<small>').addClass('required').html(' required')));
                inner_node.append($("<label>").attr('for', school).html("School"));
                inner_node.append($("<input type='text'>").attr('name', school).attr('id', school).addClass("no-border"));
                inner_node.append($("<label>").attr('for', degree).html("Degree Earned"));
                inner_node.append($("<input type='text'>").attr('name', degree).attr('id', degree).addClass("no-border"));
                inner_node.append($("<label>").attr('for', year).html("Year"));
                inner_node.append($("<input type='text'>").attr('name', year).attr('id', year).addClass("no-border"));
                fieldset_node.append($("<div>").addClass('card').append(inner_node));
                return fieldset_node;
            }

            function newJobTitlesFieldset(id) {
                var title = 'new-job-title' + id;
                var fieldset_node = $('<fieldset>').addClass('new-job-fieldset');
                var inner_node = $("<div>").addClass('content');
                inner_node.append($("<legend>")
                    .append($('<i>').addClass('fa fa-times fa-delete').attr('id', 'job-title-delete' + id).attr('data-id', id)).append("Job Title " + id + ' ')
                    .append($('<small>').addClass('required').html(' required')));

                inner_node.append($('<div>').attr('class', 'schools-div' + id).append(
                        $("<label>").html('School')).append(
                        $("<select>").attr('id', 'schools' + id).attr('name', 'schools' + id))
                );

                inner_node.append($('<div>').attr('class', 'hide-when-school-changes' + id).attr('id', 'undergrad-div' + id).append(
                        $("<label>").html('Program')).append(
                        $("<select>").attr('id', 'undergrad' + id).attr('name', 'undergrad' + id))
                );

                inner_node.append($('<div>').attr('class', 'hide-when-school-changes' + id).attr('id', 'adult-undergrad-div' + id).append(
                        $("<label>").html('Program')).append(
                        $("<select>").attr('id', 'adult-undergrad' + id).attr('name', 'adult-undergrad' + id))
                );

                inner_node.append($('<div>').attr('class', 'hide-when-school-changes' + id).attr('id', 'graduate-div' + id).append(
                        $("<label>").html('Program')).append(
                        $("<select>").attr('id', 'graduate' + id).attr('name', 'graduate' + id))
                );

                inner_node.append($('<div>').attr('class', 'hide-when-school-changes' + id).attr('id', 'seminary-div' + id).append(
                        $("<label>").html('Program')).append(
                        $("<select>").attr('id', 'seminary' + id).attr('name', 'seminary' + id))
                );

                inner_node.append($('<div>').attr('class', 'hide-when-school-changes' + id).attr('id', 'dept-chair-div' + id)
                        .append($('<label>').html('Are you the Department Chair?')
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('Yes').append($('<input type="radio">').attr('name', 'dept-chair' + id).attr('value', 'Yes'))))
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('No').append($('<input type="radio">').attr('name', 'dept-chair' + id).attr('value', 'No'))))
                        )
                );
                inner_node.append($('<div>').attr('class', 'hide-when-school-changes' + id).attr('id', 'dean-of-nursing-div' + id)
                        .append($('<label>').html('Are you the Dean of Nursing?')
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('Yes').append($('<input type="radio">').attr('name', 'dean-of-nursing' + id).attr('value', 'Yes'))))
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('No').append($('<input type="radio">').attr('name', 'dean-of-nursing' + id).attr('value', 'No'))))
                        )
                );
                inner_node.append($('<div>').attr('class', 'hide-when-school-changes' + id).attr('id', 'program-director-div' + id)
                        .append($('<label>').html('Are you the Program Director?')
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('Yes').append($('<input type="radio">').attr('name', 'program-director' + id).attr('value', 'Yes'))))
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('No').append($('<input type="radio">').attr('name', 'program-director' + id).attr('value', 'No'))))
                        )
                );
                inner_node.append($('<div>').attr('id', 'fulltime-div' + id)
                        .append($('<label>').html('Are you a full-time Faculty member?')
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('Yes').append($('<input type="radio">').attr('name', 'fulltime' + id).attr('value', 'Yes'))))
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('No').append($('<input type="radio">').attr('name', 'fulltime' + id).attr('value', 'No'))))
                        )
                );
                inner_node.append($('<div>').attr('id', 'adjunct-div' + id)
                        .append($('<label>').html('Are you an adjunct Faculty member?')
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('Yes').append($('<input type="radio">').attr('name', 'adjunct' + id).attr('value', 'Yes'))))
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('No').append($('<input type="radio">').attr('name', 'adjunct' + id).attr('value', 'No'))))
                        )
                );
                inner_node.append($('<div>').attr('id', 'emeritus-div' + id)
                        .append($('<label>').html('Are you Emeritus/Emerita?')
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('Emeritus').append($('<input type="radio">').attr('name', 'emeritus' + id).attr('value', 'Emeritus'))))
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('Emerita').append($('<input type="radio">').attr('name', 'emeritus' + id).attr('value', 'Emerita'))))
                            .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('Neither').append($('<input type="radio">').attr('name', 'emeritus' + id).attr('value', 'Neither'))))
                        )
                );
                inner_node.append($('<div>').attr('class', 'hide-when-school-changes' + id).attr('id', 'lead-faculty-div' + id)
                        .append($('<label>').html('For this program, I am the...')
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('Lead Faculty').append($('<input type="radio">').attr('name', 'lead-faculty' + id).attr('value', 'Lead Faculty'))))
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('Program Director').append($('<input type="radio">').attr('name', 'lead-faculty' + id).attr('value', 'Program Director'))))
                                .append($('<div>').addClass('radio')
                                        .append($('<span>').addClass('icons')
                                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-circle-o').addClass('fa-base'))
                                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-dot-circle-o').addClass('fa-base')))
                                        .append($('<label>').html('Other').append($('<input type="radio">').attr('name', 'lead-faculty' + id).attr('value', 'Other'))))
                        )
                );

                inner_node.append($('<div>').attr('id', 'new-job-title-div' + id).append(
                        $("<label>").html('Title').append(
                                $("<input type='text'>").attr('id', 'new-job-title' + id).attr('name', 'new-job-title' + id).addClass('no-border')
                        )
                ));

                fieldset_node.append($("<div>").addClass('card').append(inner_node));

                return fieldset_node;
            }

            function addHandlerDegree(id) {
                $("#degree-delete" + id).click(function () {
                    id = $(this).data("id");
                    var list = $(".degree-fieldset");
                    for (var i = id; i < list.length; i++) {
                        $('#school' + (i)).val($('#school' + (i + 1)).val());
                        $('#degree-earned' + (i)).val($('#degree-earned' + (i + 1)).val());
                        $('#year' + (i)).val($('#year' + (i + 1)).val());
                    }
                    list.last().remove();
                    checkNumDegrees();
                })
            };

            function addHandlerJobTitle(id) {
                $("#job-title-delete" + id).click(function () {
                    id = $(this).data("id");
                    var list = $(".new-job-fieldset");
                    for (var i = id; i < list.length; i++) {
                        // Schools
                        $('#schools' + (i)).val($('#schools' + (i + 1)).val());
                        $('#schools' + (i)).change();

                        // Programs
                        var programs = ['#undergrad', '#adult-undergrad', '#graduate', '#seminary'];
                        $.each(programs, function(index, program){
                            // move the value
                            $(program + (i)).val($(program + (i + 1)).val());

                            // check the value of the one being deleted, call .change() if necessary
                            program = $(program+i);
                            if( program.val() != '' && program.val() != '-select-' )
                                program.change();
                        });

                        // Program Directors
                        $('#dept-chair' + (i)).val($('input[name=dept-chair' + (i+1) + ']:checked').val());
                        $('#dean-of-nursing' + (i)).val($('input[name=dean-of-nursing' + (i+1) + ']:checked').val());
                        $('#program-director' + (i)).val($('input[name=program-director' + (i+1) + ']:checked').val());
                        $('#fulltime' + (i)).val($('input[name=fulltime' + (i+1) + ']:checked').val());
                        $('#adjunct' + (i)).val($('input[name=adjunct' + (i+1) + ']:checked').val());
                        $('#emeritus' + (i)).val($('input[name=emeritus' + (i+1) + ']:checked').val());
                        $('#lead-faculty' + (i)).val($('input[name=lead-faculty' + (i+1) + ']:checked').val());

                        var directors = ['dept-chair', 'dean-of-nursing', 'program-director', 'lead-faculty', 'emeritus', 'fulltime', 'adjunct'];
                        $.each(directors, function(index, director){
                            // remove all classes and checked values
                            $('input[name=' + director + (i) + ']').parent().parent().parent().children().removeClass('checked');
                            $('input[name=' + director + (i) + ']').prop('checked', false);

                            // get the new value
                            var new_director_value = $('input[name=' + director + (i+1) + ']:checked').val();

                            // set the value from the future
                            $('input[name=' + director + (i) + '][value="' + new_director_value + '"]').parent().parent().addClass('checked');
                            $('input[name=' + director + (i) + '][value="' + new_director_value + '"]').prop('checked', true);

                            // check the value of the one being deleted, call .change() if necessary
                            director = $('input[name=' + director + i + ']:checked');
                            if( director.val() != '' )
                                director.change();
                        });

                        // new-job-title1
                        $('#new-job-title' + (i)).val($('#new-job-title' + (i + 1)).val());
                    }
                    list.last().remove();
                    checkNumJobTitles();
                })
            };

            function populateDegreeFieldset(id, school, degree, year) {
                var schoolid = '#school' + id;
                var degreeid = '#degree-earned' + id;
                var yearid = '#year' + id;
                $(schoolid).val(school);
                $(degreeid).val(degree);
                $(yearid).val(year);
            }

            // todo: this whole method is awful. it has to be redone asap.
            function populateNewJobTitlesFieldset(id, job_title) {
                var department_chair, dean_of_nursing, program_director, lead_faculty, adult_undergrad_program, graduate_program,
                        seminary_program, title, emeritus, fulltime, adjunct;
                if( job_title['department_chair'])
                    department_chair = job_title['department_chair'];
                else
                    department_chair = job_title['department-chair'];

                if( job_title['dean_of_nursing'])
                    dean_of_nursing = job_title['dean_of_nursing'];
                else
                    dean_of_nursing = job_title['dean-of-nursing'];

                if( job_title['fulltime'])
                    fulltime = job_title['fulltime'];
                else
                    fulltime = job_title['fulltime'];

                if( job_title['adjunct'])
                    adjunct = job_title['adjunct'];
                else
                    adjunct = job_title['adjunct'];

                if( job_title['emeritus'])
                    emeritus = job_title['emeritus'];
                else
                    emeritus = job_title['emeritus'];

                if( job_title['program_director'])
                    program_director = job_title['program_director'];
                else
                    program_director = job_title['program-director'];

                if( job_title['lead_faculty'])
                    lead_faculty = job_title['lead_faculty'];
                else
                    lead_faculty = job_title['lead-faculty'];

                if( job_title['adult_undergrad_program'])
                    adult_undergrad_program = job_title['adult_undergrad_program'];
                else
                    adult_undergrad_program = job_title['adult-undergrad-program'];

                if( job_title['graduate_program'])
                    graduate_program = job_title['graduate_program'];
                else
                    graduate_program = job_title['graduate-program'];

                if( job_title['seminary_program'])
                    seminary_program = job_title['seminary_program'];
                else
                    seminary_program = job_title['seminary-program'];

                if( job_title['job_title'])
                    title = job_title['job_title'];
                else
                    title = job_title['job-title'];

                var schoolid = '#schools' + id;
                var undergradid = '#undergrad' + id;
                var adultundergradid = '#adult-undergrad' + id;
                var graduateid = '#graduate' + id;
                var seminaryid = '#seminary' + id;

                if( !department_chair)
                    department_chair = 'No';
                var deptchairid = 'input[name="dept-chair' + id + '"][value="' + department_chair + '"]';
                if( !dean_of_nursing)
                    dean_of_nursing = 'No';
                var deanofnursingid = 'input[name="dean-of-nursing' + id + '"][value="' + dean_of_nursing + '"]';
                if( !fulltime)
                    fulltime = 'Yes';
                var fulltimeid = 'input[name="fulltime' + id + '"][value="' + fulltime + '"]';
                if( !adjunct)
                    adjunct = 'No';
                var adjunctid = 'input[name="adjunct' + id + '"][value="' + adjunct + '"]';
                if( !emeritus)
                    emeritus = 'Neither';
                var emeritusid = 'input[name="emeritus' + id + '"][value="' + emeritus + '"]';
                if( !program_director)
                    program_director = 'No';
                var programdirectorid = 'input[name="program-director' + id + '"][value="' + program_director + '"]';
                if( !lead_faculty)
                    lead_faculty = 'Other';
                var leadfacultyid = 'input[name="lead-faculty' + id + '"][value="' + lead_faculty + '"]';

                var jobtitleid = '#new-job-title' + id;

                $(schoolid).val(job_title['school']);
                $(schoolid).change();
                $(undergradid).val(job_title['department']);
                if( job_title['department'] != 'None' && job_title['department'] != undefined)
                    $(undergradid).change();
                $(adultundergradid).val(adult_undergrad_program);
                if (adult_undergrad_program != 'None' && adult_undergrad_program != undefined)
                    $(adultundergradid).change();
                $(graduateid).val(graduate_program);
                if (graduate_program != 'None' && graduate_program != undefined)
                    $(graduateid).change();
                $(seminaryid).val(seminary_program);
                if ( seminary_program != 'None' && seminary_program != undefined)
                    $(seminaryid).change();

                $(deptchairid).parent().parent().addClass('checked');
                $(deptchairid).attr('checked', true);

                $(deanofnursingid).parent().parent().addClass('checked');
                $(deanofnursingid).attr('checked', true);

                $(fulltimeid).parent().parent().addClass('checked');
                $(fulltimeid).attr('checked', true);

                $(adjunctid).parent().parent().addClass('checked');
                $(adjunctid).attr('checked', true);

                $(emeritusid).parent().parent().addClass('checked');
                $(emeritusid).attr('checked', true);

                $(programdirectorid).parent().parent().addClass('checked');
                $(programdirectorid).attr('checked', true);

                $(leadfacultyid).parent().parent().addClass('checked');
                $(leadfacultyid).attr('checked', true);

                $(jobtitleid).val(title);
            }

            //////////////////////////////
            // new job titles
            //////////////////////////////
            function initializeJobTitles(num) {
                var metadata = {{ metadata|safe }};
                $('.hide-when-school-changes' + num).hide();

                function giveSelectValues(identifier, metadata_values) {
                    for (var i = 0; i < metadata_values.length; i++) {
                        opt = document.createElement('option');
                        var metadata_value = metadata_values[i];
                        if (identifier == 'schools') {
                            metadata_value = metadata_value.replace('&', 'and');
                        }
                        if ( metadata_value == 'None' ) {
                            metadata_value = '-select-';
                        }
                        opt.value = metadata_value;
                        opt.innerHTML = metadata_value.replace('Bethel University', 'Administration with Faculty Status');
                        $('#' + identifier + num).append(opt);
                    }
                }

                giveSelectValues('schools', metadata['school']);
                giveSelectValues('undergrad', metadata['department']);
                giveSelectValues('adult-undergrad', metadata['adult-undergrad-program']);
                giveSelectValues('graduate', metadata['graduate-program']);
                giveSelectValues('seminary', metadata['seminary-program']);

                // School logic
                $('#schools' + num).change(function () {
                    $('#new-job-title' + num).val('');
                    $('#undergrad' + num).val('-select-');
                    $('#adult-undergrad' + num).val('-select-');
                    $('#graduate' + num).val('-select-');
                    $('#seminary' + num).val('-select-');

                    $('.hide-when-school-changes' + num).hide();
                    if ($(this).val() == 'Bethel University') {
                        $('#new-job-title-div' + num).show();
                    } else if ($(this).val() == 'College of Arts and Sciences') {
                        $('#undergrad-div' + num).show();
                        $('#undergrad' + num).change();
                    } else if ($(this).val() == 'College of Adult and Professional Studies') {
                        $('#adult-undergrad-div' + num).show();
                        $('#adult-undergrad' + num).change();
                    } else if ($(this).val() == 'Graduate School') {
                        $('#graduate-div' + num).show();
                        $('#graduate' + num).change();
                    } else if ($(this).val() == 'Bethel Seminary') {
                        $('#seminary-div' + num).show();
                        $('#seminary' + num).change();
                    }
                });

                // Program logic
                function addProgramLogic(identifier, idToShowHide, nextIdToDisplay) {
                    $('#' + identifier + num).change(function () {
                        if ($('#schools' + num).val() && $('#schools' + num).val() != 'Bethel University') {
                            if (!$(this).val() || $(this).val() == 'None') {
                                $('#' + idToShowHide + num).hide();
                                $('#' + idToShowHide + num + ' input').prop('checked', false).parent().parent().removeClass('checked');
                            } else if (idToShowHide == 'dean-of-nursing-div' && !$(this).val().includes('Nurs')) {
                                if ($('#' + idToShowHide + num).is(':visible')) {
                                    $('#' + idToShowHide + num + ' input').prop('checked', false).parent().parent().removeClass('checked');
                                }
                                $('#' + idToShowHide + num).hide();
                            } else {
                                $('#' + idToShowHide + num).show();
                                var nextId = 'input[name="' + nextIdToDisplay + num + '"]';
                                $(nextId).change();

                                nextId = 'input[name="' + nextIdToDisplay + num + '"]:checked';
                                if ($(nextId).val() == 'No' || $(nextId).val() == 'Other')
                                    $('#new-job-title-div' + num).show();
                                else
                                    $('#new-job-title-div' + num).hide();
                            }
                        }
                    });
                }

                addProgramLogic('undergrad', 'dept-chair-div', 'dept-chair');
                addProgramLogic('undergrad', 'fulltime-div', 'fulltime');
                addProgramLogic('undergrad', 'adjunct-div', 'adjunct');
                addProgramLogic('undergrad', 'emeritus-div', 'emeritus');
                addProgramLogic('undergrad', 'dean-of-nursing-div', 'dean-of-nursing');
                addProgramLogic('adult-undergrad', 'dean-of-nursing-div', 'dean-of-nursing');
                addProgramLogic('graduate', 'dean-of-nursing-div', 'dean-of-nursing');
                addProgramLogic('adult-undergrad', 'program-director-div', 'program-director');
                addProgramLogic('graduate', 'program-director-div', 'program-director');
                addProgramLogic('seminary', 'lead-faculty-div', 'lead-faculty');

                function addLeadLogic(identifiers) {
                    $.each(identifiers, function(index, identifier){
                        $('input:radio[name="' + identifier + num + '"]').change(function () {
                            if ($(this).val() == 'No' || $(this).val() == 'Other') {
                                $('#new-job-title-div' + num).show();
                            } else {
                                $('#new-job-title-div' + num).hide();
                            }
                        });
                    });
                }
                //$('#new-job-title-div' + num).show();
                addLeadLogic(['dept-chair', 'dean-of-nursing', 'program-director', 'lead-faculty']);
            }


            {% if new_job_titles %}
                var new_job_titles = {{ new_job_titles|safe }};
                var i = 0;
                while (i < 200) {

                    var job_title = new_job_titles[i];
                    if (!job_title) {
                        if (i == 0)
                            // create html
                            initializeJobTitles(1);
                        break;
                    }
                    //Convert to correct value
                    var id = i + 1;

                    //If this is not the first node, create it before we can populate it and insert after the last one.
                    //show the remove button
                    if (i != 0) {
                        var last = $(".new-job-fieldset").last();
                        var new_job_title = newJobTitlesFieldset(id);
                        new_job_title.insertAfter(last);
                        addHandlerJobTitle(id);
                        $("#remove_new_job_button").show();
                    }

                    // add js
                    initializeJobTitles(id);
                    // populate values
                    populateNewJobTitlesFieldset(id, job_title);

                    if( (job_title['job-title'] == null || job_title['job-title'] == '') && (job_title['job_title'] == null || job_title['job_title'] == '') ) {
                        $('#new-job-title-div' + id).hide();
                    } else {
                        $('#new-job-title-div' + id).show();
                    }

                    //no infinite loops today
                    i++;
                }
                checkNumJobTitles();
            {% else %}
                initializeJobTitles(1);
            {% endif %}

            {% if degrees %}
                var degrees = {{ degrees|safe }};

                var i = 0;
                while (i < 200) {

                    var degree = degrees[i];
                    if (!degree) {
                        break;
                    }
                    //Convert to correct value
                    var id = i + 1;


                    //If this is not the first node, create it before we can populate it and insert after the last one.
                    //show the remove buton
                    if (i != 0) {
                        var last = $(".degree-fieldset").last();
                        var new_degree = newDegreeTitleFieldset(id);
                        new_degree.insertAfter(last);
                        addHandlerDegree(id);
                    }
                    //Now populate the fieldset
                    var degree_earned = '';
                    if( degree['degree-earned'] )
                        degree_earned = degree['degree-earned'];
                    else
                        degree_earned = degree['degree_earned'];
                    populateDegreeFieldset(id, degree['school'], degree_earned, degree['year']);
                    //no infinite loops today
                    i++;
                }
                // by default, go ahead and check the num degrees
                checkNumDegrees();

            {% endif %}

            {% if degrees_good == False %}
                $('<div class="alert-error"><div data-alert="" class="red-alert">A Degree is required<a href="#" class="close">×</a></div></div><br/>').insertBefore(".degree-fieldset");
            {% endif %}

            {% if new_jobs_good == False %}
                $('<div class="alert-error"><div data-alert="" class="red-alert">A Job Title is Required<a href="#" class="close">×</a></div></div><br/>').insertBefore(".new-job-fieldset");
            {% endif %}


            $("#add_degree_button").click(function () {
                var fieldsets = $(".degree-fieldset");
                var last = fieldsets.last();
                var old_num = last.children()[0].textContent.replace("Degree ", ""); // "Degree X" is the variable name, where X is an integer.
                var new_num = (parseInt(old_num) + 1);
                var new_degree = newDegreeTitleFieldset(new_num);
                new_degree.insertAfter(last);
                checkNumDegrees();
                addHandlerDegree(new_num);
            });

            $("#remove_degree_button").click(function () {
                var list = $(".degree-fieldset");
                var length = list.length;
                //Hide remove button if there will only be one degree left
                if (length == 2) {
                    $("#remove_degree_button").hide();
                }
                list.last().remove();
            });

            $("#add_new_job_button").click(function () {
                var fieldsets = $(".new-job-fieldset");
                var last = fieldsets.last();
                var old_num = last.children()[0].textContent.replace("Job Title ", ""); // "Degree X" is the variable name, where X is an integer.
                var new_num = (parseInt(old_num) + 1);
                var new_job = newJobTitlesFieldset(new_num);
                new_job.insertAfter(last);
                initializeJobTitles(new_num);
                addHandlerJobTitle(new_num);
                checkNumJobTitles();
            });

            $("#remove_new_job_button").click(function () {
                var list = $(".new-job-fieldset");
                var length = list.length;
                //Hide remove button if there will only be one degree left
                if (length == 2) {
                    $("#remove_new_job_button").hide();
                }
                list.last().remove();
            });

            $("#facultybioform").submit(function () {
                //add a hidden field with the number of jobs
                var jobs = $(".job-fieldset");
                var input = $("<input>").attr("type", "hidden").attr("name", "num_jobs").val(jobs.length);
                $("#facultybioform").append(input);

                //add a hidden field with the number of degrees
                var degrees = $(".degree-fieldset");
                var input = $("<input>").attr("type", "hidden").attr("name", "num_degrees").val(degrees.length);
                $("#facultybioform").append(input);

                //add a hidden field with the number of degrees
                var new_jobs = $(".new-job-fieldset");
                var input = $("<input>").attr("type", "hidden").attr("name", "num_new_jobs").val(new_jobs.length);
                $("#facultybioform").append(input);

                return true;

            });

            // Dynamically render image
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#display_image').attr('src', e.target.result);
                        $('#display_image').show();
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#image").change(function () {
                readURL(this);
            });

            var redAlertElements = document.getElementsByClassName("red-alert");
            // There needs to be at least one element with that class to jump to the second one
            if( redAlertElements.length > 1 ){
                var padding = 50; // How many pixels above the first error field that gets jumped to
                $('.main-panel').animate({
                    scrollTop: $("#" + redAlertElements[1].id).offset().top - padding
                }, 2000);
            }
        });
    </script>

{% endblock %}

{% macro degree_fieldset() -%}
    <fieldset class="degree-fieldset">
        <div class="card">
            <div class="content">
                <legend>Degree 1
                    <small class="required">required</small>
                    <i class="fa fa-times fa-delete" id="degree-delete1" data-id="1"></i>
                </legend>
                <label for="school1">School</label>
                <input class="no-border" type="text" name="school1" id="school1"/>

                <label for="degree-earned1">Degree earned</label>
                <input class="no-border" type="text" name="degree-earned1" id="degree-earned1"/>

                <label for="year1">Year</label>
                <input class="no-border" type="text" name="year1" id="year1"/>
            </div>
        </div>
    </fieldset>
    <a href="javascript:void(0);" id="add_degree_button" class="btn btn-primary">Add Another Degree</a>
    <a href="javascript:void(0);" id="remove_degree_button" style="display:none"
       class="btn btn-primary btn-danger">Remove
        Degree</a>

{%- endmacro %}

{% macro new_job_title_fieldset() -%}
    <fieldset class="new-job-fieldset">
        <div class="card">
            <div class="content">
                <legend>Job Title 1
                    <small class="required">required</small>
                    <i class="fa fa-times fa-delete" id="job-title-delete1" data-id="1"></i>
                </legend>
                <div id="schools-div">
                    <label>School</label>
                    <select name='schools1' id='schools1'></select>
                </div>

                <div id="undergrad-div1" class="hide-when-school-changes1">
                    <label>Program</label>
                    <select name='undergrad1' id='undergrad1'></select>
                </div>
                <div id="adult-undergrad-div1" class="hide-when-school-changes1">
                    <label>Program</label>
                    <select name='adult-undergrad1' id='adult-undergrad1'></select>
                </div>
                <div id="graduate-div1" class="hide-when-school-changes1">
                    <label>Program</label>
                    <select name='graduate1' id='graduate1'></select>
                </div>
                <div id="seminary-div1" class="hide-when-school-changes1">
                    <label>Program</label>
                    <select name='seminary1' id='seminary1'></select>
                </div>

                <div id="dept-chair-div1" class="hide-when-school-changes1">
                    <label>Are you the Department Chair?
                        <div class="radio">
                            <label><input type="radio" name="dept-chair1" value="Yes">Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="dept-chair1" value="No">No</label>
                        </div>
                    </label>
                </div>
                <div id="dean-of-nursing-div1" class="hide-when-school-changes1">
                    <label>Are you the Dean of Nursing?
                        <div class="radio">
                            <label><input type="radio" name="dean-of-nursing1" value="Yes">Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="dean-of-nursing1" value="No">No</label>
                        </div>
                    </label>
                </div>
                <div id="fulltime-div1">
                    <label>Is this position Full-Time?
                        <div class="radio">
                            <label><input type="radio" name="fulltime1" value="Yes">Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="fulltime1" value="No">No</label>
                        </div>
                    </label>
                </div>
                <div id="adjunct-div1">
                    <label>Are you an adjunct Faculty member?
                        <div class="radio">
                            <label><input type="radio" name="adjunct1" value="Yes">Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="adjunct1" value="No">No</label>
                        </div>
                    </label>
                </div>
                <div id="emeritus-div1">
                    <label>Are you an Emeritus/Emerita faculty member?
                        <div class="radio">
                            <label><input type="radio" name="emeritus1" value="Emeritus">Emeritus</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="emeritus1" value="Emerita">Emerita</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="emeritus1" value="Neither">Neither</label>
                        </div>
                    </label>
                </div>
                <div id="program-director-div1" class="hide-when-school-changes1">
                    <label>Are you the Program Director?
                        <div class="radio">
                            <label><input type="radio" name="program-director1" value="Yes">Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="program-director1" value="No">No</label>
                        </div>
                    </label>
                </div>
                <div id="lead-faculty-div1" class="hide-when-school-changes1">
                    <label>For this program, I am the...
                        <div class="radio">
                            <label><input type="radio" name="lead-faculty1" value="Lead Faculty">Lead Faculty</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="lead-faculty1" value="Program Director">Program Director</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="lead-faculty1" value="Other">Other</label>
                        </div>
                    </label>
                </div>

                <div id="new-job-title-div1"><label>
                    Title
                    <input class="no-border" type="text" name="new-job-title1" id="new-job-title1"/>
                </label></div>
            </div>
        </div>
    </fieldset>
    <a href="javascript:void(0);" id="add_new_job_button" class="btn btn-primary">Add Another Job Title</a>
{%- endmacro %}
