{% extends "tinker_base.html" %}

{% set title = 'Faculty Bios' %}

{% block styles %}
    <style type="text/css">
        {# Override the default height for a select field #}
        select {
            height: auto !important;
        }
    </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{# A little macro to be used with the 2 separate calls #}
{% macro display_bio(bio) -%}
    <div class="card">
        <div class="content">
            <p>
                {% if bio.path != '' %}
                    <a href={{ bio.path }}>{{ bio.title }}</a>
                {% else %}
                    {{ bio.title }}
                {% endif %}
                <br/>
                {% if bio.path != '' %}
                    <a href="{{ bio.path }}" class="small-link">{{ bio.path }}</a>{% endif %}
                <br/>
                <span id="activate-text-{{ bio.id }}" class="bio-status">
                    {% if bio['deactivated'] == 'Yes' %}
                        {% set text = 'Deactivated' %}
                        Deactivated
                    {% else %}
                        {% set text = 'Activated' %}
                        Activated on www.bethel.edu<br>
                    {% endif %}
                </span>
                {% if text == 'Activated' %}
                <span id="added-text-{{ bio.id }}" class="courseleaf-status">
                    {% if bio['courseleaf-user'] == 'Yes' %}
                        Added to catalog.bethel.edu (CourseLeaf)
                    {% else %}
                        Removed from catalog.bethel.edu (CourseLeaf)
                    {% endif %}
                </span>
                {% endif %}
            </p>

            <ul class="btn-group-horizontal">
                {% if bio.path != '' %}
                    <li><a href="{{ bio.path }}" class="btn btn-primary">View</a></li>
                    <li><a href="{{ url_for('FacultyBiosView:edit', faculty_bio_id=bio.id) }}" class="btn btn-primary">Edit</a></li>
                {% else %}
                    <li><a class="small button success">Not Approved</a></li>
                {% endif %}

                {% if bio.deactivated == 'Yes' %}
                    <li>
                        <a id="{{ bio.id }}" data-method='activate' data-faculty-bio-id="{{ bio.id }}"
                           class="small btn btn-primary btn-alert activate-press">Activate
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a id="{{ bio.id }}" data-method='deactivate' data-faculty-bio-id="{{ bio.id }}"
                           class="small btn btn-primary btn-alert activate-press deactivate">Deactivate
                        </a>
                    </li>
                {% endif %}
                {% if show_courseleaf_button %}
                    {% if bio['courseleaf-user'] == 'Yes' %}
                        <li>
                            <a id="{{ bio.id }}" data-method="No" data-faculty-bio-id="{{ bio.id }}"
                               class="small btn btn-primary btn-alert courseleaf-user-press">Remove from Catalog
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a id="{{ bio.id }}" data-method="Yes" data-faculty-bio-id="{{ bio.id }}"
                               class="small btn btn-primary btn-alert courseleaf-user-press">Add to Catalog
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if show_special_admin_view %}
                    <li><a href="#" data-reveal-id="confirmModal" id="{{ bio.id }}"
                           data-faculty-bio-id="{{ bio.id }}"
                           class="small btn btn-primary btn-alert delete-press"
                           data-toggle="modal" data-target="#myModal">Delete</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <hr/>
{%- endmacro %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <p id="faculty-p" class="description">
                    Below is a list of faculty bios you have access to edit. If you don't see your faculty
                    bio, please contact your web author.
                </p>
                <hr/>
            </div>

            <div class="col-md-12">
                {% if show_create %}
                    <a href="{{ url_for('FacultyBiosView:new') }}" class="btn btn-primary">Create New Bio</a>
                    {% if show_special_admin_view %}
                     <a href="{{ url_for('FacultyBiosView:get_faculty_bio_csv') }}" class="btn btn-primary">Export csv file</a>
                    {% endif %}
                    <hr/>
                {% endif %}
                {% if show_special_admin_view %}
                    <div>
                        <label><h3 class="first-subtitle">View:</h3>
                            <select class="horizontal-scroll" size="{{ all_schools|length }}" id="school-selector"
                                    multiple>
                                {% for schools in all_schools %}
                                    {% for class_name, school_name in schools.items() %}
                                        <option value="{{ class_name }}"
                                                selected="selected">{{ school_name }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </label>
                        <script type="text/javascript">
                            $("#school-selector").change(function () {
                                $('.school-bios').hide();
                                var array_of_values = $("#school-selector").val();
                                for (i = 0; i < array_of_values.length; i++) {
                                    $('.' + array_of_values[i]).show();
                                }
                            });
                        </script>
                    </div>
                    <hr/>

                    {# show all bios #}
                    {% for schools in all_schools %}
                        {% for class_name, school_name in schools.items() %}
                            <div class="{{ class_name }} school-bios">
                                <h3>{{ school_name }}</h3>
                                <div>
                                    {% for bio in forms %}
                                        {% if school_name in bio.schools %}
                                            {{ display_bio(bio) }}
                                        {% elif 'Bethel University' in bio.schools and class_name == 'bu' %}
                                            {{ display_bio(bio) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% else %} {# basic view #}
                    {% for bio in forms %}
                        {{ display_bio(bio) }}
                    {% endfor %}
                {% endif %}
            </div>
            {# spinner placeholder #}
            <div id="spinner" class="spinner" style="display:none;">
                <img id="img-spinner" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block modalhtml %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete?</h4>
                </div>
                <div class="modal-body">
                    Your faculty bio page will be removed.
                </div>
                <div class="modal-footer">
                    <a id="modal-confirm" href="/faculty-bios/delete/formid" type="button"
                       class="btn btn-primary btn-alert modal-confirm">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {#  Script to update the modal submit to delete the correct form#}
    <script type="text/javascript">
        {% if show_special_admin_view %}
            $(".delete-press").click(function () {
                $("#modal-confirm").attr("href", "/faculty-bios/delete/" + $(this).data('faculty-bio-id'));
            });
        {% endif %}

        $(".activate-press").click(function () {
            $('#spinner').show();
            var current_element = $(this);
            var id = current_element.data('faculty-bio-id');
            var inputs = {
                "id": id,
                "activate": current_element.attr('data-method')
            };
            var url = '/faculty-bios/activate';

            current_element.html('. . . Updating . . .');

            if (current_element.attr('data-method') == 'activate') {
                $.notify({
                    message: 'The bio is being activated'
                }, {
                    type: 'success',
                    placement: {
                        align: 'center'
                    },

                });
            }

            if (current_element.attr('data-method') == 'deactivate') {
                $.notify({
                    message: 'The bio is being deactivated'
                }, {
                    type: 'success',
                    placement: {
                        align: 'center'
                    },

                });
            }

            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(inputs),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    current_element.html('Success');
                    if( current_element.attr('data-method') == 'activate') {
                        $('#activate-text-' + id).text('Activated');
                    } else {
                        $('#activate-text-' + id).text('Deactivated');
                    }
                    current_element.removeClass('btn-alert');
                    current_element.css('background-color', '#5F7615');
                    current_element.css('border-color', '#5F7615');
                    current_element.css('cursor', 'default');
                    current_element.prop('onclick',null).off('click');
                    $('#spinner').hide();
                }
            });
        });


        $(".courseleaf-user-press").click(function () {
            $('#spinner').show();
            var current_element = $(this);
            var id = current_element.data('faculty-bio-id');
            var inputs = {
                "id": id,
                "added": current_element.attr('data-method')
            };
            var url = '/faculty-bios/toggle-courseleaf-user';

            current_element.html('. . . Updating . . .');

            if (current_element.attr('data-method') == 'Yes') {
                $.notify({
                    message: 'Adding to Catalog'
                }, {
                    type: 'success',
                    placement: {
                        align: 'center'
                    },

                });
            }

            if (current_element.attr('data-method') == 'No') {
                $.notify({
                    message: 'Removing from Catalog'
                }, {
                    type: 'success',
                    placement: {
                        align: 'center'
                    },

                });
            }
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(inputs),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    current_element.html('Success');
                    if( current_element.attr('data-method') == 'Yes') {
                        $('#added-text-' + id).text('Added to Catalog');
                    } else {
                        $('#added-text-' + id).text('Removed from Catalog');
                    }
                    current_element.removeClass('btn-alert');
                    current_element.css('background-color', '#5F7615');
                    current_element.css('border-color', '#5F7615');
                    current_element.css('cursor', 'default');
                    current_element.prop('onclick',null).off('click');
                    $('#spinner').hide();
                }
            });
        });
    </script>

{% endblock %}


