{% extends "tinker_base.html" %}

{% set title = 'Events' %}

{% block page_title %}
    {% if new_form %}
        Add a new event
    {% else %}
        Edit your event
    {% endif %}
    {{ form.csrf_token() }}
        {% if form.errors or not dates_good and num_dates  %}
          <div class="alert alert-error">
            <div data-alert class="alert-box alert radius">
                There were errors with your form.
                <a href="#" class="close">&times;</a>
              </div>
            </div>
        {% endif %}
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}

        {# Print any errors for this field#}
          {% for error in form.errors[field.name] %}
            <div class="alert alert-error">
              <div data-alert class="alert-box alert radius">
                {{ error }}
                <a href="#" class="close">&times;</a>
              </div>
            </div>
          {% endfor %}

          {# print the label #}
          {% if field.name not in ["off_campus_location", "on_campus_location", "other_on_campus"] %}
            <label for="{{ field.name }}">
              {{ field.label.text }}
              {% if field.flags.required %} <small>required</small> {% endif %}
             </label>
            <small>{{ field.description }}</small>
          {% endif %}



          {# Print the field #}
          {% if field.type == "SelectMultipleField" %}
            {{ field(size=10, class="largeselect") }}

          {% elif field.type == "HeadingField" %}
            <h3>{{ field.label }}</h3>

          {% elif field.name == "off_campus_location" %}
            <div id="off_location_wrap" style="display:none;">
              {{ field.label }}{{ field }}
            </div>

          {% elif field.name == "on_campus_location" %}
            <div id="on_campus_wrap" style="display:none;">
              {{ field.label }}{{ field }}
            </div>

{% block main_content %}
    <script type="text/javascript">
        function checkNeedTimezone(id) {
            var out = 'needtimezone' + id;
            var time = 'timezone' + id;
            var timelabel = 'timezonelabel' + id;
            if (document.getElementById(out).checked) {
                document.getElementById(time).style.display = "inline-block";
                document.getElementById(timelabel).style.display = "block";
            }
            else {
                document.getElementById(time).style.display = "none";
                document.getElementById(timelabel).style.display = "none";
            }
        }
    </script>
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <p>If you have any questions as you submit your event, please contact Conference and Event Services
                    at
                    651.638.6090.</p>
                {% if new_form %}
                    <form id="eventform" action="/event/submit" method="post">
                {% else %}
                    <form id="eventform" action="/event/submit/edit" method="post">
                    <input type="hidden" name="event_id" id="event_id" value="{{ event_id }}"/>
                    <input type="hidden" name="author" id="author" value="{{ author }}"/>
                {% endif %}
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                {% if form.errors or not dates_good and num_dates %}
                    <div class="error-alert">
                        <div data-alert class="red-alert">
                            There were errors with your form.
                            <a href="#" class="close">&times;</a>
                        </div>
                    </div>
                {% endif %}
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}

                    {# Print any errors for this field#}
                    {% for error in form.errors[field.name] %}
                        <div class="error-alert">
                            <div data-alert class="red-alert">
                                {{ error }}
                                <a href="#" class="close">&times;</a>
                            </div>
                        </div>
                    {% endfor %}

                    {# print the label #}
                    {% if field.name not in ["off_campus_location", "on_campus_location", "other_on_campus"] %}
                        <label for="{{ field.name }}">
                            {{ field.label.text }}
                            {% if field.flags.required %}
                                <small class="required">required</small>
                            {% endif %}
                        </label>
                        <small class="extra-required">{{ field.description }}</small>
                    {% endif %}



                    {# Print the field #}
                    {% if field.type == "SelectMultipleField" %}
                        {{ field(size=10, class="large-select") }}

                    {% elif field.type == "HeadingField" %}
                        <h3 class="subtitle">{{ field.label }}</h3>
                        <hr/>

                    {% elif field.name == "off_campus_location" %}
                        <div id="off_location_wrap" style="display:none;">
                            {{ field.label }}{{ field }}
                        </div>

                    {% elif field.name == "on_campus_location" %}
                        <div id="on_campus_wrap" style="display:none;">
                            {{ field.label }}{{ field }}
                        </div>

                    {% elif field.name == "other_on_campus" %}
                        <div id="other_wrap" style="display:none;">
                            {{ field.label }}{{ field }}
                        </div>

                    {% elif field.type == "SelectField" %}
                        {{ field }}

                    {% elif field.type == "CKEditorTextAreaField" %}
                        {{ field(class="ckeditor") }}

                    {% elif field.type == "DateTimeField" %}
                        {# do the entire date field in here for now #}
                        {{ datetime_fieldset() }}

                    {% elif field.name == "link" %}
                        <!-- make sure this is legit -->
                        {{ field }}
                        {#              <script type="text/javascript">#}
                        {#                $("#link").hide()#}
                        {#                </script>#}

                    {% else %}
                        {{ field(size=20) }}
                    {% endif %}

                {% endfor %}
                <button type="submit" id="event-submit-btn" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script src="{{ url_for('static', filename='moment.js') }}"></script>
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='pikaday.css') }}">
    <script src="{{ url_for('static', filename='pikaday.js') }}"></script>
    <script src="{{ url_for('static', filename='pikaday.jquery.js') }}"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#registration_heading').change(function () {
                var headingValue = $('#registration_heading').val();

                if (headingValue == 'Registration') {
                    $('#wufoo_code').show();
                    $("label[for='wufoo_code']").show();
                    $('#ticketing_url').hide();
                    $("label[for='ticketing_url']").hide();
                } else if (headingValue == 'Ticketing') {
                    $('#wufoo_code').hide();
                    $("label[for='wufoo_code']").hide();
                    $('#ticketing_url').show();
                    $("label[for='ticketing_url']").show();
                } else {
                    $('#wufoo_code').hide();
                    $("label[for='wufoo_code']").hide();
                    $('#ticketing_url').hide();
                    $("label[for='ticketing_url']").hide();
                }
            });
            // force the heading to call the change function
            $('#registration_heading').change();

            function newFieldset(id) {
                var start = 'start' + id;
                var end = 'end' + id;
                var all = 'allday' + id;
                var time = 'timezone' + id;
                var out = 'needtimezone' + id;
                var check = 'checkNeedTimezone(' + id + ')';
                var timelabel = 'timezonelabel' + id;
                var fieldset_node = $('<fieldset>').addClass('date-fieldset');
                var inner_node = $("<div>").addClass('content');
                inner_node.append($("<legend>").html("Date " + id));
                {#                inner_node.append($("<div>").addClass('checkbox')#}
                {#                        .append($('<span>').addClass('icons')#}
                {#                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-square').addClass('fa-base'))#}
                {#                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-check-square').addClass('fa-base')))#}
                inner_node.append($("<input type='checkbox'>").attr('name', all).attr('id', all).addClass('alldaycheck'));
                inner_node.append($("<div>").addClass('checkbox-label')
                        .append($("<label>").attr('for', all).html("All Day").addClass('checkbox-label')));
                inner_node.append($("<label>").attr('for', start).html("Start Date"));
                inner_node.append($("<input type='text'>").attr('name', start).attr('id', start).addClass("datepicker"));
                inner_node.append($("<label>").attr('for', end).html("End Date"));
                inner_node.append($("<input type='text'>").attr('name', end).attr('id', end).addClass("datepicker"));
                {#                inner_node.append($("<div>").addClass('checkbox')#}
                {#                        .append($('<span>').addClass('icons')#}
                {#                                .append($('<span>').addClass('first-icon').addClass('fa').addClass('fa-square').addClass('fa-base'))#}
                {#                                .append($('<span>').addClass('second-icon').addClass('fa').addClass('fa-check-square').addClass('fa-base')))#}
                inner_node.append($("<input type='checkbox'>").attr('name', out).attr('id', out).attr('data-id', out).attr('class', 'needtimezonecheck').attr('onclick', check));
                inner_node.append($("<div>").addClass('checkbox-label')
                        .append($("<label>").attr('for', out).html("Outside of Minnesota?").addClass('checkbox-label')));
                inner_node.append($("<label>").attr('for', time).attr('style', 'display: none').attr('id', timelabel).html("Timezone"));
                inner_node.append($("<select>").attr('name', time).attr('id', time).attr('class', 'timezoneselect').attr('style', 'display: none').html($("<option value>-select-</option><option value='Pacific Time'>Pacific Time</option><option value='Mountain Time'>Mountain Time</option><option value='Central Time'>Central Time</option><option value='Eastern Time'>Eastern Time</option>")));

                fieldset_node.append($("<div>").addClass('card').append(inner_node));

                return fieldset_node;
            }

            function populateFieldset(id, allday, start, end, out, timezone) {
                var startid = '#start' + id;
                var endid = '#end' + id;
                var alldayid = '#allday' + id;
                var outid = '#needtimezone' + id;
                var timezoneid = '#timezone' + id;
                $(startid).val(start);
                $(endid).val(end);
                $(timezoneid).val(timezone);
                if (allday) {
                    $(alldayid).prop('checked', true);
                }
                if (out) {
                    $(outid).prop('checked', true);
                    checkNeedTimezone(id)
                }
            }

            {# Got the "replace(/\D/g, '')" from #}
            {# http://stackoverflow.com/questions/1183903/regex-using-javascript-to-return-just-numbers #}
            {# Grabs the number from the id, i.e. needtimezone1 #}
            {#            $(".needtimezonecheck").click(function () {#}
            {#                var id = ($(this).data('id')).replace(/\D/g, '');#}
            {#                checkNeedTimezone(id);#}
            {#            });#}

            function testOffCampusLocation() {
                var location = $("#location")[0];
                var val = location.options[location.selectedIndex].innerHTML;
                if (val == "Off Campus") {
                    $("#off_location_wrap").show();
                    $("#on_campus_wrap").hide();
                    $("#other_wrap").hide();
                }
                else {
                    $("#off_location_wrap").hide();
                    $("#on_campus_wrap").show();
                    $("#other_wrap").show();
                }
            }

            function createPicker(fieldset) {
                // fieldset is a "Date x" fieldset from the form.
                var picker = new Pikaday({
                    field: fieldset.find('.datepicker')[0],
                    format: 'MMMM Do YYYY, h:mm a',
                    showTime: true
                });
                var picker = new Pikaday({
                    field: fieldset.find('.datepicker')[1],
                    format: 'MMMM Do YYYY, h:mm a',
                    showTime: true
                });
            }

            $(document).ready(function () {
                $('.datepicker').each(function (index) {
                    var picker = new Pikaday({
                        field: this,
                        format: 'MMMM Do YYYY, h:mm a',
                        showTime: true
                    });
                });


                {% if dates %}
                    var dates = {{ dates|safe }};
                    var i = 0;
                    while (i < 200) {

                        date = dates[i];
                        if (!date) {
                            break;
                        }
                        //Convert to correct value
                        id = i + 1;

                        //If this is not the first node, create it before we can populate it and insert after the last one.
                        //show the remove buton
                        if (i != 0) {
                            var last = $(".date-fieldset").last();
                            var new_date = newFieldset(id);
                            new_date.insertAfter(last);
                            $("#remove_date_button").show();
                        }
                        //Now populate the fieldset
                        var allday = date['all_day'];
                        if (allday && allday.substr(-3) == "Yes") {
                            allday = true;
                        }
                        populateFieldset(id, allday, date['start_date'], date['end_date'], date['outside_of_minnesota'], date['time_zone']);
                        //no infinite loops today
                        i++;

                    }

                {% endif %}
                {% if dates_good == False %}
                    $('<div class="error-alert"><div data-alert="" class="red-alert">Event Dates are Required<a href="#" class="close">×</a></div></div>').insertBefore(".date-fieldset");
                {% endif %}

                {% if form.errors or not dates_good and num_dates %}
                    var event_dates = {{ event_dates|safe }};
                    var tt = {{ num_dates }};
                    for (var i = 1; i < {{ num_dates + 1}}; i++) {
                        if (i == 1) {
                            $('#allday1').prop('checked', event_dates['allday1']);
                            $('#start1').val(event_dates['start1']);
                            $('#end1').val(event_dates['end1']);
                        } else {
                            newFieldset(i);
                            var fieldsets = $(".date-fieldset");
                            var last = fieldsets.last();
                            newFieldset(i).insertAfter(last);
                            $('#allday' + i).prop('checked', event_dates['allday' + i]);
                            $('#start' + i).val(event_dates['start' + i]);
                            $('#end' + i).val(event_dates['end' + i]);
                        }
                    }

                {% endif %}

                $("#add_date_button").click(function () {
                    var fieldsets = $(".date-fieldset");
                    var last = fieldsets.last();
                    var old_num = last.children()[0].textContent.replace("Date ", ""); // "Date X" is the variable name, where X is an integer.
                    var new_num = (parseInt(old_num) + 1);
                    var new_date = newFieldset(new_num);
                    new_date.insertAfter(last);
                    $("#remove_date_button").show();
                    createPicker(new_date);
                });

                $("#remove_date_button").click(function () {
                    var list = $(".date-fieldset");
                    var length = list.length;
                    //Hide remove button if there will only be one date left
                    if (length == 2) {
                        $("#remove_date_button").hide();
                    }
                    list.last().remove();
                });
                $("#location").change(function () {
                    testOffCampusLocation();
                });

                $("#eventform").submit(function () {
                    //add a hidden field with the number of dates
                    var dates = $(".date-fieldset");
                    var input = $("<input>").attr("type", "hidden").attr("name", "num_dates").val(dates.length);
                    $("#eventform").append(input);
                    return true;

                });

                //Test this right away if we are editing because the callback won't fire
                testOffCampusLocation();


            });
        });

    </script>

{% endblock %}


{% macro datetime_fieldset() -%}
    <fieldset class="date-fieldset">
        <div class="card">
            <div class="content">
                <legend>Date 1</legend>

                <input class="alldaycheck" id="allday1" name="allday1" type="checkbox"
                       value="True">
                <div class="checkbox-label">
                    <label for="allday1" class="checkbox-label">All Day</label>
                </div>

                <label for="start1">Start Date</label>
                <input type="text" name="start1" id="start1" class="datepicker"/>

                <label for="end1">End Date</label>
                <input type="text" name="end1" id="end1" class="datepicker"/>

                <input type="checkbox" id="needtimezone1" data-id="needtimezone1" name="needtimezone1"
                       class="needtimezonecheck" value="False" onclick="checkNeedTimezone(1)">
                <div class="checkbox-label">
                    <label for="needtimezone1" class="checkbox-label">Outside of Minnesota?</label>
                </div>

                <label for="timezone1" style="display: none" id="timezonelabel1">Timezone</label>
                <select id="timezone1" name="timezone1" class="timezoneselect" style="display: none">
                    <option value>-select-</option>
                    <option value="Pacific Time">Pacific Time</option>
                    <option value="Mountain Time">Mountain Time</option>
                    <option value="Central Time">Central Time</option>
                    <option value="Eastern Time">Eastern Time</option>
                </select>
            </div>
        </div>
    </fieldset>
    <a href="javascript:void(0);" id="add_date_button" class="btn btn-primary">Add Another Date</a>
    <a href="javascript:void(0);" id="remove_date_button" style="display:none" class="btn btn-primary btn-alert">Remove
        Date</a>
{%- endmacro %}

