{% extends "tinker_base.html" %}

{% set title = 'Events' %}

{% block styles %}
    <style type="text/css">
    </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">

                <p class="description">All events will be reviewed and approved within 2-3 business days by Conference
                    and Event Services.
                    You'll receive an email to let you know when your event has been approved.</p>

                <p class="description">If you have any questions, please contact Conference and Event Services at
                    651.638.6090.</p>

                <hr/>
                <div>
                    {% if forms %}
                        <h3>Your Events</h3>
                        <hr/>
                    {% endif %}

                    {# create an event button #}
                    <a href="add#page-title" id="event-create" class="btn btn-primary new-btn">
                        Create New Event
                    </a>


                    {% for form in forms %}
                        <div class="card">
                            <div class="content">
                                <div class="large-6 columns">
                                    <p>
                                        {% if form.is_published %}
                                            <a href={{ form.path }}>{{ form.title }}</a>
                                        {% else %}
                                            {{ form.title }}
                                        {% endif %}
                                        <br/>
                                        {% if form.is_published %}
                                            <small>
                                            <p>{{ form.dates | safe }}</p>
                                            <a href={{ form.path }}>{{ form.path }}</a>
                                            </small>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="large-6 columns small-3">
                                    <ul class="btn-group-horizontal">
                                        {% if form.is_published %}
                                            <li><a href="{{ form.path }}" class="small btn btn-primary">View</a></li>
                                            <li><a href="{{ url_for('events.EventsView:edit', event_id=form.id) }}"
                                                   class="small btn btn-primary">Edit</a>
                                            </li>
                                            <li><a href="{{ url_for('events.EventsView:duplicate', event_id=form.id) }}"
                                                   class="small btn btn-primary">Duplicate</a></li>
                                        {% else %}
                                            <li>This announcement is pending approval.</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr/>

                    {% endfor %}


                    <!-- Event Approver forms -->
                    {% if event_approver_forms %}
                        <br/>
                        <hr/>
                        <h3>Event Approver</h3>
                        <hr/>
                        {% for form in event_approver_forms %}
                            <div class="row">
                                <div class="large-6 columns">
                                    <p>
                                        {% if form.is_published %}
                                            <a href={{ form.path }}>{{ form.title }}</a>
                                        {% else %}
                                            {{ form.title }}
                                        {% endif %}
                                        <br/>
                                        {% if form.is_published %}
                                            <small>
                                            <p>{{ form.dates | safe }}</p>
                                            <a href={{ form.path }}>{{ form.path }}</a>
                                            </small>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="large-6 columns small-3">
                                    <ul class="button-group">
                                        {% if form.is_published %}
                                            <li><a href="{{ form.path }}" class="small button success">View</a></li>
                                            <li><a href="{{ url_for('events.EventsView:edit', event_id=form.id) }}" class="small button">Edit</a>
                                            </li>
                                            <li><a href="{{ url_for('events.EventsView:duplicate', event_id=form.id) }}"
                                                   class="small button">Duplicate</a></li>
                                        {% else %}
                                            <li>This announcement is pending approval.</li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <hr/>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <br/>

            </div>
        </div>
    </div>
{% endblock %}

{% block modalhtml %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete?</h4>
                </div>
                <div class="modal-body">
                    Your event page will be unpublished and removed from the calendar.
                </div>
                <div class="modal-footer">
                    <a id="modal-confirm" href="/events/delete/formid"
                       class="btn btn-primary btn-alert modal-confirm">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    {#    Script to update the modal submit to delete the correct form#}
    <script type="text/javascript">
        $(".delete-press").click(function () {
            $("#modal-confirm").attr("href", "/events/delete/" + $(this).data('event-id'));
        });
    </script>

{% endblock %}
