{% extends "tinker-base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
  <style type="text/css">
  </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
<div class="row">
  <div class="large-12 columns">

    <p>All events will be reviewed and approved within 2-3 business days by Conference and Event Services. You'll receive an email to let you know when your event has been approved.</p>

    <p>If you have any questions or would like to cancel an event, please contact Conference and Event Services at 651.638.6090.</p>


  </div>
 </div>
<hr/>
<div class="row">

  <div class="large-12 columns">
    {% if forms %}
      <h3>Your Events</h3>
      <hr />
      {% endif %}

    <a href="add#page-title" class="small button success">Create New Event</a>
   {% for form in forms%}
      <div class="row">
        <div class="large-6 columns">
          <p>
            {% if form.is_published %}
              <a href={{ form.path }}>{{ form.title }}</a>
            {% else %}
              {{ form.title }}
            {% endif %}
            <br/>
            {% if form.is_published%}
                <small>
                    <p>{{ form.dates | safe}}</p>
                    <a href={{ form.path }}>{{ form.path }}</a>
                </small>
            {% endif %}
          </p>
        </div>
        <div class="large-6 columns small-3">
          <ul class="button-group">
            {% if form.is_published %}
              <li><a href="{{ form.path }}" class="small button success">View</a></li>
              <li><a href="/event/edit/{{ form.id }}#page-title" class="small button">Edit</a></li>
              <li><a href="/event/duplicate/{{ form.id }}#page-title" class="small button">Duplicate</a></li>
            {% else %}
              <li><a class="small button success">Not Approved</a></li>
            {% endif %}
           </ul>
        </div>
        <hr/>
      </div>
    {% endfor %}


    <!-- Event Approver forms -->
    {% if event_approver_forms %}
        <br />
        <hr />
        <h3>Event Approver</h3>
        <hr />
    {% endif %}
    {% for form in event_approver_forms %}
        <div class="row">
        <div class="large-6 columns">
          <p>
            {% if form.is_published %}
              <a href={{ form.path }}>{{ form.title }}</a>
            {% else %}
              {{ form.title }}
            {% endif %}
            <br/>
            {% if form.is_published%}
                <small>
                    <p>{{ form.dates | safe}}</p>
                    <a href={{ form.path }}>{{ form.path }}</a>
                </small>
            {% endif %}
          </p>
        </div>
        <div class="large-6 columns small-3">
          <ul class="button-group">
            {% if form.is_published %}
              <li><a href="{{ form.path }}" class="small button success">View</a></li>
              <li><a href="/event/edit/{{ form.id }}#page-title" class="small button">Edit</a></li>
              <li><a href="/event/duplicate/{{ form.id }}#page-title" class="small button">Duplicate</a></li>
            {% else %}
              <li><a class="small button success">Not Approved</a></li>
            {% endif %}
           </ul>
        </div>
        <hr/>
      </div>
    {%  endfor %}

  </div>
</div>

{% endblock %}

{% block scripts %}

  <script type="text/javascript">
  $(document).foundation();
  </script>

{% endblock %}
