{% extends "tinker_base.html" %}

{% set title = "Events" %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}

    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <input type="hidden" id="new_eid" value="{{ eid }}"/>
                <h3 class="first-subtitle">
                    Thanks for your submission!
                </h3>


                <p>You'll receive an email when your event has been approved by Conference and Event Services. Once your
                    event has been approved, it will appear on your Tinker <a href="/events">events page</a> where you'll
                    be able to view the event page or make changes to it.</p>

                <p>If you have any questions, please contact Conference and Event Services at
                    conference-event@bethel.edu or 651.638.6090.</p>

                <p><a href="https://www.bethel.edu/events/calendar/" class="small btn btn-primary">Back to Calendar</a></p>

                <p>
                    Take a short break in your day and enjoy this GIF!
                </p>
                <p>
                    <img src="//cdn1.bethel.edu/gif/energizer-cat.gif"/>
                </p>

            </div>
        </div>
    </div>

{% endblock %}