{% extends "tinker-base.html" %}

{% block title %}Office Hours{% endblock %}

{% block styles %}
    <style type="text/css">
        .time {
            width: 25% !important;
            display: inline-block !important;
        }
   </style>
{% endblock %}

{% block page_title %}
    Edit Office Hours
{% endblock %}

{% macro CheckFieldLabel(field) -%}

    {% if field.label.text != '' and field.type not in ['TimeCloseField', 'FormField', 'CSRFTokenField'] and not field.hidden %}
        <label for="{{ field.name }}">
           {{ field.label }}{% if field.flags.required %} * {% endif %}
         </label>
        {% if field.description != '' %}
            <p>{{ field.description }}</p>
        {% endif %}
    {% endif %}

{%  endmacro %}

{#{% macro HoursGroup(f) -%}#}
{#    <fieldset>#}
{#        <legend>{{ f.name.capitalize() }}</legend>#}
{#        {% for field in f.form %}#}
{#            {% set name = field.name.replace('-', '_') %}#}
{#            {% if field.type == "TimeOpenField" %}#}
{#                <div id="timeRange" class="timeRange" stlye="float:left">#}
{#                    {{ CheckFieldLabel(field) }}#}
{#                    <input type="text" name="{{ field.name }}" class="time start" size="4" value="{{ edit_data[f.name][name] }}"/> to#}
{#            {% elif field.type == "TimeCloseField" %}#}
{#                    {{ CheckFieldLabel(field) }}#}
{#                    <input type="text" name="{{ field.name }}" class="time end" size="4" value="{{ edit_data[f.name][name] }}"/>#}
{#                </div>#}
{#            {% elif name in ['next_start_date', 'exceptions_date'] %}#}
{#                {% if field.name in ['next-start_date', 'exceptions-date'] %}#}
{#                    {{ CheckFieldLabel(field) }}#}
{#                    <input type="date" name="{{ field.name }}" value="{{ edit_data[f.name][name].strftime('%Y-%m-%d') }}" />#}
{#                    <a href="javascript:void(0);" id="add_date_button" class="button tiny">Add Another Date</a>#}
{#                    <a href="javascript:void(0);" id="remove_date_button" class="button tiny alert">Remove Date</a>#}
{#                {% endif %}#}
{#            {% elif name in ['next_closed_for_chapel'] %}#}
{#                <label for="next-closed_for_chapel">#}
{#                    <label for="next-closed_for_chapel">Office closed for chapel</label>#}
{#                </label>#}
{#                {% set val = edit_data[f.name][name] %}#}
{#                <ul id="next-closed_for_chapel">#}
{#                    <li>#}
{#                        <input id="next-closed_for_chapel-0" name="next-closed_for_chapel" type="radio" value="Yes" {% if val == 'Yes' %}checked="checked"{% endif %}>#}
{#                        <label for="next-closed_for_chapel-0">Yes</label>#}
{#                    </li>#}
{#                    <li>#}
{#                        <input id="next-closed_for_chapel-1" name="next-closed_for_chapel" type="radio" value="No" {% if val == 'No' %}checked="checked"{% endif %}>#}
{#                        <label for="next-closed_for_chapel-1">No</label>#}
{#                    </li>#}
{#                </ul>#}
{#            {% else %}#}
{##}
{#                {{ CheckFieldLabel(field) }}#}
{#                {{ field() }}#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    </fieldset>#}
{#{% endmacro %}#}

{% macro current_hours(current, show_chapel=True) -%}
    {% set days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'] %}
    <p>
        {% for day in days %}
            {% set open = day+ '_open' %}
            {% set close = day + '_close' %}
            {{ day.title() }}: {{ current[open] }} - {{ current[close] }}<br/>
        {% endfor %}
        {% if show_chapel %}
            Office closed for Chapel: {{ current['closed_for_chapel'] }}
        {% endif %}
    </p>
{% endmacro %}


{% block main_content %}
  <div class="row">
  <div class="large-12 columns">

    <p>Some Copy</p>
    <h4>BU Standard Hours</h4>
    {% set standard = standard_edit_data['current'] %}
    {{ current_hours(standard, False) }}

    <h4>{{ mdata['title'] }}</h4>
{#    <h4>Current Hours</h4>#}
    {% set current = edit_data['current'] %}
    {{ current_hours(current) }}

      <form id="officehoursform" action="/office-hours/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="block_id" id="block_id" value="{{ block_id }}"/>

        {% if form.errors %}
          <div class="alert alert-error">
            <div data-alert class="alert-box alert radius">
                There were errors with your form.
                <a href="#" class="close">&times;</a>
              </div>
            </div>
        {% endif %}

        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}

            {% for error in form.errors[field.name] %}
                <div class="alert alert-error">
                  <div data-alert class="alert-box alert radius">
                    {{ error }}
                    <a href="#" class="close">&times;</a>
                  </div>
                </div>
            {% endfor %}

            {% if field.type == 'FormField' %}
                <div class="large-6 columns">
                    {{ HoursGroup(field) }}
                </div>
            {% else %}
              {{ CheckFieldLabel(field) }}
              {{ field.value }}
              {{ field() }}
            {% endif %}
        {% endfor %}
        <button type="submit" id="office-hours-submit-btn" class="button postfix">Submit</button>
    </form>
  </div>
</div>

{% endblock %}


{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepair.js/0.4.14/jquery.datepair.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">


    <script type="text/javascript">
        $(document).ready(function(){
            $('.timeRange .time').timepicker({
                'minTime': '6:00am',
                'maxTime': '8:00pm',
                'timeFormat': 'h:i a'
            });
            $('.timeRange').datepair({
                'defaultTimeDelta': null
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function(){

        });


    </script>

{% endblock %}
