{% extends "tinker_base.html" %}

{% block title %}Congrats!{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <h1>Congrats!</h1>
                <p>You've successfully updated your office's hours. You should see these changes reflected within the next business day, if applicable.</p>
                <p>Thanks for submitting your office's new hours!</p>
            </div>
        </div>
    </div>

{% endblock %}