{% extends "tinker_base.html" %}

{% block title %}Program Search Tags{% endblock %}
{% set title = 'Program Search' %}

{% block styles %}
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div id="main">
                    <p>Note, for Undergrad programs, the key we store is the name of the block. For everything else, we store them using the Concentration Code provided in Cascade.</p>
                    <hr/>
                    <div id="tables"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {#  Script to update the modal submit to delete the correct form#}
    <script type="text/javascript">
        function loadTableForSearch() {
            $('#tables').html('<td colspan="2" style="text-align:center">searching...</td>');
            var search_url = "{{ url_for('ProgramSearchView:database_audit_table') }}";
            $.ajax({
                type: "POST",
                url: search_url,
                data: {},
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    $('#tables').html(result);
                    addUpdateHandlers();
                }
            });
        }

        function addUpdateHandlers() {
            $('.tinker-update').click(function () {
                var url = "{{ url_for('ProgramSearchView:database_audit_update') }}";
                var id = $(this).data('id');
                var data = {
                    'old_key': $('#tinker-old-key' + id).html(),
                    'new_key': $('#tinker-new-key' + id).val()
                };

                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify(data),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        loadTableForSearch();
                    }
                });
            });

            $('.tinker-delete').click(function(){
                var url = "{{ url_for('ProgramSearchView:database_audit_delete') }}";
                var id = $(this).data('id');
                var data = {
                    'old_key':  $('#tinker-old-key' + id).html()
                };

                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify(data),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        loadTableForSearch();
                    }
                });
            });
        }
        loadTableForSearch();
    </script>

{% endblock %}