{% extends "tinker-base.html" %}

{% block title %}Redirects{% endblock %}

{% block page_title %}Redirects{% endblock %}

{% block row_width %}12{% endblock %}

{% block main_content %}
<div class="row">
  <div class="large-12 columns">
    Info about redirects here?
  </div>
</div>
<hr/>
<div class="row">
  </div>

    <table width="900">
      <thead>
        <tr>
          <th width="400">From Path</th>
          <th width="400">To URL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for redirect in redirects %}
            <td>{{ redirect.from_path }}</td>
            <td>{{ redirect.to_url }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>


  </div>
</div>


{% endblock %}
