{% extends "tinker-base.html" %}

{% block title %}Redirects{% endblock %}

{% block page_title %}Redirects{% endblock %}

{% block row_width %}12{% endblock %}

{% block main_content %}
<div class="row">
  <div class="large-12 columns">
    Info about redirects here?
  </div>
</div>
<hr/>
<div class="row">
  <div class="large-12 columns">
    <form action="." id="new-redirect-form">
      <input type="text" name="new-redirect-from" id="new-redirect-from"/>
      <input type="text" name="new-redirect-to" id="new-redirect-to"/>
      <script type="text/javascript">

        $(document).ready(function () {
            var d = document;
            var input = $(d.createElement('input'));
            input.attr('value', 'Save');
            input.attr('type', 'button');
            input.attr('class', 'button postfix');
            input.click(function (event) {
              // when 'save' is clicked, gather the field mappings and send those
              // to the wufoo-silva app for storage
              var fieldMappings = $(this.form).serializeArray(),
                      url = '/redirect/new- -submit';
              $.post(url, fieldMappings, function(data) {
                loadTable();
              });

            });
            $("#new-redirect-form").append(input);
        });
        </script>

    </form>
  </div>
</div>
<div class="row">
  </div>

    <table width="900">
      <thead>
        <tr>
          <th width="400">From Path</th>
          <th width="400">To URL</th>
        </tr>
      </thead>
      <tbody id="redirects-table">

      </tbody>
    </table>


  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    function updateTable(data){
      $("#redirects-table").html(data);
    }
    function loadTable(){
      $.ajax({
        url: "/redirect/load-redirects",
        context: document.body
      }).done(function(data) {
        updateTable(data);
      });
    }
    loadTable();
   });

</script>

{% endblock %}

