{% extends "tinker_base.html" %}

{% set title = 'Events' %}

{% block page_title %}
    {% if new_form %}
        Add a new event
    {% else %}
        Edit your event
    {% endif %}
{% endblock %}

{% block main_content %}
    <script type="text/javascript">
        function checkOutsideOfMinnesota(id, reverse_logic) {
            var out = 'outsideofminnesota' + id;
            var time = 'timezone' + id;
            // escape if it doesn't exist yet.
            if (document.getElementById(out) == undefined)
                return;

            if (reverse_logic == true) {
                if (document.getElementById(out).checked) {
                    document.getElementById(time).style.display = "none";
                } else {
                    document.getElementById(time).style.display = "inline-block";
                }
            } else {
                if (document.getElementById(out).checked) {
                    document.getElementById(time).style.display = "inline-block";
                } else {
                    document.getElementById(time).style.display = "none";
                }
            }
        }

        function checkNoEndDate(id, reverse_logic) {
            var end = 'end' + id;
            var start = 'start' + id;
            var noend = 'noenddate' + id;
            var endlabel = 'endlabel' + id;

            if (document.getElementById(end) == undefined)
                return;

            if (reverse_logic == true) {
                if (document.getElementById(noend).checked) {
                    document.getElementById(endlabel).style.display = 'block'
                    document.getElementById(end).style.display = 'block'
                }
                else {
                    document.getElementById(end).value = '';
                    document.getElementById(endlabel).style.display = 'none'
                    document.getElementById(end).style.display = 'none'
                }
            }
            else {
                if (document.getElementById(noend).checked) {
                    document.getElementById(end).value = '';
                    document.getElementById(endlabel).style.display = 'none'
                    document.getElementById(end).style.display = 'none'
                }
                else {
                    document.getElementById(endlabel).style.display = 'block'
                    document.getElementById(end).style.display = 'block'
                }
            }
        }

        function fillEndDate(id) {
            if (document.getElementById('end' + id).value)
                return;
            else
                document.getElementById('end' + id).value = document.getElementById('start' + id).value;
        }
    </script>
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <p>If you have any questions as you submit your event, please contact Conference and Event Services
                    at
                    651.638.6090.</p>
                {% if new_form %}
                    <form id="eventform" action="{{ url_for('events.EventsView:submit') }}" method="post">
                {% else %}
                    <form id="eventform" action="{{ url_for('events.EventsView:submit') }}" method="post">
                    <input type="hidden" name="event_id" id="event_id" value="{{ event_id }}"/>
                    <input type="hidden" name="author" id="author" value="{{ author }}"/>
                {% endif %}
                {% if form.errors or not dates_good and num_dates %}
                    <div class="error-alert">
                        <div data-alert class="red-alert">
                            There were errors with your form
                        </div>
                    </div>
                {% endif %}
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}

                    {# Print any errors for this field#}
                    {% for error in form.errors[field.name] %}
                        <div class="error-alert">
                            <div data-alert class="red-alert">
                                {{ error }}
                            </div>
                        </div>
                    {% endfor %}

                    {# print the label #}
                    {% if field.name not in ["off_campus_location", "on_campus_location", "other_on_campus"] %}
                        <label for="{{ field.name }}">
                            {{ field.label.text }}
                            {% if field.flags.required %}
                                <small class="required">required</small>
                            {% endif %}
                        </label>
                        <small class="extra-required">{{ field.description }}</small>
                    {% endif %}

                    {# Print the field #}
                    {% if field.type == "SelectMultipleField" %}
                        {{ field(size=10, class="large-select") }}

                    {% elif field.type == "HeadingField" %}
                        <h3 class="subtitle">{{ field.label }}</h3>
                        <hr/>

                    {% elif field.name == "off_campus_location" %}
                        <div id="off_location_wrap" style="display:none;">
                            {{ field.label }}{{ field }}
                        </div>

                    {% elif field.name == "on_campus_location" %}
                        <div id="on_campus_wrap" style="display:none;">
                            {{ field.label }}{{ field }}
                        </div>

                    {% elif field.name == "other_on_campus" %}
                        <div id="other_wrap" style="display:none;">
                            {{ field.label }}{{ field }}
                        </div>

                    {% elif field.type == "SelectField" %}
                        {{ field }}

                    {% elif field.type == "CKEditorTextAreaField" %}
                        {{ field(class="ckeditor") }}

                    {% elif field.type == "DateTimeField" %}
                        {# do the entire date field in here for now #}
                        {{ datetime_fieldset() }}

                    {% elif field.name == "link" %}
                        {{ field }}

                    {% else %}
                        {{ field(size=20) }}
                    {% endif %}

                {% endfor %}
                <button type="submit" id="event-submit-btn" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script src="{{ url_for('static', filename='moment.js') }}"></script>
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='pikaday.css') }}">
    <script src="{{ url_for('static', filename='pikaday.js') }}"></script>
    <script src="{{ url_for('static', filename='pikaday.jquery.js') }}"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#date-delete1").hide();
            addHandler(1);


            function checkNumDates() {
                var dates = $(".date-fieldset");
                if (dates.length < 2)
                    $("#date-delete1").hide();
                else {
                    $("#date-delete1").show();
                }
            };

            $('#registration_heading').change(function () {
                var headingValue = $('#registration_heading').val();

                if (headingValue == 'Registration') {
                    $('#wufoo_code').show();
                    $("label[for='wufoo_code']").show();
                    $('#ticketing_url').hide();
                    $("label[for='ticketing_url']").hide();
                } else if (headingValue == 'Ticketing') {
                    $('#wufoo_code').hide();
                    $("label[for='wufoo_code']").hide();
                    $('#ticketing_url').show();
                    $("label[for='ticketing_url']").show();
                } else {
                    $('#wufoo_code').hide();
                    $("label[for='wufoo_code']").hide();
                    $('#ticketing_url').hide();
                    $("label[for='ticketing_url']").hide();
                }
            });
            // force the heading to call the change function
            $('#registration_heading').change();

            function newFieldset(id) {
                var startlabel = 'startlabel' + id;
                var start = 'start' + id;
                var endlabel = 'endlabel' + id;
                var end = 'end' + id;
                var all = 'allday' + id;
                var alllabel = 'alldaylabel' + id;
                var time = 'timezone' + id;
                var out = 'outsideofminnesota' + id;
                var timelabel = 'outsideofminnesotalabel' + id;
                var noendlabel = 'noendlabel' + id;
                var noend = 'noenddate' + id;
                var fieldset_node = $('<fieldset>').addClass('date-fieldset');
                var inner_node = $("<div>").addClass('content');
                inner_node.append($("<legend>")
                        .append($('<i>').addClass('fa fa-times fa-delete').attr('id', 'date-delete' + id).attr('data-id', id)).append("Date " + id + ' ')
                        .append($('<small>').addClass('required').html("required")));

                inner_node.append($("<label>").addClass("checkbox").attr("id", alllabel).attr("for", all)
                        .append($("<span>").addClass("icons")
                                .append($("<span>").addClass("first-icon fa fa-square-o"))
                                .append($("<span>").addClass("second-icon fa fa-check-square-o")))
                        .append($("<input type='checkbox'>").addClass("alldaycheck").attr('id', all).attr('name', all))
                        .append("All Day"));
                inner_node.append($("<label>").attr('for', start).attr('id', startlabel).html("Start Date"));
                inner_node.append($("<input type='text'>").attr('name', start).attr('id', start).addClass("datepicker").attr('onchange', "fillEndDate(" + id + ")"));
                inner_node.append($("<label>").attr('for', end).attr('id', endlabel).html("End Date"));
                inner_node.append($("<input type='text'>").attr('name', end).attr('id', end).addClass("datepicker"));

                inner_node.append($("<label>").addClass("checkbox").attr("id", noendlabel).attr("for", noend).attr('onclick', "checkNoEndDate(" + id + ", true)")
                        .append($("<span>").addClass("icons")
                                .append($("<span>").addClass("first-icon fa fa-square-o"))
                                .append($("<span>").addClass("second-icon fa fa-check-square-o")))
                        .append($("<input type='checkbox'>").attr('name', noend).attr('id', noend).attr('data-id', noend))
                        .append("No End Date"));

                inner_node.append($("<label>").addClass("checkbox").attr("id", timelabel).attr("for", out).attr('onclick', "checkOutsideOfMinnesota(" + id + ", true)")
                        .append($("<span>").addClass("icons")
                                .append($("<span>").addClass("first-icon fa fa-square-o"))
                                .append($("<span>").addClass("second-icon fa fa-check-square-o")))
                        .append($("<input type='checkbox'>").attr('name', out).attr('id', out).attr('data-id', out))
                        .append("Outside of Minnesota?"));

                inner_node.append($("<label>").attr('for', time).attr('style', 'display: none').attr('id', timelabel).html("Timezone"));
                inner_node.append($("<select>").attr('name', time).attr('id', time).attr('class', 'timezoneselect').attr('style', 'display: none').html($("<option value>-select-</option><option value='Pacific Time'>Pacific Time</option><option value='Mountain Time'>Mountain Time</option><option value='Central Time'>Central Time</option><option value='Eastern Time'>Eastern Time</option>")));

                fieldset_node.append($("<div>").addClass('card').append(inner_node));

                return fieldset_node;
            }

            function populateFieldset(id, allday, start, end, out, timezone, noenddate) {
                var startid = '#start' + id;
                var endid = '#end' + id;
                var alldayid = '#allday' + id;
                var alldaylabel = '#alldaylabel' + id;
                var outid = '#outsideofminnesota' + id;
                var timezoneid = '#timezone' + id;
                var timezonelabel = '#outsideofminnesotalabel' + id;
                var noendlabel = '#noendlabel' + id;
                var noenddateid = '#noenddate' + id;

                $(startid).val(start);
                $(endid).val(end);
                $(timezoneid).val(timezone);

                //Checks if the no end date checkbox was previously checked
                //Value is 'on' if checked and '' if not
                if (noenddate) {
                    $(noenddateid).attr('checked', true);
                    $(noendlabel).addClass('checked');
                    checkNoEndDate(id, false);
                }
                else if (start == end) {
                    $(noenddateid).attr('checked', true);
                    $(noendlabel).addClass('checked');
                    checkNoEndDate(id, false);
                }
                //Checks if the all day checkbox was previously checked
                //Value is 'Yes' if checked and 'No' if not
                if (allday) {
                    $(alldayid).attr('checked', true);
                    $(alldaylabel).addClass('checked');
                }
                //Checks if the out of minnesota checkbox was previously checked
                //Value is 'Yes' if checked and 'No' if not
                if (out) {
                    $(outid).attr('checked', true);
                    $(timezonelabel).addClass('checked');
                    checkOutsideOfMinnesota(id, false);
                }
            }

            function addHandler(id) {
                $("#date-delete" + id).click(function () {
                    id = $(this).data("id");
                    var list = $(".date-fieldset");
                    var length = list.length;
                    for (i = id; i < length; i++) {
                        $('#start' + (i)).val($('#start' + (i + 1)).val());
                        $('#end' + (i)).val($('#end' + (i + 1)).val());

                        if ($("#allday" + (i + 1)).parent().hasClass('checked'))
                            $("#allday" + i).parent().addClass('checked');
                        else
                            $("#allday" + i).parent().removeClass('checked');

                        if ($("#outsideofminnesota" + (i + 1)).parent().hasClass('checked')) {
                            $("#outsideofminnesota" + i).parent().addClass('checked');
                            $('#timezone' + i).val($('#timezone' + (i + 1)).val());
                            checkOutsideOfMinnesota(i, true);
                        } else {
                            $("#outsideofminnesota" + i).parent().removeClass('checked');
                            $('#timezone' + i).val('');
                            checkOutsideOfMinnesota(i, false);
                        }
                    }

                    list.last().remove();
                    checkNumDates();
                })
            };


            function offCampusLocation() {
                var location = $("#location")[0];
                var val = location.options[location.selectedIndex].innerHTML;
                if (val == "Off Campus") {
                    $("#off_location_wrap").show();
                    $("#on_campus_wrap").hide();
                    $("#other_wrap").hide();
                }
                else {
                    $("#off_location_wrap").hide();
                    $("#on_campus_wrap").show();
                    $("#other_wrap").show();
                }
            }

            function createPicker(fieldset) {
                // fieldset is a "Date x" fieldset from the form.
                var picker = new Pikaday({
                    field: fieldset.find('.datepicker')[0],
                    format: 'MMMM Do YYYY, h:mm a',
                    showTime: true
                });
                var picker = new Pikaday({
                    field: fieldset.find('.datepicker')[1],
                    format: 'MMMM Do YYYY, h:mm a',
                    showTime: true
                });
            }

            $(document).ready(function () {

                $('.datepicker').each(function (index) {
                    var picker = new Pikaday({
                        field: this,
                        format: 'MMMM Do YYYY, h:mm a',
                        showTime: true
                    });
                });
                {% if dates %}
                    var dates = {{ dates|safe }};
                    var i = 0;
                    while (i < 200) {
                        date = dates[i];
                        if (!date) {
                            break;
                        }
                        //Convert to correct value
                        id = i + 1;
                        //If this is not the first node, create it before we can populate it and insert after the last one.
                        //show the remove button
                        if (i != 0) {
                            var last = $(".date-fieldset").last();
                            var new_date = newFieldset(id);
                            new_date.insertAfter(last);
                            addHandler(id);
                        }
                        //Now populate the fieldset
                        var allday = date['all_day'];
                        if (allday == "Yes") {
                            allday = true;
                        }

                        var outsideofminnesota = date['outside_of_minnesota'];
                        if (outsideofminnesota == 'Yes') {
                            outsideofminnesota = true;
                        }

                        var noenddate = date['no_end_date'];
                        if (noenddate == 'on') {
                            noenddate = true;
                            checkNoEndDate(id, false);
                        }

                        populateFieldset(id, allday, date['start_date'], date['end_date'], outsideofminnesota, date['time_zone'], noenddate);
                        //no infinite loops today
                        i++;

                    }

                {% endif %}

{#                {% if form.errors or not dates_good and num_dates %}#}
{#                    var event_dates = {{ dates|safe }};#}
{#                    var tt = {{ num_dates }};#}
{#                    for (var i = 1; i < {{ num_dates + 1}}; i++) {#}
{#                        if (i == 1) {#}
{#                            $('#allday1').prop('checked', event_dates[i-1]['all-day']);#}
{#                            $('#start1').val(event_dates[i-1]['start-date']);#}
{#                            if ($('#noenddate1').prop('checked')) {#}
{#                                $('#end' + i).val('');#}
{#                            }#}
{#                            else#}
{#                                $('#end' + i).val(event_dates[i-1]['end-date']);#}
{##}
{#                        } else {#}
{#                            newFieldset(i);#}
{#                            var fieldsets = $(".date-fieldset");#}
{#                            var last = fieldsets.last();#}
{#                            newFieldset(i).insertAfter(last);#}
{#                            $('#allday' + i).prop('checked', event_dates[i-1]['all-day']);#}
{#                            $('#start' + i).val(event_dates[i-1]['start-date']);#}
{#                            if ($('#noenddate' + i).prop('checked')) {#}
{#                                $('#end' + i).val('');#}
{#                            }#}
{#                            else#}
{#                                $('#end' + i).val(event_dates[i-1]['end-date']);#}
{#                            $('#outsideofminnesota' + i).val(event_dates[i-1]['outside-of-minnesota']);#}
{#                            $('#timezone' + i).val(event_dates[i-1]['time-zone']);#}
{#                            $('#noenddate' + i).val(event_dates[i-1]['no-end-date']);#}
{#                        }#}
{#                    }#}
{##}
{#                {% endif %}#}

                $("#add_date_button").click(function () {
                    var fieldsets = $(".date-fieldset");
                    var last = fieldsets.last();
                    var old_num = last.children()[0].textContent.replace("Date ", ""); // "Date X" is the variable name, where X is an integer.
                    var new_num = (parseInt(old_num) + 1);
                    var new_date = newFieldset(new_num);
                    new_date.insertAfter(last);
                    checkNumDates();
                    addHandler(new_num);
                    createPicker(new_date);
                });

                $("#location").change(function () {
                    offCampusLocation();
                });

                $("#eventform").submit(function () {
                    //add a hidden field with the number of dates
                    var dates = $(".date-fieldset");

                    // add a 'required' text to those that apply
                    var return_value = true;
                    // reset all 'required' fields
                    $('.dates-required').remove();
                    for (i = 1; i <= dates.length; i++) {
                        var start = $('#start' + i);
                        var end = $('#end' + i);

                        if (start.val() != '' && end.val() == '') {
                            break;
                        }

                        if (start.val() == '' || end.val() == '') {
                            var new_element = $('<div>').html('Dates are required.').addClass('required dates-required red-alert').attr('style', 'margin-bottom: 8px');

                            var error_element = $('<div>').addClass('error-alert').append($('<div data-alert>').addClass('red-alert').append('There were errors with your form'));
                            $('#eventform').parent().prepend(error_element);
                            // if first element, add scroll-to class
                            if (return_value == true)
                                new_element.addClass('scroll-here-if-fail');

                            start.parent().prepend(new_element);
                            return_value = false;
                        }
                    }

                    // scroll screen to the top-most error
                    if (return_value == false) {
                        $('.main-panel').animate({
                            scrollTop: $('.main-panel').scrollTop() + $('.scroll-here-if-fail').offset().top - 100
                        }, 200);
                        return return_value;
                    }

                    var input = $("<input>").attr("type", "hidden").attr("name", "num_dates").val(dates.length);
                    $("#eventform").append(input);
                    return true;

                });

                offCampusLocation();


            });
        })
        ;

    </script>

{% endblock %}


{% macro datetime_fieldset() -%}
    <fieldset class="date-fieldset">
        <div class="card">
            <div class="content">
                <legend>Date 1
                    <small class="required">required</small>
                    <i class="fa fa-times fa-delete" id="date-delete1" data-id="1"></i>
                </legend>

                <label class="checkbox" id="alldaylabel1" for="allday1">
                    <span class="icons"><span class="first-icon fa fa-square-o"></span>
                        <span class="second-icon fa fa-check-square-o"></span></span>
                    <input class="alldaycheck" id="allday1" name="allday1" type="checkbox">
                    All Day
                </label>

                <label for="start1" id="startlabel1">Start Date</label>
                <input type="text" name="start1" id="start1" class="datepicker" onchange="fillEndDate(1)"/>

                <label for="end1" id="endlabel1">End Date</label>
                <input type="text" name="end1" id="end1" class="datepicker"/>

                <label class="checkbox" id="noendlabel1" for="noenddate1"
                        onclick="checkNoEndDate(1, true)">
                    <span class="icons"><span class="first-icon fa fa-square-o"></span>
                        <span class="second-icon fa fa-check-square-o"></span></span>
                    <input type="checkbox" id="noenddate1" data-id="noenddate1" name="noenddate1">
                    No End Date
                </label>

                <label class="checkbox" id="outsideofminnesotalabel1" for="outsideofminnesota1"
                       onclick="checkOutsideOfMinnesota(1, true)">
                    <span class="icons"><span class="first-icon fa fa-square-o"></span>
                        <span class="second-icon fa fa-check-square-o"></span></span>
                    <input type="checkbox" id="outsideofminnesota1" data-id="outsideofminnesota1" name="outsideofminnesota1">
                    Outside of Minnesota?
                </label>

                <select id="timezone1" style="display: none" name="timezone1" class="timezoneselect">
                    <option value>-select-</option>
                    <option value="Pacific Time">Pacific Time</option>
                    <option value="Mountain Time">Mountain Time</option>
                    <option value="Central Time">Central Time</option>
                    <option value="Eastern Time">Eastern Time</option>
                </select>
            </div>
        </div>
    </fieldset>
    <a href="javascript:void(0);" id="add_date_button" class="btn btn-primary">Add Another Date</a>
{%- endmacro %}
