{% extends "tinker_base.html" %}

{% set title = 'E-Announcements' %}

{% block styles %}
    <style type="text/css">
    </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <p class="description">Below is the list of E-Announcements you have access to edit. These are sorted by
                    the first date
                    entered, newest dates first.
                </p>
                <hr/>
                <a href="{{ url_for('e_announcements.EAnnouncementsView:new') }}" class="btn btn-primary new-btn">Submit
                    New
                    E-Announcement</a>
                {% if 'E-Announcement Approver' in session['groups'].split(';') or 'Administrators' in session['groups'].split(';') %}
                    <a href="{{ url_for('e_announcements.EAnnouncementsView:ea_upcoming') }}"
                       class="btn btn-primary new-btn">
                        Upcoming E-Announcements</a>
                {% endif %}
                <hr>
                <p class="description">Click "Slide Down" button for additional search parameters.
                    Press "Slide Up" to hide selection</p>
                <button class="s-up">Slide Up</button>
                <button class="s-down">Slide Down</button>


                <div id="additional-search-params" style="display: none;">
                    <p class="description"> The below are optional parameters to help in your search.</p>
                    <div></div>
                    <small>Used by entering in part of a name, for example "scho" will select events with
                        words "scholar", "school", "scholastic" etc.
                    </small>
                    <label for="e-annz-title">E-Announcement Title:</label>
                    <input id="e-annz-title" type="text" name="E-Annz-Title"><br/>
                    <small>The Start and End fields are to specify the date range where an e-announcement might fall,
                        for example "New Years Eve" and "Christmas" would both show up if you started at December 25th
                        and ended on December 31st
                    </small>
                    <label for="startDate">Start Date:</label>
                    <input id="startDate" class='datepicker' size='11'/>
                    <label for="endDate">End Date:</label>
                    <input id="endDate" class='datepicker' size='11'/>
                </div>
            </div>

            <div class="col-md-12">
                <br id="search-space">
                <a type="submit" id="e-annz-submit-btn" class="btn btn-primary search-e-annz">Search</a>
                {# spinner placeholder #}
                <div id="spinner" class="spinner" style="display:none;">
                    <img id="img-spinner" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
                </div>
                <br>
                <br>

                {% for form in forms %}
                    <div class="card">
                        <div class="content">
                            <p>
                                {% if form.path != '' %}
                                    <a href={{ form.path }}>{{ form.title }}</a>
                                {% else %}
                                    {{ form.title }}
                                {% endif %}
                                <br/>
                                <small>{{ form.first_date | safe }}</small>
                                <br/>
                                <small>{{ form.second_date | safe }}</small>
                            </p>
                            <div class="large-6 columns small-3">
                                <ul class="btn-group-horizontal">
                                    {% if form.workflow_status %}
                                        <li>This announcement is pending approval.</li>
                                    {% else %}
                                        {% if not form.first_date_past and not form.second_date_past %}
                                            <li>
                                                <a href="{{ url_for('e_announcements.EAnnouncementsView:edit', e_announcement_id=form.id) }}"
                                                   class="btn btn-primary">Edit</a></li>
                                        {% else %}
                                            <li>
                                                <a href="{{ url_for('e_announcements.EAnnouncementsView:view', e_announcement_id=form.id) }}"
                                                   class="btn btn-primary">View</a></li>
                                        {% endif %}
                                        <li>
                                            <a href="{{ url_for('e_announcements.EAnnouncementsView:duplicate', e_announcement_id=form.id) }}"
                                               class="btn btn-primary">Duplicate</a></li>
                                        {% if not form.first_date_past %}
                                            <li><a href="#" data-reveal-id="confirmModal" id="{{ form.id }}"
                                                   data-e-announcement-id="{{ form.id }}"
                                                   class="small btn btn-primary btn-alert delete-press"
                                                   data-toggle="modal" data-target="#myModal">Delete</a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}

{% block modalhtml %}
    <!-- Modal Core -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete?</h4>
                </div>
                <div class="modal-body">
                    Your E-Announcement will be removed.
                </div>
                <div class="modal-footer">
                    <a id="modal-confirm" href="/e-announcements/delete/formid" type="button"
                       class="btn btn-primary btn-alert modal-confirm">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    {#  Script to update the modal submit to delete the correct form#}
    <script type="text/javascript">
        $(".delete-press").click(function () {
            $("#modal-confirm").attr("href", "/e-announcements/delete/" + $(this).data('e-announcement-id'));
        });


        {#   Search E-ANNZ   #}

        function search_e_annz() {
            search_url = "{{ url_for('e_announcements.EAnnouncementsView:search') }}";
            $('#spinner').show();
            inputs = {
                "title": $("#e-annz-title").val(),
                "start": $("#startDate").val(),
                "end": $("#endDate").val(),
                "selection": $("#school-selector").val()
            };
            $.ajax({
                type: "POST",
                url: search_url,
                data: JSON.stringify(inputs),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    // window.location.replace(result);
                    document.getElementById('results').innerHTML = result;
                    $('#spinner').hide();
                }
            });
        }
        $(document).ready(function () {
            $(".s-up").click(function () {
                $("#additional-search-params").slideUp();
                $("#search-space").show();
            });
            $(".s-down").click(function () {
                $("#additional-search-params").slideDown();
                $("#search-space").hide();
            });
        });

    </script>

{% endblock %}


