{% extends "tinker-base.html" %}

{% block title %}Congrats!{% endblock %}



{% block main_content %}

  <div class="row">
    <div class="large-12 columns">
        <h1>Congrats!</h1>
        <p>
            You've successfully submitted your faculty bio. If you have any questions, feel free to contact your web author.
            <br />
            {% if workflow %}
                <p>Your bio is currently in a workflow</p>
            {% endif %}
            <br/>
          Thanks for creating your bio!
        </p>

    </div>
  </div>

{% endblock %}