{% extends "tinker-base.html" %}

{% block title %}Congrats!{% endblock %}



{% block main_content %}

  <div class="row">
    <div class="large-12 columns">
        <h1>Congrats!</h1>
        <p>
            Congrats! You've successfully created a new bio. Since it's a brand new bio, it's been sent for approval but will be ready to view in 2-3 business days. Thanks for creating your bio!
            <br />
            {% if workflow %}
                <p>Your bio is currently in a workflow</p>
            {% endif %}
            <br/>
          Thanks for creating your bio!
        </p>

    </div>
  </div>

{% endblock %}