{% extends "tinker_base.html" %}

{% set title='Publish Manager' %}

{% block styles %}
    <style type="text/css">
    </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <h3 class="subtitle">Publish Program Feeds</h3>
                <br/>

                <a href='/admin/publish-manager/program-feeds/staging' class="btn btn-primary">Publish to Staging</a>
                <a href='/admin/publish-manager/program-feeds/production' class="btn btn-primary">Publish to Production
                    and
                    Staging</a>
            </div>
        </div>
    </div>

{% endblock %}