<div id="more-info-content" class="content">
    <div class="container-fluid">
        <div class="col-md-12">

            {% if name %}
                <h2>{{ name }}</h2>
            {% endif %}
            <div class="col-md-12">
                <div class="row">

                    <div><p>Title: {{ title }}</p></div>

                    <div><p>Path: {{ path }}</p></div>

                    <div><p>Type: {{ info_type }}</p></div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <h4>WWW last published</h4>
                    <p><a href="https://www.bethel.edu/{{ path }}" target="_blank">{{ www_publish_date }}</a>
                    </p>
                    <iframe src="https://www.bethel.edu/{{ path }}" height="400" width="400"></iframe>
                </div>

                <div class="col-sm-6">
                    <h4>Staging last published</h4>
                    <p><a href="https://staging.bethel.edu/{{ path }}"
                          target="_blank">{{ staging_publish_date }}</a>
                    </p>
                    <iframe src="https://staging.bethel.edu/{{ path }}" height="400" width="400"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>