{% extends "tinker_base.html" %}

{% set title='Publish Manager' %}

{% block styles %}
  <style type="text/css">
  </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
<div class="content">
    <h3>Publish Program Feeds</h3>
    <div class="container-fluid">
        <div class="col-md-12">
            <h3 class="subtitle">Publish Program Feeds</h3>
            <br/>
            <a href='{{ url_for('PublishView:publish_program_feeds_return', destination = "staging") }}' class="btn btn-alert">Publish to Staging</a>
            <a href='{{ url_for('PublishView:publish_program_feeds_return', destination = "production") }}' class="btn danger">Publish to Production and Staging</a>
        </div>
    </div>

    <p>Published these pages to {{ destination }}</p>
    <table>
        <tr>
            <th>Block</th>
            <th>Page Published</th>
            <th>Errors?</th>
        </tr>
    {% for block in final_results %}
        {% for page in block.pages %}
            <tr>
                {% if loop.index == 1 %}
                    <td width="40%"><a href="https://cms.bethel.edu/entity/open.act?id={{ block.id }}&type=block&">{{ block.path }}</a></td>
                {% else %}
                    <td width="40%"></td>
                {% endif %}
                <td width="40%"><a href="https://cms.bethel.edu/entity/open.act?id={{ page.id }}&type=page&">{{ page.path }}</a></td>
                <td width="20%">{{ page.message }}</td>
            </tr>
        {% endfor %}

    {% endfor %}
    </table>

</div>
{% endblock %}