<p>Note, for Undergrad programs, the key we store is the name of the block. For everything else, we store them using the Concentration Code provided in Cascade.</p>
{% if unmatched_keys_in_tinker_db %}
    <h3>Tinker Database Status</h3>
    <p>These values exist in the Tinker Database, but they do not match up with any program block in Cascade. Enter the new program name or Concentration Code.</p>
    <table>
        <thead>
            <tr>
                <td>DB Value</td>
                <td>Concentration Code or Block Name</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {% set counter = 0 %}
        {% for key in unmatched_keys_in_tinker_db %}
            {% set counter = counter + 1 %}
            <tr>
                <td><p id="tinker-old-key{{ counter }}">{{ key }}</p></td>
                <td><input type="text" id="tinker-new-key{{ counter }}"/></td>
                <td><a class="tinker-update" data-id="{{ counter }}">Update</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Tinker currently matches up with Cascade's program blocks</p>
{% endif %}

{% if unmatched_keys_in_cascade %}
    <h3>Cascade status:</h3>
    <p>These values exist in Cascade, but have no entries in the Tinker Database. This could mean that it is a new program with no custom search entries. </p>
    <table>
    {% for key in unmatched_keys_in_cascade %}
        <tr>
            <td>{{ key }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Cascade has no unmatched program names or Concentration Codes.</p>
{% endif %}

