{% extends "tinker-base.html" %}

{% block title %}Program Search Tags{% endblock %}

{% block styles %}
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
<div id="main">
    <div>
        <div class="row">
            <form id='program_search_form' method="post">
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <div class="large-6 columns">
                    <label for="key">Concentration Code or Program Name:</label>
{#                    <input type="text" name="key" id='search-key' class='search-input' placeholder="Filter Key" />#}
                    <select name="key" id="search-key" class="search-input">
                        <option value="">Any</option>
                        {% for school_label in school_labels %}
                            <optgroup label="{{ school_label }}">
                            {% for program_concentration in program_concentrations %}
                                {% if program_concentration.school == school_label %}
                                    <option value="{{ program_concentration.value }}">{{ program_concentration.name }}</option>
                                {% endif %}
                            {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                    <label for="tag">Tag:</label>
                    <input type="text" name="tag" id='search-tag' class='search-input' placeholder="Filter Tag" />
                </div>
                <div class="large-6 columns">
                    <p>These are for creating new Program Tags.</p>
                    <label for="outcome">Outcome:</label>
                    <input type="radio" name="outcome" value="True"> Yes
                    <input type="radio" name="outcome" value="False" checked="checked"> No<br/>

                    <label for="topic">Topic:</label>
                    <input type="radio" name="topic" value="True"> Yes
                    <input type="radio" name="topic" value="False" checked="checked"> No<br/>

                    <label for="other">Other:</label>
                    <input type="radio" name="other" value="True"> Yes
                    <input type="radio" name="other" value="False" checked="checked"> No

                    <br/>
                    <input type="submit" class="button"/>
                </div>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Program Concentration</th>
                    <th>Tag</th>
                    <th>Outcome</th>
                    <th>Topic</th>
                    <th>Other</th>
                    <th><a class="button" id="delete-all">Delete</a></th>
                </tr>
            </thead>
            <tbody id="table-body">

            </tbody>
        </table>
    </div>
</div>

{# Delete confirm modal #}
<div id="confirmModal" class="reveal-modal" data-reveal>
  <h2>Are you sure you want to delete?</h2>
  <p class="lead">The redirect will be gone forever and forever.</p>

  <button class="modal-confirm" id="modal-confirm" data-delete-path="">Delete</button>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}

{% block scripts %}
    {#  Script to update the modal submit to delete the correct form#}
    <script src="/static/csrf-activator.js"></script>
    <script type="text/javascript">
        var csrftoken = "{{ csrf_token() }}";
        activateCSRF(csrftoken);

        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        $(".search-input").keyup(function () {
            delay(function () {
                loadTableForSearch();
            }, 300);
        }).change(function () {
            delay(function () {
                loadTableForSearch();
            }, 300);
        });

        function loadTableForSearch() {
            $('#table-body').html('<td colspan="6" style="text-align:center">. . . searching . . .</td>');

            var search_url = "{{ url_for('program_search.ProgramSearchView:search') }}";
            search_tag = $('#search-tag')[0].value;
            search_key = $('#search-key')[0].value;

            var inputs = {
                'search_tag': search_tag,
                'search_key': search_key
            };

            $.ajax({
                type: "POST",
                url: search_url,
                data: JSON.stringify(inputs),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    $('#table-body').html(result);
                }
            });
        }

        $("#delete-all").click(function(){
            var checkboxes_to_delete = [];
            var checkbox_elements = $("input:checkbox[class=delete-checkbox]:checked");
            for( var i=0;i<checkbox_elements.length;i++){
                checkboxes_to_delete.push(checkbox_elements[i].id);
            }

            $.ajax({
                type: "POST",
                url: "{{ url_for('program_search.ProgramSearchView:multi_delete')}}",
                data: JSON.stringify(checkboxes_to_delete),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    loadTableForSearch();
                }
            });
        });

        $('#program_search_form').submit(function () {
            var formData = {
                'key':                      $('select[name=key]').val(),
                'tag':                      $('input[name=tag]').val(),
                'outcome':                  $('input[name=outcome]:checked').val(),
                'topic':                    $('input[name=topic]:checked').val(),
                'other':                    $('input[name=other]:checked').val()
            };

             $.ajax({
                type: "POST",
                url: "{{ url_for('program_search.ProgramSearchView:post') }}",
                data: JSON.stringify(formData),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    loadTableForSearch();
                }
            });
             return false;
        });
    </script>

{% endblock %}