<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View Travis CI Build</title>
    </head>
    <body>
        <table>
        {% for key in order %}
            <tr>
                <td>{{ key }}</td>
            {% if key == "duration" %}
                <td>{{ packet[key] }} seconds</td>
            {% elif key == "compare_url" %}
                <td><a href="{{ packet[key] }}">{{ packet[key] }}</a></td>
            {% elif key == "sha" %}
                <td><a href="https://github.com/betheluniversity/tinker/commit/{{ packet[key] }}">{{ packet[key] }}</a></td>
            {% else %}
                <td>{{ packet[key] }}</td>
            {% endif %}
            </tr>
        {% endfor %}
            <tr>
                <td><a href="/unit-test/rerun_travis_build/{{ packet['build_id'] }}">Rerun this build</a></td>
            </tr>
        </table>
    </body>
</html>