{% extends "tinker_base.html" %}

{% set title = "E-Announcements" %}

{% block main_content %}

    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <h3>Congrats!</h3>
                {% if status == 'new' %}
                    <input type="hidden" id="new_eaid" value="{{ new_eaid }}"/>
                    <p>
                        You've successfully created your E-Announcement. Once your E-Announcement has been approved, it
                        will appear on your Tinker <a href="{{ url_for('e-announcements.EAnnouncementsView:index') }}">E-Announcement
                        page</a> where you'll be able to view the announcement page or make changes to it.
                    </p>
                    <p>If you have any questions, please contact the Office of Communications and Marketing at <a
                            href="mailto:e-announcements@bethel.edu">e-announcements@bethel.edu</a>.</p>
                {% else %}
                    <p>
                        You've successfully edited your E-Announcement. Once your E-Announcement has been approved, it
                        will appear on your Tinker <a href="{{ url_for('e-announcements.EAnnouncementsView:index') }}">E-Announcement
                        page</a> where you'll be able to view the announcement page or make changes to it.
                    </p>
                    <p>If you have any questions, please contact the Office of Communications and Marketing at <a
                            href="mailto:e-announcements@bethel.edu">e-announcements@bethel.edu</a>.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
