{% extends "tinker_base.html" %}

{% set title = "E-Announcements" %}

{% block main_content %}

    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">

                <p>
                    Your E-Announcement has been deleted. It will be removed from your <a
                        href="{{ url_for('e_announcements.EAnnouncementsView:index') }}">Tinker homepage</a> in a few
                    minutes.
                </p>
            </div>
        </div>
    </div>

{% endblock %}