{% extends "tinker_base.html" %}

{% set title = 'E-Announcements' %}

{% block styles %}
    <style type="text/css">
    </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <p class="description">Below is the list of E-Announcements you have access to edit. These are sorted by
                    the first date
                    entered, newest dates first.
                </p>
                <hr/>
                <a href="{{ url_for('e_announcements.EAnnouncementsView:new') }}" class="btn btn-primary new-btn">Submit
                    New
                    E-Announcement</a>
                <a href="{{  TODO }}" class="btn btn-primary new-btn">View E-Announcements</a>

                {% for form in forms %}
                    <div class="card">
                        <div class="content">
                            <p>
                                {% if form.path != '' %}
                                    <a href={{ form.path }}>{{ form.title }}</a>
                                {% else %}
                                    {{ form.title }}
                                {% endif %}
                                <br/>
                                <small>{{ form.first_date | safe }}</small>
                                <br/>
                                <small>{{ form.second_date | safe }}</small>
                            </p>
                            <div class="large-6 columns small-3">
                                <ul class="btn-group-horizontal">
                                    {% if form.workflow_status %}
                                        <li>This announcement is pending approval.</li>
                                    {% else %}
                                        {% if not form.first_date_past and not form.second_date_past %}
                                            <li>
                                                <a href="{{ url_for('e_announcements.EAnnouncementsView:edit', e_announcement_id=form.id) }}"
                                                   class="btn btn-primary">Edit</a></li>
                                        {% else %}
                                            <li>
                                                <a href="{{ url_for('e_announcements.EAnnouncementsView:view', e_announcement_id=form.id) }}"
                                                   class="btn btn-primary">View</a></li>
                                        {% endif %}
                                        <li>
                                            <a href="{{ url_for('e_announcements.EAnnouncementsView:duplicate', e_announcement_id=form.id) }}"
                                               class="btn btn-primary">Duplicate</a></li>
                                        {% if not form.first_date_past %}
                                            <li><a href="#" data-reveal-id="confirmModal" id="{{ form.id }}"
                                                   data-e-announcement-id="{{ form.id }}"
                                                   class="small btn btn-primary btn-alert delete-press"
                                                   data-toggle="modal" data-target="#myModal">Delete</a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}

{% block modalhtml %}
<!-- Modal Core -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete?</h4>
            </div>
            <div class="modal-body">
                Your E-Announcement will be removed.
            </div>
            <div class="modal-footer">
                <a id="modal-confirm" href="/e-announcements/delete/formid" type="button"
                   class="btn btn-primary btn-alert modal-confirm">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

    {#  Script to update the modal submit to delete the correct form#}
    <script type="text/javascript">
        $(".delete-press").click(function () {
            $("#modal-confirm").attr("href", "/e-announcements/delete/" + $(this).data('e-announcement-id'));
        });
    </script>

{% endblock %}


