{% extends "tinker_base.html" %}

{% set title = 'E-Announcements' %}

{% block styles %}
    <style type="text/css">
    </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="card">
            <div class="row">
                <div class="large-12 columns">
                    </br>
                    <p>Below is the list of E-Announcements you have access to edit. These are sorted by the first date
                        entered, newest dates first.
                    </p>
                </div>
            </div>
            <a href="{{ url_for('e-announcements.EAnnouncementsView:new') }}" class="btn btn-primary">Submit New
                E-Announcement</a>
            <hr/>

            <div class="row">

                <div class="large-12 columns">

                    {% for form in forms %}
                        <div class="row">
                            <div class="large-6 columns">
                                <p>
                                    {% if form.path != '' %}
                                        <a href={{ form.path }}>{{ form.title }}</a>
                                    {% else %}
                                        {{ form.title }}
                                    {% endif %}
                                    <br/>
                                    <small>{{ form.first_date | safe }}</small>
                                    <br/>
                                    <small>{{ form.second_date | safe }}</small>
                                </p>
                            </div>
                            <div class="large-6 columns small-3">
                                <ul class="button-group">
                                    {% if form.workflow_status %}
                                        <li>This announcement is pending approval.</li>
                                    {% else %}
                                        {% if not form.first_date_past and not form.second_date_past %}
                                            <li>
                                                <a href="{{ url_for('e-announcements.EAnnouncementsView:edit', e_announcement_id=form.id) }}"
                                                   class="small button">Edit</a></li>
                                        {% else %}
                                            <li>
                                                <a href="{{ url_for('e-announcements.EAnnouncementsView:view', e_announcement_id=form.id) }}"
                                                   class="small button">View</a></li>
                                        {% endif %}
                                        <li>
                                            <a href="{{ url_for('e-announcements.EAnnouncementsView:duplicate', e_announcement_id=form.id) }}"
                                               class="small button">Duplicate</a></li>
                                        {% if not form.first_date_past %}
                                            <li><a href="#" data-reveal-id="confirmModal" id="{{ form.id }}"
                                                   data-e-announcement-id="{{ form.id }}"
                                                   class="small button alert delete-press">Delete</a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                            <hr/>
                        </div>
                    {% endfor %}


                </div>
            </div>


            <!-- Button trigger modal -->
            <button class="btn btn-primary" id="modal-delete" data-toggle="modal" data-target="#myModal">
                Delete E-Annz
            </button>
            </br>

            <!-- Modal Core -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Delete E-Announcement</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure you wante to delete?
                            Your E-Announcement will be removed.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
                            <a href="/e-announcement/delete/formid" type="button"
                               class="btn btn-info btn-simple">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            </br>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    {#  Script to update the modal submit to delete the correct form#}
    <script type="text/javascript">
        $(".modal-delete").click(function () {
            $(".btn-info").attr("href", "/e-announcement/delete/" + $(this).data('e-announcement-id'));
        });
    </script>

{% endblock %}


