{% extends "tinker_base.html" %}

{% set title = 'Redirects' %}

{% block page_title %}Redirects{% endblock %}

{% block row_width %}12{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form action="" id="new-redirect-form">
                            <div class="row less-left-margin">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        From Path:
                                        <input type="text" id="new-redirect-from"
                                               class="form-control no-margin-bottom"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        To URL:
                                        <input type="text" id="new-redirect-to" class="form-control no-margin-bottom"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        Expiration Date:
                                        <input type="text" id="expiration-date" class="form-control no-margin-bottom"/>
                                    </div>
                                </div>
                            </div>
                            <label class="checkbox" for="new-redirect-short-url">
                                <span class="icons">
                                    <span class="first-icon fa fa-square-o"></span>
                                    <span class="second-icon fa fa-check-square-o"></span>
                                </span>
                                <input type="checkbox" name="new-redirect-short-url" id="new-redirect-short-url">
                                Short URL
                            </label>
                            <div id="redirects-save" class="btn btn-primary">
                                Save
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="400">From Path</th>
                                <th width="400">To URL</th>
                                <th width="400">Expiration Date</th>
                            </tr>
                            </thead>
                            <tbody id="redirects-table">
                            </tbody>
                        </table>
                    </div>
                </div>
                {# spinner placeholder #}
                <div id="spinner" class="spinner" style="display:none;">
                    <img id="img-spinner" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            function updateTable(data) {
                $("#redirects-table").html(data);
                $('#new-redirect-to').attr("disabled", false)
                //should the inputs be disabled?
                var search_val = $("#new-redirect-from").val();
                $(".from_path").each(function () {
                    var this_val = $(this).html();
                    if (search_val == this_val) {
                        $("#new-redirect-to").val('');
                        $("#new-redirect-from").val('');
                        $("#expiration-date").val('');
                        return false;
                    }
                });
                $(".redirect-row").on('click', function () {
                    $("#modal-confirm").attr("data-delete-path", $(this).data('from-path'));
                });
            }

            var delay = (function () {
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            function showAdd() {
                $("#new-redirect-to").show();
                $("#redirect-add").show();
            }

            function loadTableForSearch(search_value, type) {
                // type needs to be either 'from_path' or 'to_url'
                var search = {'type': type, 'search': search_value};
                var url = "{{ url_for('redirects.RedirectsView:search') }}";
                $.post(url, search, function (data) {
                    updateTable(data);
                });
            }

            $('#new-redirect-to').keyup(function () {
                $('#spinner').show();
                var input = $(this);
                input.val(input.val().replace(/ /g, ''));
                var value = input.val();
                delay(function () {
                    $('#spinner').hide();
                    loadTableForSearch(value, 'to_url');
                }, 300);
            });

            $('#new-redirect-from').keyup(function () {
                $('#spinner').show();
                var input = $(this);
                input.val(input.val().replace(/ /g, ''));
                var value = input.val();
                if (value[0] != '/' && value.length > 0) {
                    input.val("/" + value);
                    value = input.val();
                }
                delay(function () {
                    loadTableForSearch(value, 'from_path');
                    $('#spinner').hide();
                }, 300);
            });

            $("#redirects-save").click(function () {
                $.notify({
                    message: 'Your redirect is saved'
                }, {
                    type: 'success',
                    placement: {
                        align: 'center'
                    },

                });
            });

            $(document).ready(function () {

                $('#redirects-save').click(function () {
                    var data = {
                        'new-redirect-from': $('#new-redirect-from').val(),
                        'new-redirect-to': $('#new-redirect-to').val(),
                        'new-redirect-short-url': $('#new-redirect-short-url').parent().hasClass('checked'),
                        'expiration-date': $('#expiration-date').val()
                    };
debugger;
                    var url = "{{ url_for('redirects.RedirectsView:new_redirect_submit') }}";
                    $.post(url, data, function (data) {
                        loadTableForSearch($('#new-redirect-from').val(), 'from_path');
                    });

                });

                $(".btn-alert").click(function () {
                    var from_path = {"from_path": $(this).attr('data-delete-path')};
                    var url = "{{ url_for('redirects.RedirectsView:delete_redirect') }}";
                    $.post(url, from_path, function (data) {
                        if (data) {
                            loadTableForSearch($("#new-redirect-from").val(), 'from_path');
                        }
                    });
                });

            });

        })
        ;
    </script>

{% endblock %}

{% block modalhtml %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete?</h4>
                </div>
                <div class="modal-body">
                    Your redirect will be gone forever and ever.
                </div>
                <div class="modal-footer">
                    <a id="modal-confirm" data-delete-path="/delete/path" data-dismiss="modal"
                       class="btn btn-primary btn-alert modal-confirm">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('static', filename='pikaday.css') }}">
    <script src="{{ url_for('static', filename='pikaday.js') }}"></script>
    <script src="{{ url_for('static', filename='pikaday.jquery.js') }}"></script>
    <script>
        $(document).ready(function () {
            var picker = new Pikaday({
                field: document.getElementById('expiration-date')
            });
        });
    </script>
{% endblock %}