<table class="layout layout--no-gutter" style="border-collapse: collapse;table-layout: fixed;margin-left: auto;margin-right: auto;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;" align="center">
    <tbody>
        <tr>
            <td class="column" style="padding: 40px;text-align: left;vertical-align: top;color: #555;font-size: 14px;line-height: 20px;font-family: Georgia,serif;width: 600px;">
                <div style="margin-left: 20px;margin-right: 20px; margin-bottom:40px">
                    <a href="https://www.bethel.edu/{{ article['path'] }}"><h1 style="margin-bottom: 5px;font-style: normal;font-weight: normal;color: #0069aa;font-size: 30px;line-height: 28px;font-family: sans-serif;">{{ article['title'] }}</h1></a>
                    <p class="article-meta" style="margin-top:10px">{{ date }}</p>
                </div>
                <div style="Margin-left: 20px;Margin-right: 20px;">
                    <img src="https://www.bethel.edu/{{ article['image-path'] }}" width="100%">
                    {{ article['content']|safe }}
                    <div style="text-align: center" class="btn"><a href="https://www.bethel.edu/{{ article['path'] }}" style="color:#0069aa !important">Read More</a></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
