<table class="layout layout--no-gutter" style="border-collapse: collapse;table-layout: fixed;margin-left: auto;margin-right: auto;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;" align="center">
    <tbody>
        <tr>
            <td class="column" style="padding: 40px;text-align: left;vertical-align: top;color: #555;font-size: 14px;line-height: 20px;font-family: Georgia,serif;width: 600px;">
                <div style="margin-left: 20px;margin-right: 20px; margin-bottom:40px">
                    <a href="https://www.bethel.edu/{{ path }}"><h1 style="margin-bottom: 5px;font-style: normal;font-weight: normal;color: #0069aa;font-size: 30px;line-height: 28px;font-family: sans-serif;">{{ title }}</h1></a>
                    <p class="article-meta" style="margin-top:10px">{{ date }}</p>
                </div>
                <div style="Margin-left: 20px;Margin-right: 20px;">
                    <img src="https://www.bethel.edu/{{ image_path }}" width="100%">
                    {{ content|safe }}
                    <div style="text-align: center" class="btn"><a href="https://www.bethel.edu/{{ path }}" style="color:#0069aa !important">Read More</a></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="column" style="padding: 40px;text-align: left;vertical-align: top;color: #555;font-size: 14px;line-height: 20px;font-family: Georgia,serif;width: 600px;">
                <div style="margin-left: 20px;margin-right: 20px; margin-bottom:20px">
                    <h2 style="text-align:center;font-style: normal;font-weight: normal;font-size: 22px;line-height: 28px;font-family: sans-serif;">About Bethel</h2>
                    <p style="margin-top:10px">
                        Bethel University is a leader in Christ-centered higher education with more than 5,500 students from 48 states and 42 countries enrolled in undergraduate, graduate, seminary, and adult education programs. Based in St. Paul, Minnesota, with an additional seminary location in San Diego, California, Bethel offers bachelor’s and advanced degrees in nearly 100 fields. Educationally excellent classroom-based and online programs equip graduates to make exceptional contributions in life-long service to God and the world.
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
