{% extends "tinker_base.html" %}

{% set title = 'Office Hours' %}

{% block styles %}
    <style type="text/css">
    </style>
{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Below is the list of Office Hours you have access to edit.</p>
                <hr/>
                {% if standard_hours or office_hours|length > 0 %}
                    {% if standard_hours %}
                        {{ render_office_hours(standard_hours) }}
                    {% endif %}

                    {% for form in office_hours %}
                        {{ render_office_hours(form) }}
                    {% endfor %}
                {% else %}
                    {# this should never happen, as they shouldn't see the page if they can't edit any. #}
                    <p>There are no Office Hour Blocks you can edit.</p>
                {% endif %}
            </div>
        </div>
    </div>

    {#  Script to update the modal submit to delete the correct form#}
    <script type="text/javascript">
        $(".delete-press").click(function () {
            $("#modal-confirm").attr("href", "" + $(this).data(''));
        });
    </script>

{% endblock %}

{% macro render_office_hours(form) %}
    <div class="card" style="background-color: #ffffff">
        <div class="content">
            <div class="row">
                <div class="large-6 columns">
                    <p>{{ form.title }}</p>
                </div>
                <div class="large-6 columns small-3">
                    <a href="{{ url_for('office_hours.OfficeHoursView:edit', block_id=form.id) }}"
                       class="btn btn-primary">Edit</a></li>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endmacro %}
