{% extends "tinker-base.html" %}

{% block title %}Success{% endblock %}

{% block main_content %}

  <div class="row">
    <div class="large-12 columns">

        <h3>
          Thanks for your submission!
        </h3>
        <p>
          Your event page is being built and will appear on your <a href="/">Tinker homepage</a> in a few minutes.
        </p>
        <p>
          Please enjoy this GIF while you’re waiting!
        </p>
        <p>
          <img src="//cdn2.bethel.edu/gif/kitten-is-scared-by-lizard.gif" />
        </p>

        <p>
          You'll receive an email when your event has been approved by Conference and Event Services. Your event will then be viewable on our website.
        </p>

    </div>
  </div>

{% endblock %}