{% extends "tinker-base.html" %}

{% block title %}Roles{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}
{% block main_content %}

    <table>
        {% for row in table %}
        <tr>

        </tr>
    </table>

    <table class="silvatable grid" cellspacing="0" cellpadding="3">
        <colgroup>
            <col width="33%" class="align-left">
            <col width="33%" class="align-left">
            <col width="33%" class="align-left">
            <col width="1%" class="align-left">
        </colgroup>

        <tbody>
        <tr class="rowheading">
            <td colspan="4">
                Layout Owner Logins
            </td>
        </tr>

        <tr class="odd">
            <td class="align-left">
                allusers-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=allusers-lo&amp;portal=prod"
                   target="_self">Production</a><br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=allusers-lo&amp;portal=xp"
                   target="_self">XP</a><br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=allusers-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a>
            </td>
        </tr>

        <tr class="even">
            <td class="align-left">
                employee-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=employee-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=employee-lo&amp;portal=xp"
                   target="_self">XP</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=employee-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a>
            </td>
        </tr>

        <tr class="odd">
            <td class="align-left">
                faculty-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=faculty-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=faculty-lo&amp;portal=xp"
                   target="_self">XP</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=faculty-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a>
            </td>
        </tr>

        <tr class="even">
            <td class="align-left">
                student-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=student-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=student-lo&amp;portal=xp"
                   target="_self">XP</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=student-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a>
            </td>
        </tr>

        <tr class="odd">
            <td class="align-left">
                student2-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=student2-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=student2-lo&amp;portal=xp"
                   target="_self">XP</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=student2-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a>
            </td>
        </tr>

        <tr class="even">
            <td class="align-left">
                cas-student-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=cas-student-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=cas-student-lo&amp;portal=xp"
                   target="_self">XP</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=cas-student-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a>
            </td>
        </tr>

        <tr class="odd">
            <td class="align-left">
                bssp-student-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=bssp-student-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=bssp-student-lo&amp;portal=xp"
                   target="_self">XP</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=bssp-student-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a>
            </td>
        </tr>

        <tr class="even">
            <td class="align-left">
                gs-student-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=gs-student-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=gs-student-lo&amp;portal=xp"
                   target="_self">XP</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=gs-student-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a>
            </td>
        </tr>

        <tr class="odd">
            <td class="align-left">
                caps-student-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=caps-student-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=caps-student-lo&amp;portal=xp"
                   target="_self">XP</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=caps-student-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a>
            </td>
        </tr>

        <tr class="even">
            <td class="align-left">
                bssd-bsoe-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=bssd-bsoe-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=bssd-bsoe-lo&amp;portal=xp"
                   target="_self">XP</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=bssd-bsoe-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a>
            </td>
        </tr>

        <tr class="odd">
            <td class="align-left">
                stpcampus-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=stpcampus-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=stpcampus-lo&amp;portal=xp"
                   target="_self">XP</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=stpcampus-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a>
            </td>
        </tr>

        <tr class="even">
            <td class="align-left">
                allusers2-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=allusers2-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=allusers2-lo&amp;portal=xp"
                   target="_self">XP</a>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=allusers2-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a>
            </td>
        </tr>

        <tr class="odd">
            <td class="align-left">
                allusers3-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=allusers3-lo&amp;portal=prod"
                   target="_self">Production</a><br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=allusers3-lo&amp;portal=xp"
                   target="_self">XP</a><br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=allusers3-lo&amp;portal=lp4b7"
                   target="_self">lp4b7</a><br>
            </td>
        </tr>

        <tr class="even">
            <td class="align-left">
                alumni-lo
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=alumni-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                &nbsp;
            </td>
            <td class="align-left">
                &nbsp;
            </td>
        </tr>

        <tr class="odd">
            <td class="align-left">
                retiree-emeriti-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=retiree-emeriti-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                &nbsp;
            </td>
            <td class="align-left">
                &nbsp;
            </td>
        </tr>

        <tr class="even">
            <td class="align-left">
                library-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=library-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                &nbsp;
            </td>
            <td class="align-left">
                &nbsp;
            </td>
        </tr>

        <tr class="odd">
            <td class="align-left">
                technology-lo<br>
            </td>
            <td class="align-left">
                <a href="http://www.bethel.edu/its/blink/layout-owners/lo-login?uid=technology-lo&amp;portal=prod"
                   target="_self">Production</a>
            </td>
            <td class="align-left">
                &nbsp;
            </td>
            <td class="align-left">
                &nbsp;
            </td>
        </tr>

        </tbody>
    </table>

{% endblock %}
