{% extends "tinker_base.html" %}

{% set title = 'Proof Points' %}

{% block title %}Proof Points{% endblock %}

{% block styles %}
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <form id='program_search_form' method="post">
                    <div class="card">
                        <div class="content">
                            <label for="tag" style="color: #252422">Search by Name:</label>
                            <input type="text" name="name" id='search-proof-points' class='search-input form-control'/>
                            <p>Filters for Proof Points:</p>
                            <label for="key" style="color: #252422">School Name:</label>
                            {#                    <input type="text" name="key" id='search-key' class='search-input' placeholder="Filter Key" />#}
                            <select name="key" id="search-key" class="search-input">
                                <option value="">Any</option>
                                {% for school_label in school_labels %}
                                    <optgroup label="{{ school_label }}">
                                        {% for program_concentration in program_concentrations %}
                                            {% if program_concentration.school == school_label %}
                                                <option value="{{ program_concentration.value }}">{{ program_concentration.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                        <label>
                            <div class="col-sm-4">
                                Outcome:
                                <div class="radio">
                                    <label><input type="radio" name="outcome" value="True">Yes</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="outcome" value="False" checked>No</label>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                Topic:
                                <div class="radio">
                                    <label><input type="radio" name="topic" value="True">Yes</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="topic" value="False" checked>No</label>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                Other:
                                <div class="radio">
                                    <label><input type="radio" name="other" value="True">Yes</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="other" value="False" checked>No</label>
                                </div>
                            </div>
                            <div class="content">
                                <button id="program-submit" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </label>
                    </div>
                </form>
                <div class="row">
                    <div class="large-12 columns">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="600">Proof Points</th>
                                <th width="600"></th>
                            </tr>
                            </thead>
                            <tbody id="table-body">

                            </tbody>
                        </table>
                    </div>
                </div>
                {# spinner placeholder #}
                <div id="spinner" class="spinner" style="display:none;">
                    <img id="img-spinner" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {#  Script to update the modal submit to delete the correct form#}
    <script type="text/javascript">
        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        $(".search-input").keyup(function () {
            $('#spinner').show();
            delay(function () {
                loadTableForSearch();
            }, 300);
        }).change(function () {
            delay(function () {
                loadTableForSearch();
                $('#spinner').hide();
            }, 300);
        });

        function loadTableForSearch() {
            $('#spinner').show();
            {#            $('#table-body').html('<td colspan="6" style="text-align:center">. . . searching . . .</td>');#}

            var search_url = "{{ url_for('program_search.ProgramSearchView:search') }}";
            search_tag = $('#search-tag')[0].value;
            search_key = $('#search-key')[0].value;

            var inputs = {
                'search_tag': search_tag,
                'search_key': search_key
            };

            $.ajax({
                type: "POST",
                url: search_url,
                data: JSON.stringify(inputs),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    $('#table-body').html(result);
                    $('#spinner').hide();
                }
            });
        }

        $(".delete-checkbox").click(function () {
            var checkbox_elements = $("input:checkbox[class=delete-checkbox]:checked");
            if (checkbox_elements[0]) {
                $("#delete-all").style.display = "inline";
            }
            else {
                $("#delete-all").style.display = "none";
            }
        });

        $('#program_search_form').submit(function () {
            var formData = {
                'key': $('select[name=key]').val(),
                'tag': $('input[name=tag]').val(),
                'outcome': $('input[name=outcome]:checked').val(),
                'topic': $('input[name=topic]:checked').val(),
                'other': $('input[name=other]:checked').val()
            };

            $.ajax({
                type: "POST",
                url: "{{ url_for('program_search.ProgramSearchView:submit') }}",
                data: JSON.stringify(formData),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    loadTableForSearch();
                }
            });
            return false;
        });
    </script>

    {% block modalhtml %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete?</h4>
                    </div>
                    <div class="modal-body">
                        Any programs you have checked will be deleted.
                    </div>
                    <div class="modal-footer">
                        <a id="modal-confirm" class="btn btn-primary btn-alert modal-confirm"
                           id="modal-confirm" data-dismiss="modal">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}