{% extends "tinker_base.html" %}

{% set title = 'Proof Points-Search' %}

{% block title %}Proof Points{% endblock %}

{% block styles %}
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-sm-12">
                <form id="filter-form" method="POST">
                    <div class="card">
                        <div class="content">
                            <label style="color: #252422">Search by Name:</label>
                            <input id="search-bar" name="search-bar" type="text"/>
                            <p>Filters for Proof Points:</p>
                            <div id="dropdown-row">
                                <div class="proof-dropdown">
                                    <label style="color: #252422">School:</label>
                                    <select id="school-dropdown" name='school-dropdown' class="search-input">
                                        <option value="any">-- Any --</option>
                                        {% for school in schools %}
                                            <option value="{{ school }}">{{ school }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="proof-dropdown">
                                    <label style="color: #252422">Owner:</label>
                                    <select id="owner-dropdown" name='owner-dropdown' class="search-input">
                                        <option value="any">-- Any --</option>
                                        {% for owner in owners %}
                                            <option value="{{ owner }}">{{ owner }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <label style="color: #252422">Type:</label>
                            <label class="checkbox" id="txt-box" for="txt-box-input">
                                <span class="icons">
                                    <span class="first-icon fa fa-square-o"></span>
                                    <span class="second-icon fa fa-check-square-o"></span>
                                </span>
                                <input id="txt-box-input" type="checkbox">
                                Text-Based
                            </label>
                            <label class="checkbox" id="num-box" for="num-box-input">
                                <span class="icons">
                                    <span class="first-icon fa fa-square-o"></span>
                                    <span class="second-icon fa fa-check-square-o"></span>
                                </span>
                                <input id="num-box-input" type="checkbox">
                                Number-Based
                            </label>
                            <div class="col-sm-offset-8"></div>
                            <div class="clearfix visible-sm"></div>
                            <div class="clearfix visible-md"></div>
                            <div class="clearfix visible-lg"></div>
                            <button id="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
                <div id="results">
                </div>
                {# spinner placeholder #}
                <div id="spinner" class="spinner" style="display:none;">
                    <img id="img-spinner" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#submit").click(function(){
                $('#spinner').show();
                $('#submit').prop("disabled",true);
                var url = "{{ url_for('proof_points.ProofPointsView:filter_points') }}";
                var payload = {
                    'txt-box': $('#txt-box').attr('class'),
                    'num-box': $('#num-box').attr('class'),
                    'search-bar': $("#search-bar").val(),
                    'school-dropdown': $("#school-dropdown").val(),
                    'owner-dropdown': $("#owner-dropdown").val()
                    };
                $.post(url, payload, function (data) {
                    $('#results').html(data);
                    $('#spinner').hide();
                    $('#submit').prop("disabled",false);
                });
            });
        });
    </script>

    {% block modalhtml %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete?</h4>
                    </div>
                    <div class="modal-body">
                        Any programs you have checked will be deleted.
                    </div>
                    <div class="modal-footer">
                        <a id="modal-confirm" class="btn btn-primary btn-alert modal-confirm"
                           id="modal-confirm" data-dismiss="modal">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}