{% extends "tinker_base.html" %}

{% set title = 'Sync' %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <script src="/static/csrf-activator.js"></script>
                <script type="text/javascript">
                    var csrftoken = "{{ csrf_token() }}";
                    activateCSRF(csrftoken);
                    function postToURLWithSpinner(url, value) {
                        {# activate waiting gif #}
                        $('#spinner').show();
{#                        $.post(url, {'id': value}, function (data) {#}
{#                            $("#output").html(data);#}
{#                            $('#spinner').hide();#}
{#                        });#}
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: JSON.stringify({'id':value}),
                            contentType: 'application/json;charset=UTF-8',
                            success: function (data) {
                                $('#output').html(data);
                                $('#spinner').hide();
                            }
                        });
                    }
                </script>
                <div class="col-md-12">
                    <p>The sync data is contained in this <a target="_blank"
                                                             href="https://github.com/betheluniversity/tinker/blob/master/tinker/admin/sync/sync_metadata.py">file</a>.
                        You can sync a specific metadata set, data definition, or sync all.</p>
                </div>

                <div class="col-md-12">
                    <label>Data Definitions
                        <select id="data-definition">
                            {% for id, name in data_definition_mapping.iteritems() %}
                                <option value="{{ id }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="col-md-12">
                    <div id='submit-data-definition' class="btn btn-primary"
                         onclick="postToURLWithSpinner('{{ url_for("sync.SyncView:datadefinition") }}', $('#data-definition').val())">
                        Sync Data Definition
                    </div>
                </div>

                <br/>

                <div class="col-md-12">
                    <label>Metadata Sets
                        <select id="metadata-set">
                            {% for id, name in metadata_sets_mapping.iteritems() %}
                                <option value="{{ id }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="col-md-12">
                    <div id='submit-metadata-set' class="btn btn-primary"
                         onclick="postToURLWithSpinner('{{ url_for("sync.SyncView:metadata") }}', $('#metadata-set').val())">
                        Sync Metadata
                    </div>
                </div>

                <hr/>
                <div class="col-md-12">
                    <div id='sync-all' class="btn btn-primary"
                         onclick="postToURLWithSpinner('{{ url_for("sync.SyncView:all") }}', 'un-used')">Sync All
                    </div>
                </div>

                {# todo: format the gif better? #}
                {# spinner placeholder #}
                <div id="spinner" class="spinner" style="display:none;">
                    <img id="img-spinner" src="/get_image/waiting.gif" alt="Loading"/>
                </div>
                {# output results #}
                <div id="output"></div>
            </div>
        </div>
    </div>

    <script>
        $("#submit-data-definition").click(function () {
            $.notify({
                message: 'Syncing data definitions'
            }, {
                type: 'success',
                placement: {
                    align: 'center'
                },

            });
        });

        $("#submit-metadata-set").click(function () {
            $.notify({
                message: 'Syncing metadata sets'
            }, {
                type: 'success',
                placement: {
                    align: 'center'
                },

            });
        });

        $("#sync-all").click(function () {
            $.notify({
                message: 'Syncing all'
            }, {
                type: 'success',
                placement: {
                    align: 'center'
                },

            });
        });
    </script>
{% endblock %}