<div id="full-content">
            <script type="text/javascript">

function lookupDonorByBid(){
   var bid = document.getElementById('bid').value;
   url = "https://tinker.bethel.edu/wufoo/embed-lookup-form/{{ formhash }}/{{ username }}/" + bid
   $.get( url, function( data ) {
      debugger;
      $( "#wufoo-lookup" ).html( data );
       //the wufoo JS puts the form on top of the lookup, so reverse them.
       var wrap = $('#wufoo-wrap');
       var items = wrap.children('div');
       wrap.append(items.get().reverse());
    });
}

function queryIfEnter(event, input) {
 if( event.keyCode == "13" ){
  lookupDonorByBid();
  return false;
 }
 return true;
}

</script>
<div id="">
    <label for="bid">Bethel ID:</label> <input type="text" size="10" maxlen="10" name="bid" id="bid" onkeypress="return queryIfEnter(event,this)">
    <input type="button" value="Lookup" class="btn btn-primary" onclick="lookupDonorByBid()"></div>
    <br>
    <hr>
    <div style="display:none" id="loading_ind">Loading...</div>
</div>
<div id="wufoo-lookup">
  <!-- This is where the form goes -->
</div>