{% extends "tinker-base.html" %}

{% block title %}Wufoo Preload{% endblock %}

{% block page_title %}
Wufoo Preload
{% endblock %}

{% block styles %}
  <style type="text/css">
    #wufoo-form-hash {
      height: 200px;
      font-size:14px;
    }
  </style>
{% endblock %}

{% block main_content %}
  <form method="post" name="wufoo-preload">
    <div>

        <label for="wufoo-dropdown-limit"> Search:</label>
        <input type="text" id="wufoo-dropdown-limit"/>

        <label for ="wufoo-form-hash">Select a form:</label>

        <select name="wufoo-form-hash" id="wufoo-form-hash" size="5">
        </select>
    </div>
    <div id="results-alert" style="display:none" data-alert class="alert-box success radius">
    </div>
    <div style="display:none">
        <h3>Form Options</h3>
        <label>Lookup:
            <input type="checkbox" id="lookup" name="lookup"/>
        </label>
    </div>
    <div id="preload-config">
    </div>
  </form>

{% endblock %}

{% block scripts %}
<script src="{{url_for('wufoo.static', filename='wufoo-preload.js')}}"></script>
{% endblock %}

