{% extends "tinker-base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
  <style type="text/css">
      .home-button{
            height: 180px;
            width: 180px;
            margin: 10px;
      }
      .button-image{
            padding: 5px;
            height: 150px;
            width: 150px;
      }
  </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <h3>Image Attribution</h3>
    <div class="row">
        <div class="large-6 columns">
            <p>Redirect</p>
        </div>
        <div class="large-6 columns">
            Redirect designed by <a href="http://www.thenounproject.com/bickov">Alexander Bickov</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <p>Calendar</p>
        </div>
        <div class="large-6 columns">
            Calendar designed by <a href="http://www.thenounproject.com/marc_io">Márcio Duarte</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <p>Form</p>
        </div>
        <div class="large-6 columns">
            Form designed by <a href="http://www.thenounproject.com/jtropp">Jason Tropp</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <p>Person</p>
        </div>
        <div class="large-6 columns">
            Person designed by <a href="http://www.thenounproject.com/visionsbuero">johanna</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
        </div>
    </div>
{% endblock %}


