{% block main_content %}
<div class="row">
  <div class="large-12 columns">

  </div>
 </div>
<hr/>
<div class="row">

  <div class="large-12 columns">
    <h2>Gorirol - {{ goriroltotal }}</h2>
    <h2>Eann - {{ eanntotal }}</h2>
    <h2>Final - {{ finaltotal }}</h2>
    <pre>{{ goriroldict }}</pre>
     <pre>{{ eanndict }}</pre>
  <pre>{{ finaldict }}</pre>

  <table>
   {% for form in finaldict %}

      <tr>
          <td>{{ form }}</td>
          <td>{{ finaldict[form] }}</td>
          <td>{{ goriroldict[form] }}</td>
          <td>{{ eanndict[form] }} </td>
      </tr>

   {% endfor %}
</table>

  </div>
</div>

{% endblock %}
