{% macro render() %}

    <footer class="footer">
        <div class="container-fluid">
            <footer class="row">
                <div class="large-12 columns">
                    <br/>
                    <div class="row">
                        <div class="large-6 columns">
                            <p id="school-name">&copy; Bethel University -- <a href="/about">About</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </footer>

{% endmacro %}