{% macro render() %}

    <div id="sidebar" class="sidebar-wrapper">
        <div class="logo">
            <a href="https://tinker.bethel.edu/" class="simple-text">
                Tinker
            </a>
        </div>
        <ul class="nav">

            <li class="{% if request.path == '/' %}active{% endif %}">
                <a href="/">
                    <i class="fa fa-home"></i>
                    <p>Home</p>
                </a>
            </li>
            <li class="{% if 'event/' in request.path %}active{% endif %}">
                <a href="/event">
                    <i class="fa fa-calendar"></i>
                    <p>Events</p>
                </a>
            </li>

            {% if 'FACULTY' in session['roles'] or 'Tinker Faculty Bios' in session['groups'] or 'Administrators' in session['groups'] %}
                <li class="{% if 'faculty-bio/' in request.path %}active{% endif %}">
                    <a href="/faculty-bio">
                        <i class="fa fa-user"></i>
                        <p>Faculty Bios</p>
                    </a>
                </li>
            {% endif %}

            <li class="{% if 'office-hours/' in request.path %}active{% endif %}">
                <a href="/office-hours">
                    <i class="fa fa-clock-o"></i>
                    <p>Office Hours</p>
                </a>
            </li>

            <li class="{% if 'e-announcement/' in request.path %}active{% endif %}">
                <a href="/e-announcement">
                    <i class="fa fa-envelope-o"></i>
                    <p>E-Announcements</p>
                </a>
            </li>

            {% if 'Administrators' in session['groups'] or 'Tinker Redirects' in session['groups'] %}
                <li class="dropdown {% if 'admin/' in request.path %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-lightbulb-o"></i>
                        <p>Admin Menu &raquo;</p>
                    </a>
                    <ul class="dropdown-menu">
                        {% if 'Administrators' in session['groups'] %}
                            <li>
                                <a href="/admin/publish-manager">
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                    <p class="admin-list-item">Publisher</p>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/sync">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    <p class="admin-list-item">Sync Metadata</p>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/blink-roles" class="button-nav">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <p class="admin-list-item">Blink Layout Owners</p>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/program-search">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <p class="admin-list-item">Program Search Tags</p>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="/admin/cache-clear">
                                <i class="fa fa-recycle" aria-hidden="true"></i>
                                <p class="admin-list-item">Clear Cache</p>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/redirect">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                <p class="admin-list-item">Redirects</p>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
{% endmacro %}