{% macro render() %}

    <div id="sidebar" class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                <img src="/static/assets/img/tinker_logo.png" style="height:35px">
            </a>
        </div>
        <ul class="nav">

            <li class="{% if request.path == '/' %}active{% endif %}">
                <a href="/">
                    <i class="fa fa-home"></i>
                    <p>Home</p>
                </a>
            </li>

            <li class="{% if 'e-announcements/' in request.path %}active{% endif %}">
                <a href="{{ url_for('e_announcements.EAnnouncementsView:index') }}">
                    <i class="fa fa-envelope-o"></i>
                    <p>E-Announcements</p>
                </a>
            </li>

            <li class="{% if 'events/' in request.path %}active{% endif %}">
                <a href="{{ url_for('events.EventsView:index') }}">
                    <i class="fa fa-calendar"></i>
                    <p>Events</p>
                </a>
            </li>

            {% if 'FACULTY' in session['roles'] or 'Tinker Faculty Bios' in session['groups'] or 'Administrators' in session['groups'] %}
                <li class="{% if 'faculty-bios/' in request.path %}active{% endif %}">
                    <a href="{{ url_for('faculty_bios.FacultyBiosView:index') }}">
                        <i class="fa fa-user"></i>
                        <p>Faculty Bios</p>
                    </a>
                </li>
            {% endif %}

            <li class="{% if 'office-hours/' in request.path %}active{% endif %}">
                <a href="{{ url_for('office_hours.OfficeHoursView:index') }}">
                    <i class="fa fa-clock-o"></i>
                    <p>Office Hours</p>
                </a>
            </li>

            {% if 'Administrators' in session['groups'] or 'Tinker Redirects' in session['groups'] %}
                <li class="dropdown {% if 'admin/' in request.path %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-lightbulb-o"></i>
                        <p>Admin Menu &raquo;</p>
                    </a>
                    <ul class="dropdown-menu">
                        {% if 'Administrators' in session['groups'] %}
                            <li>
                                <a href="{{ url_for('publish.PublishView:index') }}">
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                    <p class="admin-list-item">Publisher</p>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('sync.SyncView:index') }}">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    <p class="admin-list-item">Sync Metadata</p>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('blink_roles.BlinkRolesView:index') }}" class="button-nav">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <p class="admin-list-item">Blink Layout Owners</p>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('program_search.ProgramSearchView:index') }}">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    <p class="admin-list-item">Program Search Tags</p>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ url_for('cache.CacheView:index') }}">
                                <i class="fa fa-recycle" aria-hidden="true"></i>
                                <p class="admin-list-item">Clear Cache</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('redirects.RedirectsView:index') }}">
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                <p class="admin-list-item">Redirects</p>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
{% endmacro %}