{% macro render() %}

    <div class="sidebar" data-active-color="green">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://tinker.bethel.edu/" class="simple-text">
                    Tinker
                </a>
            </div>

            <ul class="nav">
                {% if request.path == '/' %}
                    <li class="active">
                        <a href="/">
                            <i class="ti-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="/">
                            <i class="ti-home"></i>
                            <p>Home</p>
                        </a>

                    </li>
                {% endif %}
                {% if 'event/' in request.path %}
                    <li class="active">
                        <a href="/event">
                            <i class="ti-calendar"></i>
                            <p>Events</p>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="/event">
                            <i class="ti-calendar"></i>
                            <p>Events</p>
                        </a>
                    </li>
                {% endif %}
                {% if 'faculty-bio/' in request.path %}
                    <li class="active">
                        {% if 'FACULTY' in session['roles'] or 'Tinker Faculty Bios' in session['groups'] or 'Administrators' in session['groups'] %}
                            <a href="/faculty-bio">
                                <i class="ti-user"></i>
                                <p>Faculty Bios</p>
                            </a>
                        {% endif %}
                    </li>
                {% else %}
                    <li>
                        {% if 'FACULTY' in session['roles'] or 'Tinker Faculty Bios' in session['groups'] or 'Administrators' in session['groups'] %}
                            <a href="/faculty-bio">
                                <i class="ti-user"></i>
                                <p>Faculty Bios</p>
                            </a>
                        {% endif %}
                    </li>
                {% endif %}
                {% if 'office-hours/' in request.path %}
                    <li class="active">
                        <a href="/office-hours">
                            <i class="ti-alarm-clock"></i>
                            <p>Office Hours</p>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="/office-hours">
                            <i class="ti-alarm-clock"></i>
                            <p>Office Hours</p>
                        </a>
                    </li>
                {% endif %}
                {% if 'e-announcement/' in request.path %}
                    <li class="active">
                        <a href="/e-announcement">
                            <i class="ti-comment"></i>
                            <p>E-Announcements</p>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="/e-announcement">
                            <i class="ti-comment"></i>
                            <p>E-Announcements</p>
                        </a>
                    </li>
                {% endif %}
                {% if 'admin/' in request.path %}
                    <li class="dropdown active">
                        {% if 'Administrators' in session['groups'] or 'Tinker Redirects' in session['groups'] %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="ti-menu"></i>
                                <p>Admin Menu &raquo;</p>
                            </a>
                            <ul class="dropdown-menu">
                                {% if 'Administrators' in session['groups'] %}
                                    <li><a href="/admin/publish-manager">Publisher</a></li>
                                    <li><a href="/admin/sync">Sync Metadata</a></li>
                                    {#                                <li><a href="/admin/blink-roles" class="button-nav">Blink Layout Owners</a></li>#}
                                {% endif %}
                                <li><a href="/admin/cache-clear">Clear Cache</a></li>
                                <li><a href="/admin/redirect">Redirects</a></li>
                            </ul>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="dropdown">
                        {% if 'Administrators' in session['groups'] or 'Tinker Redirects' in session['groups'] %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="ti-menu"></i>
                                <p>Admin Menu &raquo;</p>
                            </a>
                            <ul class="dropdown-menu">
                                {% if 'Administrators' in session['groups'] %}
                                    <li><a href="/admin/publish-manager">Publisher</a></li>
                                    <li><a href="/admin/sync">Sync Metadata</a></li>
                                    {#                                <li><a href="/admin/blink-roles" class="button-nav">Blink Layout Owners</a></li>#}
                                {% endif %}
                                <li><a href="/admin/cache-clear">Clear Cache</a></li>
                                <li><a href="/admin/redirect">Redirects</a></li>
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endmacro %}