{% extends "tinker-base.html" %}

{% block title %}Event Form{% endblock %}

{% block styles %}
  <style type="text/css">
    .largeselect {
      height: 100px;
      font-size:14px;
    }
  </style>
{% endblock %}

{% block page_title %}
  {% if add_form %}
    Add a new event
  {% else %}
    Edit your event
  {% endif %}
{% endblock %}

{% block main_content %}
  <div class="row">
  <div class="large-12 columns">
    {% if add_form %}
      <form id="eventform" action="/submit" method="post">
    {% else %}
      <form id="eventform" action="/submit-edit" method="post">
      <input type="hidden" name="event_id" id="event_id" value="{{ event_id }}"/>
    {% endif %}
        {% if form.errors %}
          <div class="alert alert-error">
            <div data-alert class="alert-box alert radius">
                There were errors with your form.
                <a href="#" class="close">&times;</a>
              </div>
            </div>
        {% endif %}
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}

        {# Print any errors for this field#}
          {% for error in form.errors[field.name] %}
            <div class="alert alert-error">
              <div data-alert class="alert-box alert radius">
                {{ error }}
                <a href="#" class="close">&times;</a>
              </div>
            </div>
          {% endfor %}

          {# print the label #}
          {% if field.name not in ["off_campus_location", "on_campus_location", "other_on_campus"] %}
            <label for="{{ field.name }}">
              {{ field.label.text }}
              {% if field.flags.required %} <small>required</small> {% endif %}
             </label>
            <small>{{ field.description }}</small>
          {% endif %}



          {# Print the field #}
          {% if field.type == "SelectMultipleField" %}
            {{ field(size=10, class="largeselect") }}

          {% elif field.type == "HeadingField" %}
            <h3>{{ field.label }}</h3>

          {% elif field.name == "off_campus_location" %}
            <div id="off_location_wrap" style="display:none;">
              {{ field.label }}{{ field }}
            </div>

          {% elif field.name == "on_campus_location" %}
            <div id="on_campus_wrap" style="display:none;">
              {{ field.label }}{{ field }}
            </div>

          {% elif field.name == "other_on_campus" %}
            <div id="other_wrap" style="display:none;">
              {{ field.label }}{{ field }}
            </div>


          {% elif field.type == "SelectField" %}
            {{ field }}

          {% elif field.type == "CKEditorTextAreaField" %}
            {{ field(class="ckeditor") }}

          {% elif field.type == "DateTimeField" %}
            {# do the entire date field in here for now #}
            {{ datetime_fieldset() }}

          {% else %}
              {{ field(size=20) }}
          {% endif %}

        {% endfor %}
        <button type="submit" id="event-submit-btn" class="button postfix">Submit</button>
    </form>
  </div>
</div>

{% endblock %}


{% block scripts %}

        <script src="{{ url_for('static', filename='moment.js') }}"></script>
        <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='pikaday.css') }}">
        <script src="{{ url_for('static', filename='pikaday.js') }}"></script>
        <script src="{{ url_for('static', filename='pikaday.jquery.js') }}"></script>
        <script type="text/javascript">

         function newFieldset(id){
                var start = 'start' + id;
                var end = 'end' + id;
                var all = 'allday' + id;
                var node = $('<fieldset>').addClass('date-fieldset');
                node.append($("<legend>").html("Date " + id));
                node.append($("<input type='checkbox'>").attr('name', all).attr('id', all).attr('class', 'alldaycheck'));
                node.append($("<label>").attr('for', all).html("All Day"));
                node.append($("<label>").attr('for', start).html("Start Date"));
                node.append($("<input type='text'>").attr('name', start).attr('id', start).addClass("datepicker"));
                node.append($("<label>").attr('for', end).html("End Date"));
                node.append($("<input type='text'>").attr('name', end).attr('id', end).addClass("datepicker"));

                return node;
         }

         function populateFieldset(id, allday, start, end){
            var startid = '#start' + id;
            var endid = '#end' + id;
            var alldayid = '#allday' + id;
            $(startid).val(start);
            $(endid).val(end);
            if(allday){
              debugger;
              $(alldayid).prop('checked', true);
            }
         }

         function testOffCampusLocation(){
            var location = $("#location")[0];
            var val = location.options[location.selectedIndex].innerHTML;
            if(val == "Off Campus"){
              $("#off_location_wrap").show();
              $("#on_campus_wrap").hide();
              $("#other_wrap").hide();
            }
            else{
              $("#off_location_wrap").hide();
              $("#on_campus_wrap").show();
              $("#other_wrap").show();
            }
          }

         function createPicker(fieldset){
            // fieldset is a "Date x" fieldset from the form.
            var picker = new Pikaday({
              field: fieldset.find('.datepicker')[0],
              format: 'MMMM Do YYYY, h:mm a',
              showTime: true
            });
            var picker = new Pikaday({
              field: fieldset.find('.datepicker')[1],
              format: 'MMMM Do YYYY, h:mm a',
              showTime: true
            });
         }

          $( document ).ready(function() {
            CKEDITOR.config.format_tags = 'h4;h5';
            $('.datepicker').each(function (index) {
              var picker = new Pikaday({
                field: this,
                format: 'MMMM Do YYYY, h:mm a',
                showTime: true
              });
            });


            {% if dates %}
              var dates = {{ dates|safe }};
              var i = 0;
              while (i < 200){

                date = dates[i];
                if (!date){
                  break;
                }
                //Convert to correct value
                id = i + 1;

                //If this is not the first node, create it before we can populate it and insert after the last one.
                //show the remove buton
                if(i != 0){
                  var last = $(".date-fieldset").last();
                  var new_date = newFieldset(id);
                  new_date.insertAfter(last);
                  $("#remove_date_button").show();
                }
                //Now populate the fieldset
                var allday = date['all-day'];
                if( allday && allday.substr(-3) == "Yes" ){
                  allday = true;
                }
                populateFieldset(id, allday, date['start-date'], date['end-date']);
                //no infinite loops today
                i++;

              }

            {% endif %}

            {% if dates_good == False %}
              $( '<div data-alert="" class="alert-box alert radius">Event Dates are Required<a href="#" class="close">×</a></div>' ).insertBefore(".date-fieldset");
            {% endif %}

            {% if form.errors or not dates_good and num_dates %}
              var event_dates = {{ event_dates|safe }};
              var tt = {{ num_dates }};
              for (var i = 1; i < {{ num_dates + 1}}; i++){
                if(i == 1){
                  $('#allday1').prop('checked', event_dates['allday1']);
                  $('#start1').val(event_dates['start1']);
                  $('#end1').val(event_dates['end1']);
                }else{
                  newFieldset(i);
                  var fieldsets = $(".date-fieldset");
                  var last = fieldsets.last();
                  newFieldset(i).insertAfter(last);
                  $('#allday'+i).prop('checked', event_dates['allday'+i]);
                  $('#start'+i).val(event_dates['start'+i] );
                  $('#end'+i).val(event_dates['end'+i] );
                }
              }

            {% endif %}

              $("#add_date_button").click(function(){
                var fieldsets = $(".date-fieldset");
                var last = fieldsets.last();
                var old_num = last.children()[0].textContent.replace("Date ", ""); // "Date X" is the variable name, where X is an integer.
                var new_num = (parseInt(old_num) + 1);
                var new_date = newFieldset(new_num);
                new_date.insertAfter(last);
                $("#remove_date_button").show();
                createPicker(new_date);
              });

              $("#remove_date_button").click(function(){
                var list = $(".date-fieldset");
                var length = list.length;
                //Hide remove button if there will only be one date left
                if (length == 2){
                  $("#remove_date_button").hide();
                }
                list.last().remove();
              });
              $("#location").change(function(){
                testOffCampusLocation();
              });

              $("#eventform").submit(function(){
                //add a hidden field with the number of dates
                var dates = $(".date-fieldset");
                var input = $("<input>").attr("type", "hidden").attr("name", "num_dates").val(dates.length);
                $("#eventform").append(input);
                return true;

              });

              //Test this right away if we are editing because the callback won't fire
              testOffCampusLocation();


          });

        </script>

    {% endblock %}


    {% macro datetime_fieldset() -%}
      <fieldset class="date-fieldset">
        <legend>Date 1</legend>

          <input id="allday1" name="allday1" class="alldaycheck" type="checkbox" value="True"><label for="allday1">All Day</label>

          <label for="start1">Start Date</label>
            <input type="text" name="start1" id="start1" class="datepicker"/>

          <label for="end1">End Date</label>
            <input type="text" name="end1" id="end1" class="datepicker"/>

      </fieldset>
      <a href="javascript:void(0);" id="add_date_button" class="button tiny">Add Another Date</a>
      <a href="javascript:void(0);" id="remove_date_button" style="display:none" class="button tiny alert">Remove Date</a>
    {%- endmacro  %}

