{% extends "tinker-base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
  <style type="text/css">
  </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
<div class="row">
  <div class="large-12 columns">

    <p>Here are the bios that you are able to edit.
    </p>
  </div>
 </div>
<hr/>
<div class="row">

  <div class="large-12 columns">

   {% for form in forms%}
      <div class="row">
        <div class="large-6 columns">
          <p>
            {% if form.is_published %}
              <a href={{ form.path }}>{{ form.title }}</a>
            {% else %}
              {{ form.title }}
            {% endif %}
            <br/>
            {% if form.is_published %}<small><a href={{ form.path }}>{{ form.path }}</a></small>{% endif %}
          </p>
        </div>
        <div class="large-6 columns small-3">
          <ul class="button-group">
            {% if form.is_published %}
              <li><a href="{{ form.path }}" class="small button success">View</a></li>
              <li><a href="/faculty-bio/edit/{{ form.id }}" class="small button">Edit</a></li>
            {% else %}
              <li><a class="small button success">Not Approved</a></li>
            {% endif %}
            <li><a href="/delete/{{ form.id }}" class="small button alert">Delete</a></li>
           </ul>
        </div>
        <hr/>
      </div>
    {% endfor %}
	<a href="/faculty-bio/edit/new" class="small button success">Create New</a>


  </div>
</div>

{% endblock %}


