{% extends "tinker-base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
  <style type="text/css">
      .home-button{
            height: 180px;
            width: 180px;
            margin: 10px;
      }
      .button-image{
            padding: 5px;
            height: 150px;
            width: 150px;
      }
  </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div>
        Welcome to Tinker!
    </div>

    <hr />

    <div class="row">
        <div class="large-6 columns">

            <a class="button expand" href="/event"><img src="get-image/events-icon.png" class="button-image" /><br />Manage events</a>
        </div>

        {% if 'FACULTY' in session['roles'] or 'Tinker Faculty Bios' in session['groups'] %}
            <div class="large-6 columns">

              <a href="/faculty-bios" class="button expand"><img src="get-image/faculty-bio-icon.png" class="button-image" /><br />Faculty Bios</a>
            </div>
        {% endif %}
    </div>


    {% if 'Redirects' in session['groups'] %}
      <div class="row">
        <div class="large-6 columns">
          <a href="/redirect" class="button expand"><img src="get-image/redirect-icon.png" class="button-image" /><br />Manage Redirects</a>
        </div>

        <div class="large-6 columns">
          <a href="/wufoo" class="button expand"><img src="get-image/wufoo-icon.png" class="button-image" /><br />Manage wufoo</a>
        </div>
      </div>
    {% endif %}

            {#
            <a class="home-button button" href="/wufoo">Wufoo Forms</a>
            #}

            {#
            <a class="home-button button">Other Forms</a>
            #}


          </div>

{% endblock %}


