{% extends "tinker-base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
  <style type="text/css">
      .home-button{
            height: 180px;
            width: 180px;
            margin: 10px;
      }
  </style>
{% endblock %}

{% block page_title %}Bethel University Tinker{% endblock %}

{% block main_content %}
    <div>
        Welcome to Tinker!
    </div>

    <hr />

    <div class="row">
        <div class="large-12 columns">

            <a class="home-button button" href="/event">Events</a>

            {% if 'FACULTY' in session['roles'] %}
                <a href="/faculty-bios" class="home-button button">Faculty Bios</a>
            {% endif %}

            {#
            <a class="home-button button" href="/wufoo">Wufoo Forms</a>
            #}

            {#
            <a class="home-button button">Other Forms</a>
            #}

        </div>
    </div>
{% endblock %}


