{% extends 'tinker_base.html' %}
{#{% import 'nav.html' as nav %}#}
{#{% import 'creativeTim_footer.html' as footer %}#}

{% block title %}Home{% endblock %}

{% block main_content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Manage Events</h4>
                        </div>
                        <div class="content">
                            <div class="icon-big icon-warning text-center">
                                <img src="get-image/events-icon.png"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Faculty Bios</h4>
                        </div>
                        <div class="content">
                            <div class="icon-big icon-warning text-center">
                                <img src="get-image/faculty-bio-icon.png"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Manage E-Announcements</h4>
                        </div>
                        <div class="content">
                            <div class="icon-big icon-warning text-center">
                                <img src="get-image/e-announcement.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Manage Redirects</h4>
                        </div>
                        <div class="content">
                            <div class="icon-big icon-warning text-center">
                                <img src="get-image/redirect-icon.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}