{% extends 'tinker_base.html' %}

{% set title = 'Profile' %}

{% block styles %}
    <style type="text/css">
        .profile h2 {
            margin-top: 5px;
        }
        .profile-table th {
            font-size: 15px;
            padding-right: 10%;
            vertical-align: top;
        }
        .profile-table td {
            vertical-align: top;
            padding-bottom: 10% !important; /*Overriding tinker.css*/
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="content profile">
        <div class="container-fluid">
            <div class="col-md-12">
                <h2>{{ session['name'] }}</h2>
                <hr>
                <table class="profile-table">
                    <tr>
                        <th>Username</th>
                        <td>{{ session['username'] }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ session['user_email'] }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>
                            {% for key in session['roles'] %}
                                {{ key }}
                                <br/>
                            {% endfor %}
                         </td>
                    </tr>
                    <tr>
                        <th>Groups</th>
                        <td>
                            {% for key in session['groups'].split(';') %}
                                {{ key }}
                                <br/>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Iam Groups</th>
                        <td>
                            {% for key in session['iam_groups'] %}
                                {{ key }}
                                <br/>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}