<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sherie</title>
    <style>
        body {
            background-image: url("http://cdn1.bethel.edu/images/sherie.jpg");
            background-size: 75%;
        }
        .holder {
            background: #fff;
            padding: 2em;
            width: 49%;
            margin: 3em auto;
            display:flex;
        }
        .first,.second {
            background: tomato;
            padding: 2em;
            flex: 1;
            border: 1em solid #fff;
        }
    </style>
</head>
<body>

<div class="holder">
    <div class="first">        
        <h1>Then</h1>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="second">
        <h1>Now</h1>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</div>

</body>
</html>
