{% extends "foundation_base.html" %}
{% import 'nav.html' as nav %}

{% block styles %}
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <style>
    .table-hover:hover{
      background-color: #dddddd;
      cursor: pointer;
    }
  </style>
{% endblock  %}

{% block head_add %}

  <style>

   .button-group>li>.button-nav {
     background-color: #0069AA;
   }
   .button-group>li>.button-nav:hover {
     background-color: #0F2C52;
   }

    .button.small, .button.small.success, .button.tiny, .button.postfix, .input.postfix{
      background-color: #0069AA;
    }

    .button.small:hover, .button.small.success:hover, .button.tiny:hover, .button.postfix:hover{
      background-color: #0F2C52;
    }

    .button-group>li>.active{
       background-color: #0F2C52;
      }


  </style>


{% endblock %}

{% block title %}{{title}} | Tinker{% endblock %}

{% block body_content %}

  <div class="row">
    <div class="large-12 columns">
      <div id="nav" class="nav-bar right">
        {{ nav.nav() }}
      </div>
      <h1 id="page-title">{% block page_title %}Bethel University Tinker{% endblock %}</h1>
      <hr />
    </div>
  </div>

  <div class="row">

            <!-- Main Blog Content -->
            <div class="large-{% block row_width %}10{% endblock %} columns" role="content">

                  {% block main_content %}
                  {% endblock %}
            </div>

            <!-- End Main Content -->


            <!-- Sidebar -->



            <!-- End Sidebar -->
          </div>

          <!-- End Main Content and Sidebar -->


          <!-- Footer -->

          <footer class="row">
            <div class="large-12 columns">
              <hr />
              <div class="row">
                <div class="large-6 columns">
                  <p>&copy; Bethel University -- <a href="/about">About</a></p>
                </div>
              </div>
            </div>
          </footer>
    {% endblock %}


  {% block endbody %}
      <script type="text/javascript">
  $( document ).ready(function() {
      if (typeof(CKEDITOR) != "undefined"){
        CKEDITOR.config.format_tags = 'h2;h3;h4';
        CKEDITOR.config.disableNativeSpellChecker = false;
        CKEDITOR.config.removePlugins = 'indent,indentlist,indentblock';
      }
      $(document).foundation();
  });

  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
  </script>

  {% endblock %}