{% extends 'creative_tim_base.html' %}
{% import 'creative_tim_sidebar.html' as sidebar %}
{% import 'nav.html' as nav %}
{% import 'creative_tim_footer.html' as footer %}


{% block title %}{{ title }} | Tinker{% endblock %}

{% block body_content %}

    <div class="wrapper">
        <div class="sidebar" data-active-color="green">
            {{ sidebar.render() }}
        </div>

        <div class="main-panel">
            {{ nav.render(title) }}
            {% include 'admin_user_bar.html' %}
            {% block main_content %}
            {% endblock %}

            {{ footer.render() }}
        </div>

    </div>
{% endblock %}