{% extends "creativeTim_base.html" %}
{% import 'nav.html' as nav %}

{% block styles %}
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <style>
    .table-hover:hover{
      background-color: #dddddd;
      cursor: pointer;
    }
  </style>
{% endblock  %}

{% block head_add %}

  <style>

   .button-group>li>.button-nav {
     background-color: #2015aa;
   }
   .button-group>li>.button-nav:hover {
     background-color: #2015aa;
   }

    .button.small, .button.small.success, .button.tiny, .button.postfix, .input.postfix{
      background-color: #1833aa;
    }

    .button.small:hover, .button.small.success:hover, .button.tiny:hover, .button.postfix:hover{
      background-color: #190a52;
    }

    .button-group>li>.active{
       background-color: #2015aa;
      }


  </style>


{% endblock %}

{% block title %}{{title}} | Tinker{% endblock %}

{% block body_content %}

  <div class="row">
    <div class="large-12 columns">
      <div id="nav" class="nav-bar right">
        {{ nav.nav() }}
      </div>
      <h1 class="title">{% block page_title %}Bethel University Tinker{% endblock %}</h1>
      <hr />
    </div>
  </div>

  <div class="row">

            <!-- Main Blog Content -->
            <div class="main-panel">

                  {% block main_content %}
                  {% endblock %}
            </div>

            <!-- End Main Content -->
          </div>

          <!-- End Main Content and Sidebar -->


          <!-- Footer -->
            <footer class="footer">
            <div class="container-fluid">
				<div class="copyright pull-right">
                     <p>&copy; Bethel University -- <a href="/about">About</a></p>
                </div>
            </div>
        </footer>

{#          <footer class="row">#}
{#            <div class="large-12 columns">#}
{#              <hr />#}
{#              <div class="row">#}
{#                <div class="large-6 columns">#}
{#                  <p>&copy; Bethel University -- <a href="/about">About</a></p>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </footer>#}
    {% endblock %}


  {% block endbody %}

          <!--   Core JS Files   -->
    <script src="static/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="static/assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="static/assets/js/bootstrap-checkbox-radio.js"></script>

	<!--  Charts Plugin -->
	<script src="static/assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="static/assets/js/bootstrap-notify.js"></script>


      <script type="text/javascript">
  $( document ).ready(function() {
      if (typeof(CKEDITOR) != "undefined") {
          CKEDITOR.config.format_tags = 'p';
          CKEDITOR.config.disableNativeSpellChecker = false;
          CKEDITOR.config.extraPlugins = 'wordcount,notification';
          CKEDITOR.config.wordcount = {
                showParagraphs: false,
                showWordCount: false
          };
          {% block ckeditor_extra %}
          {% endblock %}
      }
      $(document).foundation();
  });

  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
  </script>

  {% endblock %}