{% extends "foundation_base.html" %}

{% block title %}{{title}} | Tinker{% endblock %}

{% block body_content %}

  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="/" class="button">Home</a></li>
         <li><a href="/add-event" class="button">New Event</a></li>
         {% if 'FACULTY' in session['roles'] %}
          <li><a href="/facutly-bio" class="button">Edit Bio</a></li>
         {% endif %}
         <li><a href="/wufoo" class="button">Wufoo</a></li>

        </ul>
      </div>
      <h1>{% block page_title %}{% endblock %}</h1>
      <hr />
    </div>
  </div>

  <div class="row">

            <!-- Main Blog Content -->
            <div class="large-10 columns" role="content">

                  {% block main_content %}
                  {% endblock %}
            </div>

            <!-- End Main Content -->


            <!-- Sidebar -->



            <!-- End Sidebar -->
          </div>

          <!-- End Main Content and Sidebar -->


          <!-- Footer -->

          <footer class="row">
            <div class="large-12 columns">
              <hr />
              <div class="row">
                <div class="large-6 columns">
                  <p>&copy; Bethel University </p>
                </div>
              </div>
            </div>
          </footer>
    {% endblock %}